@charset "utf-8";

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot');
    src: url('../fonts/helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-roman-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('../fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
         url('../fonts/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneuecyrblack';
    src: url('../fonts/HelveticaNeueCyr-Black-webfont.eot');
    src: url('../fonts/HelveticaNeueCyr-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyr-Black-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyr-Black-webfont.woff') format('woff'),
         url('../fonts/HelveticaNeueCyr-Black-webfont.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyr-Black-webfont.svg#helveticaneuecyrblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
html { 
	font-size: 100%; 
	font-family: 'helveticaneuecyrroman', Arial, sans-serif; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}
button, 
input, 
select, 
textarea { 
	color: #000; 
	font-family: 'helveticaneuecyrroman', Arial, sans-serif;
}
body { 
	margin: 0; 
	color: #000; 
	font-size: 13px; 
	line-height: 1.3em;
	background-color: #f7f7f7; 
}
a { 
	color: #231f20; 
	text-decoration: underline;
}
a:visited { 
	color: #231f20;
}
a:hover { 
	color: #35c1ea;
	text-decoration: none;
}
a:focus,
a:hover, 
a:active { 
	outline: 0;
}
ul, 
ol { 
	margin: 0;
	padding: 0; 
	list-style-type: none;
}
table { 
	border-collapse: collapse; 
	border-spacing: 0;
}
td { 
	vertical-align: top;
}

a img {
	border: none;
	outline: none;
}
input:focus, 
textarea:focus{
	outline: none;
}

.float-cont:before, .float-cont:after {
    content: " ";
    display: table;
}
.float-cont:after {
    clear: both;
}

body {
	min-width: 980px;
}
.width {
	width: 940px;
	margin: auto;
	padding: 0 20px;
}
.header {
	background-color: #ffbf3f;
}
.menu {
	background-color: #000;
	color: #fff;
	margin-bottom: 22px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.menu .width {
	padding-left: 0;
	width: 960px;
}
.menu a {
	color: #fff;
}
.menu-item {
	float: left;
	position: relative;
}
.submenu {
	position: absolute;
	left: 0;
	top: 60px;
	background: #fff;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 9px 7px rgba(0,0,0,0.2);
	z-index: 1000;
	padding: 30px 10px 20px 20px;
	display: none;
	color: #000;
}
.menu-item:hover .submenu {
	display: block;
} 
.submenu a {
	color: #000;
	text-decoration: none;
}
.submenu a:hover {
	color: #35c1ea;
}
ul.submenu-list {
	margin-right: 40px;
	white-space: nowrap;
}
ul.submenu-list li {
	margin-bottom: 13px;
}
ul.submenu-list li:last-child {
	margin-bottom: 0;
}
.submenu-spec {
	border-left: 1px solid #eceaea;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	min-width: 125px;
}
.submenu-spec img {
	max-height: 85px;
	max-width: 120px;
}
.submenu-spec-img {
	display: inline-block;
	margin-bottom: 4px;
}
.submenu-spec-pr {
	font-size: 21px;
	line-height: 1em;
	font-family: 'open_sanssemibold';
	margin-top: 5px;
}
.submenu-spec-link {
	text-decoration: underline !important;
	font-family: 'open_sanssemibold';
	font-size: 12px;
	line-height: 1.1em;
}
.submenu-spec-link:hover {
	text-decoration: none !important;
}
.menu-item a.menu-link {
	display: block;
	line-height: 58px;
	font-family: 'helveticaneuecyrblack';
	font-size: 11px;
	text-transform: uppercase;
	margin-right: 4px;
	height: 58px;
	padding: 0 10px;
	text-decoration: none;
}
.menu-item a.menu-link:hover {
	text-decoration: none;
}
.menu-item:hover a.menu-link {
	background-color: #fff;
	color: #000;
	border-radius: 5px 5px 0 0;
	position: relative;
	z-index: 30;
}
.menu-item.no-submenu:hover a.menu-link {
	background-color: transparent;
	color: #fff;
}
a.menu-link .sh-fix {
	position: absolute;
	width: 100%;
	height: 8px;
	bottom: -4px;
	left: 0;
	display: none;
	background-color: #fff;
	z-index: 2000;
}
.menu-item.opened a.menu-link .sh-fix,
.menu-item:hover .sh-fix {
	display: block;
}
.menu-txt {
	display: inline-block;
	vertical-align: middle;
}
.menu-item.last a {
	margin-right: 0;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}
.service-menu {
	margin-bottom: 10px;
	float: left;
	margin-top: 18px;
}
.service-menu li {
	float: left;
	padding: 0 27px;
	border-right: 1px solid #fff;
	line-height: 27px;
}
.service-menu li a {
	color: #000;
}
.service-menu li.first {
	padding-left: 0;
}
.service-menu li.last {
	border-right: 0;
}
.logo {
	float: left;
	display: block;
	background: url(../images/ico/logo.png) no-repeat;
	width: 261px;
	height: 67px;
	margin: 24px 0 4px 0;
}
.service-top .fleft {
	margin-right: 64px;
}
.header a {
	color: #000;
}
.service-top {
	padding-top: 7px;
	padding-bottom: 3px;
}
.city-icon,
.delivery-icon,
.time-icon,
.help-icon {
	width: 40px;
	height: 40px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
.city-icon {
	background: url(../images/ico/city.png) no-repeat;
}
.delivery-icon {
	background: url(../images/ico/delivery.png) no-repeat;
}
.time-icon {
	background: url(../images/ico/time.png) no-repeat;
}
.help-icon {
	background: url(../images/ico/help.png) no-repeat;
}
a.underline {
	text-decoration: underline;
}
a.underline:hover {
	text-decoration: none;
}
a.menu-link.underline {
	text-decoration: underline;
	font-size: 13px;
}
a.menu-link.underline:hover {
	text-decoration: none;
}
a.city {
	text-decoration: none;
}
a.city:hover {
	text-decoration: none;
}
.search-block {
	position: relative;
	float: left;
	margin-right: 40px;
	margin-top: 30px;
}
.search-sub {
	width: 32px;
	height: 32px;
	background: url(../images/ico/submit.png) no-repeat;
	border: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
}
.search-sub:hover {
	background-position: left bottom;
}
.search-input {
	border-radius: 5px;
	width: 216px;
	padding: 0 12px;
	height: 40px;
	line-height: 40px;
	border: none;
}
.search-block .search-sub {
	position: absolute;
	top: 4px;
	right: 4px;
}
.shop-block {
	float: right;
}
.shop-cart {
	background-color: #fff;
	border-radius: 5px;
	height: 40px;
	padding-left: 7px;
	cursor: pointer;
}
.shop-cart .btn {
	float: right;
	margin-top: 3px;
	margin-right: 3px;
	height: 32px;
	line-height: 32px;
	font-size: 11px;
	font-family: 'helveticaneuecyrbold';
}
.cab-link {
	height: 30px;
	text-align: right;
}
.cab-link a {
	line-height: 1em;
	display: inline-block;
	margin-top: 11px;
	font-size: 11px;
}
.btn {
	display: inline-block;
	text-decoration: none;
	vertical-align: top;
	height: 38px;
	line-height: 38px;
	border: 1px solid #fdb723;
	border-radius: 5px;
	padding: 0 18px;
	color: #000;
	font-size: 13px;
	font-family: 'open_sanssemibold';
	box-shadow: 0 -3px 3px #fed466 inset;
	background: #ffdc57; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGM1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmMzNDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffdc57 0%, #ffc349 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc57), color-stop(100%,#ffc349)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffdc57 0%,#ffc349 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc57', endColorstr='#ffc349',GradientType=0 ); /* IE6-8 */
}
a.btn {
	text-decoration: none;
	color: #000;
}
.btn-wide {
	padding: 0 50px;
}
.btn:hover {
	text-decoration: none;
	background: #ffec56; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWM1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmQ5M2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffec56 0%, #ffd93f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffec56), color-stop(100%,#ffd93f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffec56 0%,#ffd93f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffec56 0%,#ffd93f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffec56 0%,#ffd93f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffec56 0%,#ffd93f 100%); /* W3C */
}
.price-cont {
	display: inline-block;
	vertical-align: top;
	margin-top: 7px;
	margin-right: 7px;
	background: url(../images/ico/ar1.png) no-repeat right center;
	padding-right: 17px;
}
.shop-cart-img {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	margin-top: 5px;
}
.price-cont .price {
	font-family: 'helveticaneuecyrblack';
	font-size: 13px;
	line-height: 1em;
}
.fs11 {
	font-size: 11px;
}
.search-block .tip {
	color: #886622;
	margin-top: 8px;
	text-align: center;
	font-size: 11px;
	line-height: 1em;
}
.search-block .tip a {
	color: #886622;
	background: url(../images/ico/dot.png) repeat-x left bottom;
	display: inline-block;
	padding-bottom: 2px;
	text-decoration: none;
}
.search-block .tip a:hover {
	background-image: none;
	text-decoration: none;
}
.contact-block {
	float: right;
	text-align: right;
}
.contact-block .ph,
.f-contacts .ph {
	font-size: 21px;
	line-height: 1em;
	margin-bottom: 3px;
}
.menu-ico {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	margin-right: 7px;
}
.menu1 {
	background-image: url(../images/ico/dog.png);
}
.menu2 {
	background-image: url(../images/ico/cat.png);
}
.menu3 {
	background-image: url(../images/ico/rodent.png);
}
.menu4 {
	background-image: url(../images/ico/fish.png);
}
.menu5 {
	background-image: url(../images/ico/bird.png);
}
.menu6 {
	background-image: url(../images/ico/reptile.png);
}
.menu7 {
	background-image: url(../images/ico/host.png);
}
.big-promo {
	float: left;
	width: 701px;
	height: 356px;
	padding-left: 11px;
	padding-top: 2px;
	overflow: hidden;
	background: url(../images/pic/box.png) no-repeat;
	margin-left: -11px;
	margin-top: -2px;
	position: relative;
	border-radius: 5px;
	z-index: 1;
}
.big-promo img {
	border-radius: 4px;
}
.big-promo .promo-txt {
	position: absolute;
	left: 271px;
	top: 145px;
	line-height: 1.6em;
	font-family: 'open_sanssemibold';
}
.small-promo {
	float: right;
	padding-top: 1px;
}
a.promo-img {
	display: block;
	width: 248px;
	height: 128px;
	background-repeat: no-repeat;
	text-decoration: none;
	margin-top: -7px;
}
a.promo-img:hover {
	text-decoration: none;
}
a.promo-img:hover .go {
	text-decoration: underline;
}
.promo-width {
	width: 950px;
	padding-left: 20px;
	padding-right: 10px;
	margin-bottom: 15px;
}
.promo-img .promo-txt {
	padding-left: 25px;
	padding-top: 24px;
	text-transform: uppercase;
	color: #fff;
	font-family: 'helveticaneuecyrbold';
	line-height: 1.3em;
	height: 60px;
}
.go {
	display: inline-block;
	background: url(../images/ico/ar-white.png) no-repeat right center;
	padding-right: 13px;
	color: #fff;
	font-size: 11px;
	padding-left: 25px;
}
.big-section {
	width: 460px;
	margin-bottom: 30px;
}
.big-section,
.small-section {
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.section-title {
	background: #000;
	color: #fff;
	font-size: 21px;
	border: 2px solid #ffbf3f;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	text-align: center;
	font-family: 'helveticaneuecyrbold';
	height: 48px;
}
.section-body {
	border: 2px solid #ffbf3f;
	border-top: 0;
	border-radius: 0 0 5px 5px;
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #fff;
	min-height: 226px;
	overflow: hidden;
	padding-bottom: 11px;
}
.section-body .col {
	text-align: center;
	width: 170px;
	padding-top: 15px;
}
.section-body .col ul {
	margin-bottom: 25px;
}
.section-body .col ul li {
	margin-bottom: 4px;
}
.section-body .col-title {
	margin-bottom: 26px;
	font-family: 'open_sanssemibold';
	font-size: 14px;
}
.big-section .title-ico {
	margin-top: -12px;
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	margin-right: 8px;
}
.section-title-txt {
	display: inline-block;
	margin-top: 14px;
	width: 190px;
	text-align: right;
}
.section-title-txt.right {
	text-align: left;
}
a.color {
	color: #35c1ea;
}
.small-section {
	width: 220px;
	margin-bottom: 20px;
	background-color: #fff;
	margin-right: 20px;
}
.small-section.fright {
	margin-right: 0;
}
.small-section .section-title {
	font-size: 13px;
	height: 38px;
}
.small-section .title-ico {
	margin-top: -12px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;
}
.small-section .section-title-txt {
	margin-top: 11px;
	width: 75px;
}
.small-section .section-body {
	padding-top: 122px;
	min-height: 0;
	padding-bottom: 29px;
}
.small-section .section-body .col {
	width: 100%;
}


.sh-box, .sh {
	box-shadow: 0 5px 7px 1px rgba(0,0,0,0.25);
	border-radius: 5px;
	background-color: #fff;
	margin-bottom: 20px;
}
.sh-box {
	float: left;
	margin-right: 20px;
}
.sh-box.fright {
	float: right;
	margin-right: 0;
} 
.adv-box {
	width: 220px;
	text-align: center;
}
.sh-box .box-inner {
	display: inline-block;
}
img.adv {
	display: inline-block;
	vertical-align: middle;
	margin-top: 20px;
}
.adv-txt {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	line-height: 1.4em;
}
.help-box {
	overflow: hidden;
	width: 460px;
	margin-right: 0;
}
.help-box img {
	float: left;
}
.help-box .help-txt {
	margin-left: 242px;
	margin-top: 32px;
}
.help-txt-title {
	text-transform: uppercase;
	font-family: 'helveticaneuecyrbold';
	margin-bottom: 3px;
}
.about-box {
	width: 460px;
	height: 460px;
}
.about-box .fix-height {
	height: 380px;
	overflow: hidden;
}
.help-cont {
	width: 460px;
	float: right;
}
.h1, h1 {
	text-transform: uppercase;
	font-size: 21px;
	font-family: 'helveticaneuecyrbold';
	font-weight: normal;
	margin-bottom: 24px;
	line-height: 1em;
}
.h3, h3 {
	font-size: 21px;
	text-transform: uppercase;
	font-family: 'helveticaneuecyrbold';
	font-weight: normal;
	margin-bottom: 28px;
	line-height: 1em;
}
.h4, h4 {
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'helveticaneuecyrbold';
	font-weight: normal;
	margin-bottom: 5px;
}
.sh-box-pad {
	padding: 19px;
}
.sh-box-pad-lr {
	padding: 0 19px;
}
.sh-box-panel {
	background-color: #f7f7f7;
}
.about-box p {
	font-size: 12px;
	line-height: 1.65em;
	margin-bottom: 20px;
}
table.cols5 {
	width: 100%;
	margin-bottom: 20px;
}
table.cols5 td {
	width: 20%;
}
.dig {
	font-size: 21px;
	font-family: 'helveticaneuecyrblack';
	color: #dedfe0;
	line-height: 1em;
	float: left;
	margin-right: 10px;
}
.dig-desc {
	overflow: hidden;
	line-height: 1.5em;
	padding-top: 2px;
}
.def-color {
	color: #787d82;
}
.def-color h1,
.def-color h2,
.def-color h3,
.def-color h4 {
	color: #000;
}
.no-float {
	float: none;
}
.sh-box.no-float {
	margin-right: 0;
}
.blog-short-item {
	float: left;
	margin-right: 20px;
	width: 210px;
}
.blog-short-img {
	display: block;
	width: 210px;
	height: 100px;
	overflow: hidden;
	margin-bottom: 20px;
}
.blog-short-date {
	margin-bottom: 5px;
	color: #787d82;
	font-size: 11px;
	line-height: 1em;
}
.blog-short-title {
	min-height: 33px;
	margin-bottom: 5px;
}
.blog-short-txt {
	color: #787d82;
	line-height: 1.5em;
}
.link-small {
	margin-bottom: 30px;
}
.mr0 {
	margin-right: 0 !important;
}
.search-bottom {
	background: #000;
	color: #fff;
	padding: 10px 0;
}
.search-bottom-txt {
	float: left;
	width: 49%;
	line-height: 40px;
}
.pl20 {
	padding-left: 20px;
}
.search-bottom .search-block {
	float: right;
	width: 49%;
	margin-right: 0;
	margin-top: 0;
}
.search-bottom .search-input {
	width: 437px;
}
.mb40 {
	margin-bottom: 40px;
}
.footer {
	font-size: 11px;
	padding-top: 52px;
	padding-bottom: 20px;
	background: #ffbf3f;
}
.f-delivery {
	float: left;
	margin-right: 55px;
	width: 170px;
	/*padding-left: 20px;*/
}
.f-menu {
	float: left;
	margin-right: 55px;
	max-width: 120px;
}
.f-catalog {
	float: left;
}
.f-contacts {
	float: right;
	margin-right: 20px;
}
.footer a {
	color: #000;
}
.f-menu ul li {
	margin-bottom: 9px;
	padding-top: 4px;
}
.link-ico {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.h4.black {
	font-family: 'helveticaneuecyrblack';
	text-transform: none;
	margin-bottom: 15px;
}
.soc-ico {
	float: left;
	margin-right: 5px;
}
.delivery-note {
	margin-bottom: 25px;
	font-size: 13px;
}
.delivery-block {
	position: relative;
	margin-bottom: 15px;
}
.delivery-input {
    border: 1px solid #e78800;
    border-radius: 2px;
    height: 28px;
    line-height: 28px;
    padding: 0 50px 0 10px;
    width: 109px;
    background: #f4f4f4;
    border-right: 0;
}
.delivery-sub {
	background: #fcaf17;
    border: 1px solid #e78800;
    border-width: 0 1px 0 1px;
    cursor: pointer;
    display: block;
    height: 28px;
    width: 38px; 
    position: absolute;
    right: 0;
    top: 1px;
    text-align: center;
    font-size: 13px;
    border-radius: 2px;
}
.delivery-sub:hover {
	background: #f2a100;
}
.mb20 {
	margin-bottom: 20px;
}
.fs13 {
	font-size: 13px;
}
.f-contacts .ph {
	margin-bottom: 5px;
}
.after-footer {
	text-align: center;
	padding: 26px 0;
	line-height: 1em;
}
.img-block {
	display: block;
}
ul.tabs {
	float: left;
	background: #c9f3ff;
	border-radius: 5px 5px 0 0;
}
ul.tabs li {
	float: left;
	background: #c9f3ff;
	text-align: center;
	padding: 0 33px;
	height: 40px;
	line-height: 40px;
	border-left: 1px solid #a7d7e5;
	cursor: pointer;
	margin-left: -1px;
}
ul.tabs li.first {
	border-radius: 5px 0 0 0;
	margin-left: 0;
	border-left: 0;
}
ul.tabs li.last {
	border-right: none;
	border-radius: 0 5px 0 0;
}
ul.tabs li.selected {
	background: #fff;
	box-shadow: 0 5px 7px 1px rgba(0,0,0,0.25);
	border-radius: 5px 5px 0 0;
	position: relative;
}
ul.tabs li.selected .sh-fix {
	position: absolute;
	width: 100%;
	height: 3px;
	background: #fff;
	bottom: 0;
	left: 0;
	z-index: 10;
} 
.tab-box {
	display: none;
	position: relative;
	box-shadow: 0 5px 7px 1px rgba(0,0,0,0.25);
	background: #fff;
	margin-bottom: 20px;
	padding: 15px 21px 20px;
	z-index: 5;
}
.tab-box.selected {
	display: block;
}


.catalog-item {
	float: left;
	width: 180px;
	position: relative;
}
.catalog-sep {
	width: 1px;
	height: 350px;
	background: #eceaea;
	float: left;
	margin: 0 29px 0 29px;
}
.catalog-item-img {
	padding-top: 15px;
	text-align: center;
	height: 130px;
	margin-bottom: 10px;
	overflow: hidden;
	line-height: 130px;
}
.catalog-item-img img {
	max-height: 130px;
	display: inline-block;
	vertical-align: middle;
	max-width: 180px;
}
.catalog-item-price .fs11 {
	margin-left: 2px;
}
.quick-view-btn {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #def8ff;
	border-radius: 5px;
	z-index: 10;
	padding: 7px 0 6px;
	line-height: 1em;
	text-align: center;
	cursor: pointer;
	display: none;
}
.quick-view-btn:hover {
	background-color: #9de9ff;
}
.catalog-item:hover .quick-view-btn {
	display: block;
}
.catalog-item:hover .catalog-item-img {
	opacity: 0.3;
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.qv {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	width: 23px;
	height: 24px;
	background: url(../images/ico/zoom.png) no-repeat;
}
.catalog-item-category {
	text-align: center;
}
.catalog-item-category-link {
	min-height: 33px;
	padding-top: 4px;
}
.catalog-item-category-link a {
	color: #35c1ea;
}
.catalog-item-brand {
	text-align: center;
	margin-bottom: 5px;
}
.catalog-item-brand a {
	font-family: 'open_sanssemibold';
	text-decoration: none;
}
.catalog-item-brand a:hover {
	text-decoration: none;
}
.catalog-item-title {
	text-align: center;
	min-height: 51px;
	overflow: hidden;
	margin-bottom: 7px;
	line-height: 17px;
}
.catalog-item-title a {
	color: #787d82;
	text-decoration: underline;
}
.catalog-item-title a:hover {
	color: #35c1ea;
}
.catalog-item a.btn {
	display: block;
	font-size: 13px;
	text-align: center;
	font-family: 'open_sanssemibold';
}
.catalog-item .btn-cont {
	margin-bottom: 18px;
}
.catalog-item-price {
	position: relative;
	margin-bottom: 10px;
	width: 135px;
	float: left;
}
.catalog-item-count {
	float: right;
	width: 40px;
}
.alter-price {
	position: absolute;
	left: 0;
	top: 40px;
	background: #fff;
	border: 1px solid #c3c3c3;
	border-top: none;
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	border-radius: 0 0 5px 5px;
	width: 178px;
	overflow: hidden;
	display: none;
}
.pr-cont {
	overflow: hidden;
}
.alter-price .pr-cont:hover {
	background: #eceaea;
	cursor: pointer;
}
.pr-cont .pr {
	float: left;
	width: 90px;
	font-size: 21px;
	line-height: 34px;
	font-family: 'helveticaneuecyrbold';
	margin-left: 11px;
}
.pr-cont .val {
	float: right;
	width: 74px;
	line-height: 34px;
}
.current-price {
	background: url(../images/ico/list.png) no-repeat 160px center #fff;
	border-radius: 5px 5px 0 0;
	border: 1px solid #c3c3c3;
	border-bottom: 0;
	padding: 4px 0 1px;
	cursor: pointer;
}
.select2-drop .pr,
.select2-chosen .pr {
	width: 64px;
	font-size: 14px;
	line-height: 28px;
	font-family: 'open_sansbold';
	display: block;
	float: left;
}
.select2-drop .val,
.select2-chosen .val {
	display: block;
	float: right;
}
.select2-chosen {
	overflow: hidden;
}
select.select2,
select.select2-complex {
	height: 28px;
	line-height: 28px;
}
.catalog-item-price .select2,
.catalog-item-price select {
	width: 135px !important;
}
.catalog-item-count .select2,
.catalog-item-count select {
	width: 40px !important;
}

.sidebar {
	float: left;
	width: 220px;
}
.right-content {
	float: right;
	width: 700px;
}
.quick-variant {
	background: #ebebeb;
	border-radius: 5px;
	margin-bottom: 10px;
	z-index: 10;
	height: 170px;
	overflow: hidden;
}
.quick-slide {
	float: left;
	width: 100px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
	padding-top: 10px;
	text-align: center;
	height: 140px;
	margin: 10px 3px;
}
.quick-img {
	width: 100px;
	height: 82px;
	line-height: 82px;
	margin-bottom: 10px;
}
.quick-img img {
	display: inline-block !important;
	vertical-align: middle;
}
.quick-slide .quick-name {
	font-size: 11px;
	line-height: 1.2em;
	margin: 0 5px;
}
.quick-name a {
	text-decoration: underline;
}
.quick-name a:hover {
	text-decoration: none;
}
.super-txt {
	vertical-align: super;
    font-size: 10px;
	line-height: 1em;
	margin-left: 2px;
}
.right-content h1 {
	text-transform: uppercase;
	font-size: 21px;
	font-family: 'helveticaneuecyrbold';
	font-weight: normal;
	margin-bottom: 22px;
	line-height: 1em;
	padding-top: 2px;
}
.right-content h1.v1 {
	padding-top: 11px;
	margin-bottom: 40px;
}
.sort {
	padding: 10px 20px;
	background-color: #f7f7f7;
}
.catalog {
	background-color: #fff;
}
.sort {
	color: #000;
}
a.sort-btn {
	border: 1px solid #d9d9d9;
	padding: 0 10px;
	height: 28px;
	line-height: 28px;
	border-radius: 5px;
	float: left;
	margin-right: 8px;
	text-decoration: none;
}
.sort-btn:hover {
	background-color: #d9d9d9;
	text-decoration: none;
	color: #000;
}
.sort-btn.active {
	background-color: #17b6e8;
	color: #fff;
	border-color: #17b6e8;
}
.sort-btn.active.sort-up {
	background: url(../images/ico/ar-up.png) no-repeat 10px center #17b6e8;
	padding-left: 27px; 
}
.sort-btn.active.sort-down {
	background: url(../images/ico/ar-down.png) no-repeat 10px center #17b6e8;
	padding-left: 27px; 
}
.sort-title {
	float: left;
	margin-right: 9px;
	line-height: 28px;
}
.sort-count {
	line-height: 28px;
}
.p20 {
	padding: 20px;
}
.catalog .catalog-item {
	position: relative;
	border-bottom: 1px solid #eceaea;
	padding-bottom: 20px;
	margin-bottom: 24px;
}
.catalog .catalog-sep {
	height: 320px;
}
.def-color p {
	margin-bottom: 20px;
}
.filter-cont {
	border: 2px solid #ffbf3f;
	margin-bottom: 20px;
}
.catalog-title {
	background-color: #000;
	text-align: center;
	padding: 15px;
	color: #fff;
	font-family: 'helveticaneuecyrbold';
	border-radius: 4px 4px 0 0;
}
.level-up {
	margin-bottom: 12px;
	text-align: center;
	font-family: 'helveticaneuecyrbold';
}
.level-up a {
	text-decoration: underline;
	padding-left: 14px;
	background: url(../images/ico/back.png) no-repeat left center;
}
.level-up a:hover {
	text-decoration: none;
}
.breed-cont {
	margin-bottom: 30px;
}
.breed-cont .popup-btn {
	display: block;
	text-align: center;
	padding: 0;
}
.btn-big {
	height: 38px;
	line-height: 38px;
	font-size: 16px;
	font-family: 'helveticaneuecyrbold';
	text-align: center;
}
.breed-cont .btn-big.active {
	font-size: 14px;
	font-family: 'helveticaneuecyrroman';
}
.breadcrumb {
	font-size: 11px;
	line-height: 1em;
	margin-bottom: 13px;
	overflow: hidden;
}
.bread {
	float: left;
	text-decoration: none;
}
.breadcrumb .sep {
	margin: 0 5px;
	float: left;
}
.bread-current {
	font-family: 'helveticaneuecyrbold';
	text-decoration: none;
}
.filter-title {
	background: #ececec; /* Old browsers */
	background: -moz-linear-gradient(top,  #ececec 0%, #d3d3d3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ececec 0%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ececec 0%,#d3d3d3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ececec 0%,#d3d3d3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ececec 0%,#d3d3d3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
	padding: 10px 44px 10px 18px;
	line-height: 1em;
	font-size: 11px;
	font-family: 'helveticaneuecyrbold';
	position: relative;
	cursor: pointer;
}
.filter-title-arrow {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/ico/ar-toggle.png) no-repeat 0 0;
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -8px; 
}
.opened .filter-title-arrow {
	background-position: left bottom;
}
.filter-content {
	margin: 0 18px 10px;
	display: none;
}
.filter-block.default-opened .filter-content {
	display: block;
}
.filter-content li {
	border-bottom: 1px solid #eceaea;
	padding: 12px 0;
	line-height: 1em;
	cursor: pointer;
}
.filter-content li:first-child {
	padding-top: 17px;
}
.filter-content li:last-child {
	border-bottom: none;
}
.btn-reset {
	background: url(../images/ico/reset.png) no-repeat;
	padding-left: 16px;
	text-decoration: underline;
	font-size: 11px;
}
.btn-reset:hover {
	text-decoration: none;
}
.filter-btn {
	background-color: #f7f7f7;
	padding: 26px 0 16px 18px;
}
.filter-btn .btn-reset {
	margin-left: 15px;
}
.btn-med {
	height: 38px;
	line-height: 38px;
	font-size: 13px;
	padding: 0 20px;
	font-family: 'helveticaneuecyrroman';
}
.filter-btn .btn {
	vertical-align: middle;
}
.slider-form {
	padding: 18px 18px 30px;
}
.slider-form input {
	width: 62px;
	padding: 0 8px;
	background-color: #f7f7f7;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	height: 28px;
	line-height: 28px;
	font-size: 11px;
	margin-top: 4px;
}
.slider-form .fleft input {
	margin-right: 20px;
}
h5,.h5 {
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'helveticaneuecyrbold';
	margin-bottom: 5px;
	font-weight: normal;
}
.catalog .catalog-item .catalog-item-category {
	display: none;
	position: absolute;
	bottom: -40px;
	left: 0;
	background: #fff;
	padding: 10px 0;
	width: 180px;
}
.catalog .catalog-item:hover .catalog-item-category {
	display: block;
}
.top-page {
	padding-right: 26px;
	background: url(../images/ico/top-page.png) no-repeat right center;
	min-height: 20px;
	display: inline-block;
	line-height: 20px;
}
.top-page:hover {
	text-decoration: none;
	color: #000;
}
.pag-title,
.page {
	float: left;
	margin-right: 10px;
	height: 28px;
	line-height: 28px;
	color: #000;
}
.page {
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
}
.page:hover {
	color: #000;
	background: #d9d9d9;
}
.page.selected {
	background: #ffbf3f;
	border-color: #ffbf3f;
}
a.page {
	text-decoration: none;
}
.catalog-btm {
	background: #f7f7f7;
	padding: 10px 20px;
	border-radius: 5px;
}
.page.hidden {
	display: none;
}
.catalog-btm .top-page {
	line-height: 28px;
	height: 28px;
}
.ib {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.small-select .select2-container .select2-choice{
	height: 22px;
	line-height: 22px;
	font-size: 12px;
}
.slider-range-cont {
	margin: 0 8px;
}
.filter-content.slider-form {
	margin: 0;
}
.popup-cont {
	position: relative;
}
.popup-layer {
	position: absolute;
	left: 0;
	box-shadow: 0 5px 7px 1px rgba(0,0,0,0.25);
	background: #fff;
	border-radius: 5px;
	width: 400px;
	z-index: 1000;
	display: none;
}
.popup-inner {
	padding: 20px;
}
.popup-close {
	width: 14px;
	height: 15px;
	background: url(../images/ico/close.png) no-repeat;
	cursor: pointer;
	right: 13px;
	top: 13px;
	position: absolute;
}
.popup-close:hover {
	background-position: left bottom;
}
.popup-corner {
	position: absolute;
	width: 18px;
	height: 11px;
	background: url(../images/ico/popup-corner.png) no-repeat;
	top: -8px;
	left: 20px;
}
.tags {
	margin-bottom: 10px;
	margin-top: 13px;
}
.tag {
	display: inline-block;
	background: #17b6e8;
	color: #fff;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	padding: 0 7px 0 10px;
	margin-bottom: 7px;
}
.tag-remove {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 15px;
	background: url(../images/ico/remove.png) no-repeat;
	cursor: pointer;
	margin-left: 17px;
}
.tag-remove:hover {
	background-position: left bottom;
}
input.tag-input {
	height: 38px;
	line-height: 38px;
	border: 1px solid #cdcdcd;
	background: #efefef;
	border-radius: 5px;
	width: 236px;
	padding: 0 102px 0 20px;
}
.autocomplete-cont {
	position: relative;
}
.autocomplete {
	position: absolute;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 7px 1px rgba(0,0,0,0.25);
	left: 0;
	top: 41px;
	display: none;
}
.autocomplete-line {
	padding: 12px 0 12px 20px;
	line-height: 1em;
	cursor: pointer;
}
.autocomplete-line:hover {
	background: #eceaea;
}
.autocomplete-submit {
	position: absolute;
	right: 4px;
	top: 4px;
	width: 94px;
	padding: 0;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-family: "helveticaneuecyrroman";
}
.tip-layer {
	position: absolute;
	left: 220px;
	top: 0;
	background: #fff;
	border-radius: 0 5px 5px 0;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	white-space: nowrap;
	box-shadow: 0 3px 7px 1px rgba(0,0,0,0.3);
	display: none;
}
.tip-corner {
	width: 11px;
	height: 11px;
	background: url(../images/ico/tip-corner.png) no-repeat;
	left: -10px;
	top: 50%;
	margin-top: -6px;
	position: absolute;
	display: block;
}
.breadcrumb-cont {
	margin-bottom: 5px;
}
.breadcrumb-cont .breadcrumb {
	min-height: 24px;
}
.breadcrumb-cont .small-select {
	margin-top: -6px;
}
.line:last-child .catalog-item {
	border-bottom: none;
}
.catalog-list {
	margin-bottom: 13px;
}
.mb0 {
	margin-bottom: 0 !important;
}
.catalog-list li {
	margin: 0 18px;
}
.catalog-list li a.catalog-list-link {
    border-bottom: 1px solid #eceaea;
    line-height: 1em;
    padding: 13px 0;
    display: block;
    text-decoration: none;
}
.catalog-list li:last-child a.catalog-list-link {
	border-bottom: none;
}
.catalog-list li:first-child a.catalog-list-link {
    margin-top: 20px;
}
.filter-cont .small-section {
	width: auto;
	margin-bottom: 0;
	margin-right: 0;
	white-space: nowrap;
	box-shadow: none;
}
.filter-cont .small-section .section-title-txt {
	width: 72px;
}
.filter-cont .small-section .title-ico {
	margin-left: 7px;
	margin-right: 7px;
}
.btn.btn-block {
	display: block;
	text-align: center;
}
.blog-short-item.w300 {
	width: 300px;
}
h3.mb10 {
	margin-bottom: 10px;
}
.brand-btn-cont {
	margin: 10px 18px 18px;
}
.brand-more .catalog-list {
	display: none;
}
.brand-more .catalog-list li:first-child a.catalog-list-link {
	margin-top: 0;
	border-top: 1px solid #eceaea;
}
.main-catalog-item {
	float: left;
	width: 160px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.3);
	margin: 0 20px 20px 0;
	text-align: center;
}
.main-catalog-item.every4 {
	margin-right: 0;
}
.main-catalog-item-img {
	height: 145px;
	margin-bottom: 10px;
	margin-top: 5px;
	line-height: 145px;
}
.main-catalog-item-img img {
	display: inline-block;
	vertical-align: middle;
}
.main-catalog-item-img a:hover img {
	opacity: 0.6;
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.main-catalog-item-name {
	height: 50px;
}
.main-catalog-item-name a {
	font-family: 'open_sanssemibold';
	line-height: 1em;
}
.subcatalog-title {
	background: #ffbf3f;
	border-radius: 5px 5px 0 0;
	padding: 18px 20px 15px;
}
h2 {
	font-family: 'helveticaneuecyrbold';
	font-weight: normal;
}
.subcatalog-title h2 {
	font-size: 16px;
	line-height: 1em;
}
.subcatalog-title a {
	color: #000;
}
.subcatalog-title .fleft {
	width: 55%;
}
.subcatalog-title .fright {
	text-align: right;
	width: 43%;
}
.sh.def-color {
	line-height: 1.5em;
}
.sh.def-color strong {
	font-weight: normal;
	font-family: 'open_sanssemibold';
	color: #000;
}
/* Алфавитный список */
.alphabet {}
.alphabet-item {
	display: inline-block;
}
.alphabet-link{
	position: relative;
	display: block;
	padding: 0 5px;
	font: normal 16px/51px 'helveticaneuecyrbold';
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}
.alphabet-link:hover,
.alphabet-link.active{
	background-color: #17b6e8;
	color: #fff;
}
.alphabet-link.active:hover:after {
	content: '';
	width: 100%;
	height: 7px;
	position: absolute;
	left: 0;
	bottom: 6px;
	background: url(../images/ico/reset-white.png) 50% 0 no-repeat #17b6e8;
}
.alphabet  a.color {
	margin-top: 18px;
}

/* категории бренов*/
.brands{}
.brand-section {
	border-bottom: 1px solid #eceaea;
}
.brand-section:last-child {
	border-bottom: 0;
}
.brand-column {
	display: inline-block;
	vertical-align: top;
}
.brand-section-name {
	width: 70px;
	font: 34px/100px 'helveticaneuecyrbold';
	text-transform: uppercase;
}
.brand-list {
	width: 200px;
	margin-right: 8px;
	padding-top: 17px;
}
.brand-link {
	line-height: 22px;
	text-decoration: none;
}
