//= includes/header.html

<div class="width promo-width">
	<div class="promo float-cont">
		<div class="big-promo">
			<img src="static/images/pic/big.jpg" alt=""/>
			<div class="promo-txt">Самый большой<br/>интернет-магазин товаров<br/>для домашних животных</div>
		</div>
		<div class="small-promo">
			<a href="#" class="promo-img" style="background-image: url(static/images/pic/bn1.png);">
				<div class="promo-txt">Бесплатный<br/>возврат<br/>товаров</div>
				<span class="go">Перейти</span>
			</a>
			<a href="#" class="promo-img" style="background-image: url(static/images/pic/bn2.png);">
				<div class="promo-txt">Скидки<br/>на товары</div>
				<span class="go">Перейти</span>
			</a>
			<a href="#" class="promo-img" style="background-image: url(static/images/pic/bn3.png);">
				<div class="promo-txt">Поиск<br/>по породам</div>
				<span class="go">Перейти</span>
			</a>
		</div>
	</div>
</div>

<div class="width">
	<div class="float-cont">
		<div class="fleft big-section">
			<div class="section-title">
				<span class="section-title-txt">Все для</span><img src="static/images/ico/dog1.png" alt="" class="title-ico"/><span class="section-title-txt right">собак</span>
			</div>

			<div class="section-body" style="background-image: url(static/images/pic/dog.jpg);">
				<div class="col fleft">
					<div class="col-title">Подразделы</div>
					<ul>
						<li><a href="">Корма</a></li>
						<li><a href="">Здоровье</a></li>
						<li><a href="">Гигиена и уборка</a></li>
						<li><a href="">Уход</a></li>
						<li><a href="">Лежаки, домики</a></li>
						<li><a href="">Ошейники, поводки</a></li>
					</ul>
					<a href="" class="color">Все подразделы</a>
				</div>
				<div class="col fright">
					<div class="col-title">Производители</div>
					<ul>
						<li><a href="">Acana</a></li>
						<li><a href="">Dr/Clauder's</a></li>
						<li><a href="">Happy Dog</a></li>
						<li><a href="">Hill's</a></li>
						<li><a href="">Pedigree</a></li>
						<li><a href="">Royal Canin</a></li>
					</ul>
					<a href="" class="color">Все производители</a>
				</div>
			</div>
		</div>

		<div class="fright big-section">
			<div class="section-title">
				<span class="section-title-txt">Все для</span><img src="static/images/ico/cat1.png" alt="" class="title-ico"/><span class="section-title-txt right">кошек</span>
			</div>

			<div class="section-body" style="background-image: url(static/images/pic/cat.jpg);">
				<div class="col fleft">
					<div class="col-title">Подразделы</div>
					<ul>
						<li><a href="">Корма</a></li>
						<li><a href="">Здоровье</a></li>
						<li><a href="">Гигиена и уборка</a></li>
						<li><a href="">Уход</a></li>
						<li><a href="">Лежаки, домики</a></li>
						<li><a href="">Когтеточки</a></li>
					</ul>
					<a href="" class="color">Все подразделы</a>
				</div>
				<div class="col fright">
					<div class="col-title">Производители</div>
					<ul>
						<li><a href="">Acana</a></li>
						<li><a href="">Dr/Clauder's</a></li>
						<li><a href="">Happy Dog</a></li>
						<li><a href="">Hill's</a></li>
						<li><a href="">Pedigree</a></li>
						<li><a href="">Royal Canin</a></li>
					</ul>
					<a href="" class="color">Все производители</a>
				</div>
			</div>
		</div>

		<div class="fleft small-section">
			<div class="section-title">
				<span class="section-title-txt">Все для</span><img src="static/images/ico/rodent1.png" alt="" class="title-ico"/><span class="section-title-txt right">грызунов</span>
			</div>

			<div class="section-body" style="background-image: url(static/images/pic/rodent.jpg);">
				<div class="col">
					<ul>
						<li><a href="">Корма</a></li>
						<li><a href="">Гигиена и косметика</a></li>
						<li><a href="">Клетки и переноски</a></li>
						<li><a href="">Наполнители, сено, опилки</a></li>
						<li><a href="">Игрушки</a></li>
					</ul>
					<a href="" class="color">В каталог для грызунов</a>
				</div>
			</div>
		</div>

		<div class="fleft small-section">
			<div class="section-title">
				<span class="section-title-txt">Все для</span><img src="static/images/ico/fish1.png" alt="" class="title-ico"/><span class="section-title-txt right">рыбок</span>
			</div>

			<div class="section-body" style="background-image: url(static/images/pic/fish.jpg);">
				<div class="col">
					<ul>
						<li><a href="">Корма</a></li>
						<li><a href="">Аксессуары</a></li>
						<li><a href="">Аквариумы</a></li>
						<li><a href="">Оборудование</a></li>
						<li><a href="">Препараты</a></li>
					</ul>
					<a href="" class="color">В каталог для рыбок</a>
				</div>
			</div>
		</div>

		<div class="fleft small-section">
			<div class="section-title">
				<span class="section-title-txt">Все для</span><img src="static/images/ico/bird1.png" alt="" class="title-ico"/><span class="section-title-txt right">птиц</span>
			</div>

			<div class="section-body" style="background-image: url(static/images/pic/bird.jpg);">
				<div class="col">
					<ul>
						<li><a href="">Корма</a></li>
						<li><a href="">Гигиена и косметика</a></li>
						<li><a href="">Клетки и переноски</a></li>
						<li><a href="">Витамины</a></li>
						<li><a href="">Игрушки</a></li>
					</ul>
					<a href="" class="color">В каталог для птиц</a>
				</div>
			</div>
		</div>

		<div class="fright small-section">
			<div class="section-title">
				<span class="section-title-txt">Все для</span><img src="static/images/ico/reptile1.png" alt="" class="title-ico"/><span class="section-title-txt right">рептилий</span>
			</div>

			<div class="section-body" style="background-image: url(static/images/pic/reptile.jpg);">
				<div class="col">
					<ul>
						<li><a href="">Корма</a></li>
						<li><a href="">Гигиена и косметика</a></li>
						<li><a href="">Клетки и переноски</a></li>
						<li><a href="">Витамины</a></li>
						<li><a href="">Игрушки</a></li>
					</ul>
					<a href="" class="color">В каталог для рептилий</a>
				</div>
			</div>
		</div>
	</div>

	<div class="tabs-cont">
		<div class="float-cont">
			<ul class="tabs">
				<li class="first selected">Новинки<span class="sh-fix"></span></li>
				<li>Топ-20<span class="sh-fix"></span></li>
				<li class="last">Распродажа<span class="sh-fix"></span></li>
			</ul>
		</div>
		<div class="tab-box selected float-cont">
			<div class="catalog-item">
				<div class="quick-view-btn">
					<span class="qv"></span>Быстрый просмотр
				</div>
				<div class="catalog-item-img">
					<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
				</div>
				<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
				<div class="catalog-item-title"><a href="">Adult Neutered Small Dog, корм для собак мелких пород</a></div>
				<div class="float-cont">
					<div class="catalog-item-price">
						<div class="fs11">Цена</div>
						<select class="select2-complex">
							<option data-volume="3,5 кг">1 625 Р</option>
							<option selected data-volume="2 кг">920 Р</option>
							<option data-volume="0,5 кг">550 Р</option>
						</select>
					</div>
					<div class="catalog-item-count">
						<div class="fs11">Кол-во</div>
						<select class="select2">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="btn-cont"><a href="" class="btn">Купить</a></div>
				<div class="catalog-item-category">
					В категории
					<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
				</div>
			</div>

			<div class="catalog-sep"></div>

			<div class="catalog-item">
				<div class="quick-view-btn">
					<span class="qv"></span>Быстрый просмотр
				</div>
				<div class="catalog-item-img">
					<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
				</div>
				<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
				<div class="catalog-item-title"><a href="">Adult Neutered Small Dog, корм для собак мелких пород</a></div>
				<div class="float-cont">
					<div class="catalog-item-price">
						<div class="fs11">Цена</div>
						<select class="select2-complex">
							<option selected data-volume="3,5 кг">10 625 Р</option>
							<option data-volume="2 кг">920 Р</option>
							<option data-volume="0,5 кг">550 Р</option>
						</select>
					</div>
					<div class="catalog-item-count">
						<div class="fs11">Кол-во</div>
						<select class="select2">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="btn-cont"><a href="" class="btn">Купить</a></div>
				<div class="catalog-item-category">
					В категории
					<div class="catalog-item-category-link"><a href="">Корм для кастрированных собак</a></div>
				</div>
			</div>

			<div class="catalog-sep"></div>

			<div class="catalog-item">
				<div class="quick-view-btn">
					<span class="qv"></span>Быстрый просмотр
				</div>
				<div class="catalog-item-img">
					<a href=""><img src="static/images/upload/c3.jpg" alt=""/></a>
				</div>
				<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
				<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков, живущих в городских...</a></div>
				<div class="float-cont">
					<div class="catalog-item-price">
						<div class="fs11">Цена</div>
						<select class="select2-complex">
							<option selected data-volume="20 кг">109 625 Р</option>
							<option data-volume="2 кг">920 Р</option>
							<option data-volume="0,5 кг">550 Р</option>
						</select>
					</div>
					<div class="catalog-item-count">
						<div class="fs11">Кол-во</div>
						<select class="select2">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="btn-cont"><a href="" class="btn">Купить</a></div>
				<div class="catalog-item-category">
					В категории
					<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
				</div>
			</div>

			<div class="catalog-sep"></div>

			<div class="catalog-item">
				<div class="quick-view-btn">
					<span class="qv"></span>Быстрый просмотр
				</div>
				<div class="catalog-item-img">
					<a href=""><img src="static/images/upload/c4.jpg" alt=""/></a>
				</div>
				<div class="catalog-item-brand"><a href="">Pedigree Dentastix</a></div>
				<div class="catalog-item-title"><a href="">Лакомство для собак для ухода за зубами</a></div>
				<div class="float-cont">
					<div class="catalog-item-price">
						<div class="fs11">Цена</div>
						<select class="select2-complex">
							<option selected data-volume="13,5 кг">10 625 Р</option>
							<option data-volume="2 кг">920 Р</option>
							<option data-volume="0,5 кг">550 Р</option>
						</select>
					</div>
					<div class="catalog-item-count">
						<div class="fs11">Кол-во</div>
						<select class="select2">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
				</div>
				<div class="btn-cont"><a href="" class="btn">Купить</a></div>
				<div class="catalog-item-category">
					В категории
					<div class="catalog-item-category-link"><a href="">Уход за зубами</a>, <a href="">Лакомство для собак</a></div>
				</div>
			</div>


		</div>
		<div class="tab-box">контент2...</div>
		<div class="tab-box">контент3...</div>
	</div>

	<div class="float-cont">
		<div class="sh-box adv-box">
			<div class="box-inner">
				<img src="static/images/ico/adv1.png" alt="" class="adv"/>
				<div class="adv-txt">Бесплатная<br/>доставка по<br/>Москве от 999 руб!</div>
			</div>
		</div>
		<div class="sh-box adv-box">
			<div class="box-inner">
				<img src="static/images/ico/adv2.png" alt="" class="adv"/>
				<div class="adv-txt">Система бонусов<br/>и скидок!</div>
			</div>
		</div>
		<div class="sh-box adv-box">
			<div class="box-inner">
				<img src="static/images/ico/adv3.png" alt="" class="adv"/>
				<div class="adv-txt">Бесплатный<br/>возврат</div>
			</div>
		</div>
		<div class="sh-box adv-box fright">
			<div class="box-inner">
				<img src="static/images/ico/adv4.png" alt="" class="adv"/>
				<div class="adv-txt">Удобный поиск<br/>по породам</div>
			</div>
		</div>
	</div>

	<div class="float-cont">
		<div class="sh-box about-box">
			<div class="sh-box-pad def-color">
				<div class="fix-height">
					<h1 class="h3">Магазин Тинни-Винни</h1>
					<h4>Давайте знакомиться!</h4>
					<p>Тинни-Винни — это интернет-магазин товаров для домашних животных! Наша цель — сделать товары для животных доступными для вас, а ваших питомцев - довольными и здоровыми!</p>
					<h4>Почему именно Тинни-Винни?</h4>
					<p>У нас удобная бесплатная доставка, бонусы с каждого заказа, многофункциональный Личный кабинет и большой выбор товаров!
					Мы ориентированы в первую очередь на продажу в Москве
					и Московской области, но можем доставить в любой город России.</p>
					<h4>Мы гарантируем:</h4>
					<p>Качественные товары, бесплатный возврат, вежливое обращение!
					Подробнее о нашей компании вы можете прочитать на странице.</p>
				</div>
				<a href="" class="btn btn-wide">О нас</a>
			</div>
		</div>
		<div class="help-cont">
			<div class="sh-box help-box">
				<img src="static/images/pic/help1.jpg" alt=""/>
				<div class="help-txt">
					<div class="help-txt-title">Онлайн-консультант</div>
					<a href="">Чат с менеджером</a>
				</div>
			</div>
			<div class="sh-box help-box">
				<img src="static/images/pic/help2.jpg" alt=""/>
				<div class="help-txt">
					<div class="help-txt-title">Обратный звонок</div>
					<a href="">Заказать</a>
				</div>
			</div>
			<div class="sh-box help-box">
				<img src="static/images/pic/help3.jpg" alt=""/>
				<div class="help-txt">
					<div class="help-txt-title">Хотите вернуть покупку</div>
					<a href="">Инструкция по возврату</a>
				</div>
			</div>
			<div class="sh-box help-box">
				<img src="static/images/pic/help4.jpg" alt=""/>
				<div class="help-txt">
					<div class="help-txt-title">Где мой заказ?</div>
					<a href="">Узнать статус заказа</a>
				</div>
			</div>
		</div>
	</div>

	<div class="sh-box no-float">
		<div class="sh-box-pad def-color">
			<h3>5 причин зарегистрироваться</h3>
			<table class="cols5">
				<tr>
					<td>
						<div class="dig">01</div>
						<div class="dig-desc">
						Быстрое<br/>оформление<br/> заказа
						</div>
					</td>
					<td>
						<div class="dig">02</div>
						<div class="dig-desc">
						Возможность<br/>изменить заказ<br/>в Личном кабинете
						</div>
					</td>
					<td>
						<div class="dig">03</div>
						<div class="dig-desc">
						Отображение<br/>акции и новинок<br/>только для<br/>вашего вида питомца
						</div>
					</td>
					<td>
						<div class="dig">04</div>
						<div class="dig-desc">
						Накопление<br/>бонусов
						</div>
					</td>
					<td>
						<div class="dig">05</div>
						<div class="dig-desc">
						Сохранение товаров<br/>в списки избранного
						</div>
					</td>
				</tr>
			</table>
			<a href="" class="btn">Зарегистрироваться</a>
		</div>
	</div>

	<div class="sh-box no-float mb40">
		<div class="sh-box-pad def-color">
			<h3>Из нашего блога</h3>
			<div class="link-small"><a href="" class="underline">Все записи</a></div>
			<div class="float-cont">
				<div class="blog-short-item">
					<a href="" class="blog-short-img"><img src="static/images/upload/b1.jpg" alt=""/></a>
					<div class="blog-short-date">15 декабря 2015</div>
					<div class="blog-short-title"><a href="">Выбираем корм для щенка</a></div>
					<div class="blog-short-txt">Как правильно выбрать корм: в зависимости от породы, возраста и активности вашего щенка.</div>
				</div>

				<div class="blog-short-item">
					<a href="" class="blog-short-img"><img src="static/images/upload/b1.jpg" alt=""/></a>
					<div class="blog-short-date">15 декабря 2015</div>
					<div class="blog-short-title"><a href="">Дрессировка собаки - с какого возраста начать...</a></div>
					<div class="blog-short-txt">Как правильно выбрать корм: в зависимости от породы, возраста и активности вашего щенка.</div>
				</div>

				<div class="blog-short-item">
					<a href="" class="blog-short-img"><img src="static/images/upload/b1.jpg" alt=""/></a>
					<div class="blog-short-date">15 декабря 2015</div>
					<div class="blog-short-title"><a href="">Сбалансированное питание для маленьких собак</a></div>
					<div class="blog-short-txt">Маленькие собаки нуждаются в особом питании. Мы хотим поделиться нашим опытом с вами!</div>
				</div>

				<div class="blog-short-item mr0">
					<a href="" class="blog-short-img"><img src="static/images/upload/b1.jpg" alt=""/></a>
					<div class="blog-short-date">15 декабря 2015</div>
					<div class="blog-short-title"><a href="">Совместная жизнь щенка и котенка</a></div>
					<div class="blog-short-txt">Этот текст стоит ограничить в админке, либо не ограничивать совсем. Пусть здесь будет текста столько, сколько считает нужным контент-менеджер.</div>
				</div>
			</div>
		</div>
	</div>
</div>

//= includes/footer.html

