<div class="tab-box_top p20">
    <div class="alert mb25">
        <i class="close"></i>
        <p>Заполните аккаунт на 100% и получите промо-код на покупки!</p>
        <p><a href="#" class="no-underline s-scroll" data-scroll="addAddress">Добавить адрес</a>, <a href="#" class="no-underline s-scroll" data-scroll="addPet">добавить питомца</a></p>
    </div>
    <h2 class="v1">Основная информация</h2>
    <form action="#" method="post" class="s-change" data-change="user">
        <div class="form_group">
            <label for="name" class="form_label">Ваше имя:</label>
            <input type="text" id="name" class="form_text" value="Владимир" />
        </div>
        <div class="form_group">
            <label for="phone1" class="form_label">Мобильный телефон:</label>
            <div class="tip-wrap">
                <input type="text" id="phone1" class="form_text phone-mask" placeholder="+7 (111) 111-11-11" />
                <div class="tip tip_inside">Телефон нужен: для подтверждения заказа оператором, для восстановления пароля и для информации о статусе заказа по SMS. Используйте телефон для входа как логин.</div>
            </div>
        </div>
        <div class="form_group">
            <label for="email1" class="form_label">E-mail:</label>
            <div class="tip-wrap">
                <input type="text" id="email1" class="form_text" />
                <div class="tip tip_inside">E-mail нужен: как логин для входа в аккаунт, для восстановления пароля и для отправления информации о статусе заказа.</div>
            </div>
        </div>
        <div class="form_group" data-hide="changePassword">
            <span>Пароль: <a href="#" class="blue s-toggle" data-toggle="changePassword">изменить пароль</a></span>
        </div>
        <div class="hidden" data-show="changePassword">
            <div class="form_group_full">
                <div class="form_inline form_inline_middle form_group">
                    <label for="oldPas" class="form_label">Старый пароль:</label>
                    <input type="password" id="oldPas" class="form_text s-password" data-password="oldPas" />
                </div>
                <label for="show_oldPas" class="form_checkbox">
                    <input type="checkbox" id="show_oldPas" class="s-show-password" data-password="oldPas" />
                    <i></i>
                    Показать пароль
                </label>
            </div>
            <div class="form_group_full">
                <div class="form_inline form_inline_middle form_group">
                    <label for="newPas" class="form_label">Старый пароль:</label>
                    <input type="password" id="newPas" class="form_text s-password" data-password="newPas" />
                </div>
                <label for="show_newPas" class="form_checkbox">
                    <input type="checkbox" id="show_newPas" class="s-show-password" data-password="newPas" />
                    <i></i>
                    Показать пароль
                </label>
            </div>
        </div>
        <div class="form_group mb0">
            <input type="submit" class="btn btn_grey" value="Сохранить данные"  data-change="user" disabled />
        </div>
    </form>
</div>
<div class="sh p20" data-scrollTo="addAddress">
    <h2 class="v1">Адрес для доставки</h2>
    <div class="form_group tip-wrap" data-hide="addAddress">
        <button class="btn btn_block s-toggle" data-toggle="addAddress">Добавить адрес</button>
        <div class="tip tip_inside">Заполните 1 раз адрес доставки, и он будет автоматически подставляться при оформлении новых заказов, а также учитываться при доставке. Это удобно!</div>
    </div>
    <form action="#" method="post" class="hidden s-change" data-change="addAddress" data-show="addAddress">
        <div class="form_group">
            <label for="delivery" class="form_label">Название для адреса:</label>
            <input type="text" id="delivery" class="form_text" value="Адрес №1" />
        </div>
        <div class="form_group">
            <div class="autocomplete-cont">
                <label for="city1" class="form_label">Город:</label>
                <input type="text" id="city1" class="form_text autocomplete-input" value="М"/>
                <div class="autocomplete">
                    <div class="autocomplete-line">Москва</div>
                    <div class="autocomplete-line">Мурманск</div>
                </div>
            </div>
        </div>
        <div class="form_group">
            <div class="autocomplete-cont">
                <label for="station1" class="form_label">Ближайшее метро:</label>
                <input type="text" id="station1" class="form_text autocomplete-input" value="Ново"/>
                <div class="autocomplete">
                    <div class="autocomplete-line">Новокосино</div>
                    <div class="autocomplete-line">Новослободская</div>
                    <div class="autocomplete-line">Новокузнецкая</div>
                    <div class="autocomplete-line">Новогиреево</div>
                </div>
            </div>
        </div>
        <div class="form_group_full">
            <div class="form_inline form_group">
                <label for="street1" class="form_label">Улица:</label>
                <input type="text" id="street1" class="form_text" />
            </div>
            <div class="form_inline form_group_thin">
                <label for="house1" class="form_label">Дом:</label>
                <input type="text" id="house1" class="form_text" />
            </div>
            <div class="form_inline form_group_thin">
                <label for="corp1" class="form_label">Строение/корпус:</label>
                <input type="text" id="corp1" class="form_text" />
            </div>
            <div class="form_inline form_group_thin">
                <label for="office1" class="form_label">Квартира/офис:</label>
                <input type="text" id="office1" class="form_text" />
            </div>
        </div>
        <div class="form_group form_group_full">
            <div class="form_inline form_group_thin">
                <label for="access1" class="form_label">Подъезд:</label>
                <input type="text" id="access1" class="form_text" />
            </div>
            <div class="form_inline form_group_thin">
                <label for="floor1" class="form_label">Этаж:</label>
                <input type="text" id="floor1" class="form_text" />
            </div>
            <div class="form_inline form_group_thin">
                <label for="intercom1" class="form_label">Домофон:</label>
                <input type="text" id="intercom1" class="form_text" />
            </div>
        </div>
        <div class="form_group mb0">
            <input type="submit" class="btn btn_grey" value="Добавить адрес"  data-change="addAddress" disabled />
        </div>
    </form>
</div>
<div class="sh p20 mb40" data-scrollTo="addPet">
    <h2 class="v1">Мои питомцы</h2>
    <div class="pets">
        <div class="pets_item">
            <img src="static/images/upload/pet.jpg" class="pets_image" alt="" />
            <div class="pets_info">
                <a href="#" class="tag tag_edit">Бекки (мальтезе)</a>
                <a href="#" class="blue">Посмотреть рекомендуемые товары для мальтезе</a>
            </div>
        </div><!--
        --><div class="pets_item">
            <span class="pets_image pets_placeholder"></span>
            <div class="pets_info">
                <a href="#" class="tag tag_edit">Бекки (мальтезе)</a>
                <a href="#" class="blue">Посмотреть рекомендуемые товары для мальтезе</a>
            </div>
        </div><!--
        --><div class="pets_item">
            <img src="static/images/upload/pet.jpg" class="pets_image" alt="" />
            <div class="pets_info">
                <a href="#" class="tag tag_edit">Бекки (мальтезе)</a>
                <a href="#" class="blue">Посмотреть рекомендуемые товары для мальтезе</a>
            </div>
        </div>
    </div>
    <form action="#" method="post" class="form s-change" data-change="addPet">
        <div class="form_group">
            <label class="form_label">Вид вашего питомца:</label>
            <div class="tip-wrap">
                <select class="select2 s-change" data-change="addPet">
                    <option>Собака</option>
                    <option>Кошка</option>
                    <option>Грызун</option>
                    <option>Рыбка</option>
                    <option>Птица</option>
                    <option>Рептилия</option>
                </select>
                <div class="tip tip_inside" style="bottom:-37px;">
                    <p>Укажите вашего питомца, чтобы:</p>
                    <p>1) получать информацию об акциях, новых продуктах по почте именно для вашего вида питомца. Можно настроить в разделе <a href="#" class="blue">Моя рассылка</a></p>
                    <p>2) помочь нашему магазину понять, для каких животных нам стоит отбирать товары</p>
                </div>
            </div>
        </div>
        <div class="hidden" data-show="addPet">
            <div class="form_group">
                <div class="autocomplete-cont">
                    <input type="text" id="breed" class="form_text autocomplete-input" placeholder="Порода неизвестна" />
                    <div class="autocomplete">
                        <div class="autocomplete-line">Персидская</div>
                        <div class="autocomplete-line">Британская короткошерстная</div>
                    </div>
                </div>
            </div>
            <div class="form_group">
                <label for="type" class="form_label">Кличка:</label>
                <input type="text" id="type" class="form_text" placeholder="По желанию" />
            </div>
            <div class="form_group">
                <span>Фото питомца:</span>
                <a href="#" class="blue form_file">загрузить фото<input type="file" /></a>
                <p class="form_file_name"></p>
            </div>
        </div>
        <div class="form_group mb0">
            <input type="submit" class="btn btn_grey" value="Добавить питомца"  data-change="addPet" disabled />
        </div>
    </form>
</div>