<div class="tabs-cont">
    <div class="float-cont">
        <ul class="tabs s-tabs" data-tabs="main">
            <li class="first selected">Описание<span class="sh-fix"></span></li>
            <li>Состав<span class="sh-fix"></span></li>
            <li>Варианты доставки<span class="sh-fix"></span></li>
            <li class="last">Отзывы <span class="super-txt">(3)</span><span class="sh-fix"></span></li>
        </ul>
    </div>

    <div class="s-tabs-boxes" data-tabs="main">
        <div class="tab-box tab-box_top selected def-color big-pad">
            <div class="mb30"><a href="https://www.youtube.com/embed/kELi9OA4_ms" class="fancybox.iframe fancybox semibold"><img src="static/images/ico/video1.png" alt="" class="link-ico "/>Посмотреть видео-описание</a></div>
            <h3>Для кого создан корм?</h3>
            <div>— Для собак крупных размеров (вес взрослой собаки от 11 до 44 кг)<br/>
            — в возрасте от 12/15 месяцев, живущих в городских условиях<br/>
            — основной ингредиент - мясо курицы<br/>
            — содержит витамины и клетчатку<br/><br/>
            </div>
            <h3>Ключевые особенности:</h3>
            <h4 class="ver2">1. Поддержка в городской среде</h4>
            <p>URBAN LIFE ADULT содержит уникальный комплекс антиоксидантов, помогающий собакам, живущим в городе, справляться с оксидативным стрессом, вызванным загрязнением окружающей среды. Продукт содержит ценные питательные вещества из рыбного сырья, которые также способствуют поддержанию здоровья городской собаки, часто сталкивающейся со стрессовыми ситуациями (городской шум, скопления людей, автомобильное движение).
            </p>
            <h4 class="ver2">2. Поддержание жизненных сил</h4>
            <p>Способствует сохранению здоровья суставов и костей, содержит питательные вещества, поддерживающие функцию нервной системы.
            Крокета, легко поддающаяся разгрызанию. Уникальные форма, текстура и размер крокет стимулируют собак к тщательному разгрызанию корма.</p>
            <p>Артикул: Ro34203-5</p>
        </div>
   
        <div class="tab-box tab-box_top def-color big-pad">
            <h3>Состав</h3>
            <p>Отборное мясо в сочетании со злаками.</p>
            <p> Дегидратированное мясо птицы, кукуруза, животные жиры, кукурузная мука, изолят растительных белков*, свекольный жом, кукурузный глютен, гидролизат белков животного происхождения, минеральные вещества, рыбий жир, соевое масло, оболочки и семена подорожника Psyllium, фруктоолигосахариды, гидролизованный белок рыбы, гидролизат дрожжей (источник маннановых олигосахаридов), экстракт бархатцев прямостоячих (источник лютеина).<br/><br/>
            * L.I.P.: белки, отобранные по принципу максимальной усвояемости.  </p>
            <h4 class="ver2">ДОБАВКИ (в 1 кг)</h4>
            <p>
            Питательные добавки: витамин А: 24900 МЕ, Витамин D3: 1200 МЕ, Е1 (же-лезо): 41 мг, Е2 (йод): 4,1 мг, Е4 (медь): 13 мг, Е5 (марганец): 53 мг, Е6 (цинк): 159 мг, Е8 (селен): 0,09 мг. – Технологические добавки: клиноптилолит осадочного происхождения: 10 г – Консерванты – Антиокислители.</p> 
        </div>

        <div class="tab-box tab-box_top def-color big-pad">
            <h3>Доставка по Москве</h3>
            <p><span class="import">Курьером бесплатно</span>, при заказе от 999 руб. При меньшей сумме заказа стоимость доставки 250 руб.
            Доставка курьером в течение 1-3 дней. Если заказ оформлен до 16:00, то возможна доставка на следующий день, включая выходные.</p>
            <p><span class="import">Возможен самовывоз</span>. Склад расположен по адресу: г. Москва, метро Курская, ул. Нижняя Сыромятническая, 10.<br/>
            Склад работает ежедневно с 9:00 до 21:00. <a href="" class="blue">Схема проезда</a>.</p>
            <table class="eq-cols">
                <tr>
                    <td class="left-td">
                        <h3>Нужна доставка<br/>по Московской области?</h3>
                        <p>Московская область разделена на 4 зоны доставки. В зависимости от зоны доставки вычисляется стоимость и время доставки.
                        Доставка может быть бесплатной, в зависимости от стоимости заказа.<br/>
                        Выберите город в Московской области, чтобы определить условия доставки:</p>
                        <form class="mb20">
                            <select class="select2" style="width: 270px;">
                                <option>Балашиха</option>
                                <option>Реутов</option>
                                <option>Зеленоград</option>
                                <option>Балашиха</option>
                                <option>Балашиха</option>
                                <option>Реутов</option>
                                <option>Зеленоград</option>
                                <option>Балашиха</option>
                                <option>Балашиха</option>
                                <option>Реутов</option>
                                <option>Зеленоград</option>
                                <option>Балашиха</option>
                                <option>Балашиха</option>
                                <option>Реутов</option>
                                <option>Зеленоград</option>
                                <option>Балашиха</option>
                                <option>Балашиха</option>
                                <option>Реутов</option>
                                <option>Зеленоград</option>
                                <option>Балашиха</option>
                            </select>
                        </form>
                        <p><i>Вы можете посмотреть на карте<br/> 
                            <a href="" class="blue">зоны доставки по Московской области</a></i>
                        </p>
                    </td>
                    <td>
                        <h3>Нужна доставка не в Москву<br/>и не в область?</h3>
                        <p>Мы доставляем в любой город России почтой России.
                        Выберите город в России,<br/>чтобы определить условия доставки:</p>
                        <form class="mb20">
                            <select class="select2" style="width: 270px;">
                                <option>Воронеж</option>
                                <option>Воркута</option>
                                <option>Ижевск</option>
                                <option>Ярославль</option>
                                <option>Воронеж</option>
                                <option>Воркута</option>
                                <option>Ижевск</option>
                                <option>Ярославль</option>
                                <option>Воронеж</option>
                                <option>Воркута</option>
                                <option>Ижевск</option>
                                <option>Ярославль</option>
                                <option>Воронеж</option>
                                <option>Воркута</option>
                                <option>Ижевск</option>
                                <option>Ярославль</option>
                                <option>Воронеж</option>
                                <option>Воркута</option>
                                <option>Ижевск</option>
                                <option>Ярославль</option>
                                <option>Воронеж</option>
                                <option>Воркута</option>
                                <option>Ижевск</option>
                                <option>Ярославль</option>
                            </select>
                        </form>
                        <p><i>Подробная информация по <br/> 
                            <a href="" class="blue">доставке почтой России в регионы</a></i>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="tab-box tab-box_top big-pad float-cont">
            <div class="fleft w45">
                <h3 class="mb16">Средняя оценка</h3>
                <div class="card-rate-cont">
                    <div class="card-rate">
                        <div class="card-rate-item"></div>
                        <div class="card-rate-item"></div>
                        <div class="card-rate-item"></div>
                        <div class="card-rate-item"></div>
                        <div class="card-rate-item unactive"></div>
                    </div>
                    <div class="rate-txt">18 голосов, 3 отзыва</div>
                </div>
                <div class="review-block vis-block">
                    <!-- review block is a single review item and (if exist) admin answer for this review -->
                    <div class="review-item s-filter-block">
                        <div class="review-title">В целом - очень хорошо</div>
                        <div class="review-author">Дмитрий, 10 октября 2014</div>
                        <div class="review-txt">У меня два кастрированных кота 3 и 5 лет, едим Роял, никаких проблем нет. У меня два кастрированных кота 3 
                        и 5 лет, едим Роял, никаких проблем нет никаких проблем нет, едим Роял, никаких проблем нет никаких проблем нет шерсть прекрасная, уши и глаза чистые.
                        <div class="hidden s-filter-content">
                            Очень довольны выбором! Лучший корм, который покупал. У меня два кастрированных кота 3 
                            и 5 лет, едим Роял, никаких проблем нет никаких проблем нет, едим Роял, никаких проблем нет никаких проблем нет шерсть прекрасная, уши и глаза чистые.
                        </div>
                        <div><a href="" class="show-more blue s-filter" data-open-text="Читать полностью"  data-close-text="Свернуть отзыв">Читать полностью</a></div>
                        </div>
                        <div class="review-rate">
                            <div class="rate-txt">Моя оценка: </div>
                            <div class="card-rate">
                                <div class="card-rate-item"></div>
                                <div class="card-rate-item"></div>
                                <div class="card-rate-item"></div>
                                <div class="card-rate-item"></div>
                                <div class="card-rate-item unactive"></div>
                            </div>
                            <div class="review-use">Полезный отзыв?
                                <div class="review-use-link mr5">
                                    <a href="">Да</a><span class="super-txt">(1)</span>
                                </div>
                                <div class="review-use-link">
                                    <a href="">Нет</a><span class="super-txt">(0)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review-item review-admin">
                        <div class="review-txt">
                        Мы сожалеем, что вам не подошел корм. Попробуйте из этой же серии корм <a href="">Urban Life Small Dog</a>. Он легче усваивается и в нем такое же количество минералов и витаминов. Это корм специально предназначен для легкого перехода с других кормов.
                        </div>
                        <div class="review-author">Администрация</div>
                    </div>
                </div>
                <div class="s-filter-block">
                    <div class="review-extend s-filter-content">
                        <div class="review-block">
                            <div class="review-item s-filter-block">
                                <div class="review-title">4 из 5</div>
                                <div class="review-author">2 октября 2014</div>
                                <div class="review-txt">У меня два кастрированных кота 3 и 5 лет, едим Роял, никаких проблем нет. У меня два кастрированных кота 3
                                    и 5 лет, едим Роял, никаких проблем нет никаких проблем нет, едим Роял, никаких проблем нет никаких проблем нет шерсть прекрасная, уши и глаза чистые.
                                    <div class="hidden s-filter-content">
                                        Очень довольны выбором! Лучший корм, который покупал. У меня два кастрированных кота 3
                                        и 5 лет, едим Роял, никаких проблем нет никаких проблем нет, едим Роял, никаких проблем нет никаких проблем нет шерсть прекрасная, уши и глаза чистые.
                                    </div>
                                    <div><a href="" class="show-more blue s-filter" data-open-text="Читать полностью"  data-close-text="Свернуть отзыв">Читать полностью</a></div>
                                </div>
                                <div class="review-rate">
                                    <div class="rate-txt">Моя оценка: </div>
                                    <div class="card-rate">
                                        <div class="card-rate-item"></div>
                                        <div class="card-rate-item"></div>
                                        <div class="card-rate-item"></div>
                                        <div class="card-rate-item"></div>
                                        <div class="card-rate-item unactive"></div>
                                    </div>
                                    <div class="review-use">Полезный отзыв?
                                        <div class="review-use-link mr5">
                                            <a href="">Да</a><span class="super-txt">(1)</span>
                                        </div>
                                        <div class="review-use-link">
                                            <a href="">Нет</a><span class="super-txt">(0)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-block">
                            <div class="review-item s-filter-block">
                                <div class="review-title">Собаке не понравилось...</div>
                                <div class="review-author">Дмитрий, 10 октября 2014</div>
                                <div class="review-txt">У меня два кастрированных кота 3 и 5 лет, едим Роял, никаких проблем нет. У меня два кастрированных кота 3
                                    и 5 лет, едим Роял, никаких проблем нет никаких проблем нет, едим Роял, никаких проблем нет никаких проблем нет шерсть прекрасная, уши и глаза чистые.
                                    <div class="hidden s-filter-content">
                                        Очень довольны выбором! Лучший корм, который покупал. У меня два кастрированных кота 3
                                        и 5 лет, едим Роял, никаких проблем нет никаких проблем нет, едим Роял, никаких проблем нет никаких проблем нет шерсть прекрасная, уши и глаза чистые.
                                    </div>
                                    <div><a href="" class="show-more blue s-filter" data-open-text="Читать полностью"  data-close-text="Свернуть отзыв">Читать полностью</a></div>
                                </div>
                                <div class="review-rate">
                                    <div class="rate-txt">Моя оценка: </div>
                                    <div class="card-rate">
                                        <div class="card-rate-item"></div>
                                        <div class="card-rate-item"></div>
                                        <div class="card-rate-item"></div>
                                        <div class="card-rate-item"></div>
                                        <div class="card-rate-item unactive"></div>
                                    </div>
                                    <div class="review-use">Полезный отзыв?
                                        <div class="review-use-link mr5">
                                            <a href="">Да</a><span class="super-txt">(1)</span>
                                        </div>
                                        <div class="review-use-link">
                                            <a href="">Нет</a><span class="super-txt">(0)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="review-item review-admin">
                                <div class="review-txt">
                                    Мы сожалеем, что вам не подошел корм. Попробуйте из этой же серии корм <a href="">Urban Life Small Dog</a>. Он легче усваивается и в нем такое же количество минералов и витаминов. Это корм специально предназначен для легкого перехода с других кормов.
                                </div>
                                <div class="review-author">Администрация</div>
                            </div>
                        </div>
                    </div>
                    <div class="review-link-cont"><a href="" class="blue s-filter"  data-open-text="Показать еще 2 отзыва"  data-close-text="Скрыть часть отзывов">Показать еще 2 отзыва</a></div>
                </div>
            </div>
            <div class="fright w47">
                <h3 class="mb16">Вам нравится товар?</h3>
                <div class="review-title">Поставьте оценку</div>
                <div class="add-rate">
                        <div class="rate-txt v1">Оценить: </div>
                        <span class="rateit" data-rateit-starwidth="25" data-rateit-starheight="25" data-rateit-step="1"></span>
                        <a href="" class="btn btn-small">Отправить</a>
                    </div>
                <div class="review-title">Напишите отзыв</div>
                <form>
                    <div class="label"><label for="r1">Ваше имя:</label></div>
                    <input type="text" id="r1" class="fs11 def-input w200" placeholder="Необязательно"/>
                    <div class="label"><label for="r2">Заголовок отзыва:</label></div>
                    <input type="text" id="r2" class="fs11 def-input" placeholder="Необязательно"/>
                    <div class="label"><label for="r3">Текст отзыва<span class="req-marker">*</span>:</label></div>
                    <textarea class="fs11 def" id="r3" placeholder="Что вам понравилось и не понравилось в продукте? Как долго вы его используете? Соотношение цена-качество?"></textarea>
                    
                    <div class="mb20">
                        Вы будете рекомендовать товар друзьям? <a href="" class="recom" title="Да, буду"></a><a href="" class="no-recom" title="Нет, не буду"></a>
                    </div>
                    <div class="mb30">
                        <a href="" class="btn review-submit p50">Добавить отзыв</a>
                        <div class="review-login">У вас есть аккаунт?<br/><a href="" class="blue">Войти</a></div>
                    </div>
                </form>
            </div>
        </div>

     </div>

</div>