<div class="sh">
    <div class="p20">
        <h3 class="mb20">Рекомендуем вам</h3>
        <div class="float-cont">
            <div class="catalog-item">
                <div class="quick-view-btn">
                    <span class="qv"></span>Быстрый просмотр
                </div>
                <div class="catalog-item-img">
                    <a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
                </div>
                <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                <div class="catalog-item-title"><a href="">Adult Neutered Small Dog, корм для собак мелких пород</a></div>
                <div class="float-cont">
                    <div class="catalog-item-price">
                        <div class="fs11">Цена</div>
                        <select class="select2-complex">
                            <option data-volume="3,5 кг">1 625 Р</option>
                            <option selected data-volume="2 кг">920 Р</option>
                            <option data-volume="0,5 кг">550 Р</option>
                        </select>
                    </div>
                    <div class="catalog-item-count">
                        <div class="fs11">Кол-во</div>
                        <input type="text" class="qty" value="1"/>
                    </div>
                </div>
                <div class="btn-cont"><a href="" class="btn">Купить</a></div>
                <div class="catalog-item-category">
                    В категории
                    <div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
                </div>
            </div>

            <div class="catalog-sep"></div>

            <div class="catalog-item">
                <div class="quick-view-btn">
                    <span class="qv"></span>Быстрый просмотр
                </div>
                <div class="catalog-item-img">
                    <a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
                </div>
                <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                <div class="catalog-item-title"><a href="">Adult Neutered Small Dog, корм для собак мелких пород</a></div>
                <div class="float-cont">
                    <div class="catalog-item-price">
                        <div class="fs11">Цена</div>
                        <select class="select2-complex">
                            <option selected data-volume="3,5 кг">10 625 Р</option>
                            <option data-volume="2 кг">920 Р</option>
                            <option data-volume="0,5 кг">550 Р</option>
                        </select>
                    </div>
                    <div class="catalog-item-count">
                        <div class="fs11">Кол-во</div>
                        <input type="text" class="qty" value="1"/>
                    </div>
                </div>  
                <div class="btn-cont"><a href="" class="btn">Купить</a></div>
                <div class="catalog-item-category">
                    В категории
                    <div class="catalog-item-category-link"><a href="">Корм для кастрированных собак</a></div>
                </div>
            </div>

            <div class="catalog-sep"></div>

            <div class="catalog-item">
                <div class="quick-view-btn">
                    <span class="qv"></span>Быстрый просмотр
                </div>
                <div class="catalog-item-img">
                    <a href=""><img src="static/images/upload/c3.jpg" alt=""/></a>
                </div>
                <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                <div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков, живущих в городских...</a></div>
                <div class="float-cont">
                    <div class="catalog-item-price">
                        <div class="fs11">Цена</div>
                        <select class="select2-complex">
                            <option selected data-volume="20 кг">109 625 Р</option>
                            <option data-volume="2 кг">920 Р</option>
                            <option data-volume="0,5 кг">550 Р</option>
                        </select>
                    </div>
                    <div class="catalog-item-count">
                        <div class="fs11">Кол-во</div>
                        <input type="text" class="qty" value="1"/>
                    </div>
                </div>  
                <div class="btn-cont"><a href="" class="btn">Купить</a></div>
                <div class="catalog-item-category">
                    В категории
                    <div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
                </div>
            </div>

            <div class="catalog-sep"></div>

            <div class="catalog-item">
                <div class="quick-view-btn">
                    <span class="qv"></span>Быстрый просмотр
                </div>
                <div class="catalog-item-img">
                    <a href=""><img src="static/images/upload/c4.jpg" alt=""/></a>
                </div>
                <div class="catalog-item-brand"><a href="">Pedigree Dentastix</a></div>
                <div class="catalog-item-title"><a href="">Лакомство для собак для ухода за зубами</a></div>
                <div class="float-cont">
                    <div class="catalog-item-price">
                        <div class="fs11">Цена</div>
                        <select class="select2-complex">
                            <option selected data-volume="13,5 кг">10 625 Р</option>
                            <option data-volume="2 кг">920 Р</option>
                            <option data-volume="0,5 кг">550 Р</option>
                        </select>
                    </div>
                    <div class="catalog-item-count">
                        <div class="fs11">Кол-во</div>
                        <input type="text" class="qty" value="1"/>
                    </div>
                </div>  
                <div class="btn-cont"><a href="" class="btn">Купить</a></div>
                <div class="catalog-item-category">
                    В категории
                    <div class="catalog-item-category-link"><a href="">Уход за зубами</a>, <a href="">Лакомство для собак</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sh">
    <div class="p20">
        <div class="bxgallery-counter fright"><span class="bxgallery-cur">1</span>-<span class="bxgallery-cur2">4</span> из <span class="bxgallery-total"></span></div>
        <h3 class="mb0">Вы недавно смотрели</h3>
    </div>  
        <div class="bxgallery-cont">
            <div class="bxgallery">
                <div class="slide">
                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">OZ-Pet</a></div>
                        <div class="catalog-item-title"><a href="">Корм универсальный для собак</a></div>
                    </div>

                    <div class="catalog-sep"></div>

                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c3.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                        <div class="catalog-item-title"><a href="">Adult Neutered Small Dog, корм для собак мелких пород</a></div>
                    </div>

                    <div class="catalog-sep"></div>

                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                        <div class="catalog-item-title"><a href="">Adult Neutered Small Dog, корм для собак мелких пород</a></div>
                    </div>

                    <div class="catalog-sep"></div>

                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                        <div class="catalog-item-title"><a href="">Adult Neutered Small Dog, корм для собак мелких пород</a></div>
                    </div>

                </div>

                <div class="slide">
                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c4.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">OZ-Pet</a></div>
                        <div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков, живущих в городских...</a></div>
                    </div>

                    <div class="catalog-sep"></div>

                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                        <div class="catalog-item-title"><a href="">Лакомство для собак для ухода за зубами</a></div>
                    </div>

                    <div class="catalog-sep"></div>

                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c3.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                        <div class="catalog-item-title"><a href="">Лакомство для собак для ухода за зубами</a></div>
                    </div>

                    <div class="catalog-sep"></div>

                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c3.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                        <div class="catalog-item-title"><a href="">Adult Neutered Small Dog, корм для собак мелких пород</a></div>
                    </div>

                </div>

                <div class="slide">
                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">OZ-Pet</a></div>
                        <div class="catalog-item-title"><a href="">Корм универсальный для собак</a></div>
                    </div>

                    <div class="catalog-sep"></div>

                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                        <div class="catalog-item-title"><a href="">Adult Neutered Small Dog, корм для собак мелких пород</a></div>
                    </div>

                    <div class="catalog-sep"></div>

                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c4.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                        <div class="catalog-item-title"><a href="">Adult Neutered Small Dog, корм для собак мелких пород</a></div>
                    </div>

                    <div class="catalog-sep"></div>

                    <div class="catalog-item">
                        <div class="catalog-item-img">
                            <a href=""><img src="static/images/upload/c3.jpg" alt=""/></a>
                        </div>
                        <div class="catalog-item-brand"><a href="">Royal Canin</a></div>
                        <div class="catalog-item-title"><a href="">Adult Neutered Small Dog, корм для собак мелких пород</a></div>
                    </div>

                </div>

            </div>
            <div class="bx-arrow-left"></div>
            <div class="bx-arrow-right"></div>

        </div>
    </div>
</div>
