<div class="layer" id="layer-click">
    <div class="layer-inner w240">
        <h3>Купить в 1 клик</h3>
        <div class="layer-note">Менедер свяжется с вами, чтобы оформить заказ по телефону.</div>
        <form>
            <div class="label"><label for="f100">Телефон*:</label></div>
            <input type="tel" class="def-input phone-mask" placeholder="+7" id="f100"/>
            <div class="label"><label for="f200">Имя*:</label></div>
            <input type="text" class="def-input" placeholder="" id="f200"/>
            <div class="sub-cont"><input type="submit" class="btn btn-block" value="Ожидаю звонок"/></div>
        </form>
    </div>
</div>

<div class="layer" id="layer-addfav">
    <div class="layer-inner w240">
        <h3>Выберите список</h3>
        <form>
            <div class="new-list-cont">
                <input type="text" class="def-input" placeholder="Создать новый"/>
                <input type="submit" class="btn" value="Добавить"/>
            </div>
            <div class="fav-list">
                <div class="fav-list-item selected">
                    Основной список
                    <div class="fav-list-item-count">14 товаров</div>
                </div>
                <div class="fav-list-item">
                    Для кошек
                    <div class="fav-list-item-count">3 товара</div>
                </div>
                <div class="fav-list-item">
                    На потом
                    <div class="fav-list-item-count">7 товаров</div>
                </div>
            </div>
            <div class="sub-cont"><input type="submit" class="btn btn-block" value="Сохранить"/></div>
        </form>
    </div>
</div>