<div class="catalog-item">
    <div class="quick-view-btn">
        <span class="qv"></span>Быстрый просмотр
    </div>
    <div class="catalog-item-img">
        <a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
    </div>
    <div class="catalog-item-brand"><a href="">OZ-Pet</a></div>
    <div class="catalog-item-title"><a href="">Корм универсальный для собак</a></div>
    <div class="float-cont">
        <div class="catalog-item-price">
            <div class="fs11">Цена</div>
            <select class="select2-complex">
                <option selected data-volume="2,5 кг">725 Р</option>
                <option data-volume="1 кг">320 Р</option>
                <option data-volume="0,5 кг">150 Р</option>
            </select>
        </div>
        <div class="catalog-item-count">
            <div class="fs11">Кол-во</div>
            <input type="text" class="qty" value="1" maxlength="3" />
        </div>
    </div>
    <div class="btn-cont"><a href="" class="btn">Купить</a></div>
    <div class="catalog-item-category">
        В категории
        <div class="catalog-item-category-link"><a href="">Уход за зубами</a>, <a href="">Лакомство для собак</a></div>
    </div>
</div>