<div class="search-bottom">
    <div class="width float-cont">
        <div class="search-bottom-txt">
            Самый большой интернет-магазин товаров для домашних животных.
        </div>
        <form class="search-block">
            <input type="text" class="search-input" placeholder="Найти в каталоге" />
            <input type="submit" class="search-sub" value=""/>
        </form>
    </div>
</div>

<div class="footer">
    <div class="width float-cont">
        <div class="f-delivery">
            <div class="h4 black">Скучно не будет</div>
            <form class="delivery-block">
                <input type="text" class="delivery-input" placeholder="Ваш e-mail" />
                <input type="submit" class="delivery-sub" value="ОК"/>
            </form>
            <div class="delivery-note">Полезная рассылка<br/>2 раза в месяц</div>
            <div class="float-cont">
                <a href="" class="soc-ico"><img src="static/images/ico/white-vk.png" alt=""/></a>
                <a href="" class="soc-ico"><img src="static/images/ico/white-tw.png" alt=""/></a>
                <a href="" class="soc-ico"><img src="static/images/ico/white-od.png" alt=""/></a>
                <a href="" class="soc-ico mr0"><img src="static/images/ico/white-fb.png" alt=""/></a>
            </div>
        </div>
        <div class="f-menu">
            <div class="h4 black">Покупателям</div>
			<ul>
				<li><a href="">Доставка</a></li>
				<li><a href="">Оплата</a></li>
				<li><a href="">Возврат/Обмен</a></li>
				<li><a href="">Письмо директору</a></li>
				<li><a href="">Вопрос-Ответ</a></li>
				<li><a href="#layer-status" class="fancybox">Узнать статус заказа</a></li>
				<li><a href="">Безопасность</a></li>
			</ul>
        </div>
        <div class="f-menu">
            <div class="h4 black">ТинниВинни</div>
			<ul>
				<li><a href="">О нас</a></li>
				<li><a href="">Контакты</a></li>
				<li><a href="">Партнерам</a></li>
				<li><a href="">Гарантии</a></li>
				<li><a href="">Карта сайта</a></li>
				<li><a href="">Работа у нас</a></li>
				<li><a href="">Нам не все равно</a></li>
			</ul>
        </div>
        <div class="f-catalog">
            <div class="h4 black">Каталог</div>
            <ul>
                <li><a href=""><img src="static/images/ico/orange-dog.png" alt="" class="link-ico"/>Собаки</a></li>
                <li><a href=""><img src="static/images/ico/orange-cat.png" alt="" class="link-ico"/>Кошки</a></li>
                <li><a href=""><img src="static/images/ico/orange-rodent.png" alt="" class="link-ico"/>Грызуны</a></li>
                <li><a href=""><img src="static/images/ico/orange-fish.png" alt="" class="link-ico"/>Рыбки</a></li>
                <li><a href=""><img src="static/images/ico/orange-bird.png" alt="" class="link-ico"/>Птицы</a></li>
                <li><a href=""><img src="static/images/ico/orange-reptile.png" alt="" class="link-ico"/>Рептилии</a></li>
                <li><a href=""><img src="static/images/ico/orange-host.png" alt="" class="link-ico"/>Для хозяев</a></li>
            </ul>
        </div>
        <div class="f-contacts">
            <div class="h4 black">Свяжитесь с нами</div>
            <div class="ph">+7 (495) 111-11-11</div>
            <div class="mb20 fs13"><a href="mailto:shop@teenyweeny.ru">shop@teenyweeny.ru</a></div>
            <div class="mb20"><a href=""><img src="static/images/upload/ya.png" alt="" class="img-block"/></a></div>
            <div><img src="static/images/ico/cards-small.png" alt=""/></div>
        </div>
    </div>
</div>

<div class="after-footer">
    <div class="width">
        2014г. © TeenyWeeny.
    </div>
</div>

//= _layer_login.html
//= _layer_help.html
//= _layer_call.html
//= _layer_quickview.html
//= _layer_chart.html
//= _layer_click.html
//= _layer_status.html
//= _layer_favorite.html

<!-- jquery -->
<script src="static/js/jquery-1.10.1.min.js"></script>
<script src="static/js/select2.min.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="static/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="static/js/jquery-ui-datepicker-ru.js"></script>
<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="static/js/script.js"></script>
</body>
</html>