<div class="search-bottom">
    <div class="width float-cont">
        <div class="search-bottom-txt">
            Самый большой интернет-магазин товаров для домашних животных.
        </div>
        <form class="search-block">
            <input type="text" class="search-input" placeholder="Найти в каталоге" />
            <input type="submit" class="search-sub" value=""/>
        </form>
    </div>
</div>

<div class="footer">
    <div class="width float-cont">
        <div class="f-delivery">
            <div class="h4 black">Скучно не будет</div>
            <form class="delivery-block">
                <input type="text" class="delivery-input" placeholder="Ваш e-mail" />
                <input type="submit" class="delivery-sub" value="ОК"/>
            </form>
            <div class="delivery-note">Полезная рассылка<br/>2 раза в месяц</div>
            <div class="float-cont">
                <a href="" class="soc-ico"><img src="static/images/ico/vk.png" alt=""/></a>
                <a href="" class="soc-ico"><img src="static/images/ico/tw.png" alt=""/></a>
                <a href="" class="soc-ico"><img src="static/images/ico/od.png" alt=""/></a>
                <a href="" class="soc-ico mr0"><img src="static/images/ico/fb.png" alt=""/></a>
            </div>
        </div>
        <div class="f-menu">
            <div class="h4 black">Покупателям</div>
			<ul>
				<li><a href="">Доставка</a></li>
				<li><a href="">Оплата</a></li>
				<li><a href="">Возврат/Обмен</a></li>
				<li><a href="">Письмо директору</a></li>
				<li><a href="">Вопрос-Ответ</a></li>
				<li><a href="#layer-status" class="fancybox">Узнать статус заказа</a></li>
				<li><a href="">Безопасность</a></li>
			</ul>
        </div>
        <div class="f-menu">
            <div class="h4 black">ТинниВинни</div>
			<ul>
				<li><a href="">О нас</a></li>
				<li><a href="">Контакты</a></li>
				<li><a href="">Партнерам</a></li>
				<li><a href="">Гарантии</a></li>
				<li><a href="">Карта сайта</a></li>
				<li><a href="">Работа у нас</a></li>
				<li><a href="">Нам не все равно</a></li>
			</ul>
        </div>
        <div class="f-catalog">
            <div class="h4 black">Каталог</div>
            <ul>
                <li><a href=""><img src="static/images/ico/dog.png" alt="" class="link-ico"/>Собаки</a>
                </li>
                <li><a href=""><img src="static/images/ico/cat.png" alt="" class="link-ico"/>Кошки</a></li>
                <li><a href=""><img src="static/images/ico/rodent.png" alt="" class="link-ico"/>Грызуны</a></li>
                <li><a href=""><img src="static/images/ico/fish.png" alt="" class="link-ico"/>Рыбки</a></li>
                <li><a href=""><img src="static/images/ico/bird.png" alt="" class="link-ico"/>Птицы</a></li>
                <li><a href=""><img src="static/images/ico/reptile.png" alt="" class="link-ico"/>Рептилии</a></li>
                <li><a href=""><img src="static/images/ico/host.png" alt="" class="link-ico"/>Для хозяев</a></li>
            </ul>
        </div>
        <div class="f-contacts">
            <div class="h4 black">Свяжитесь с нами</div>
            <div class="ph">+7(495)111-11-11</div>
            <div class="mb20 fs13"><a href="mailto:shop@teenyweeny.ru">shop@teenyweeny.ru</a></div>
            <div class="mb20"><a href=""><img src="static/images/upload/ya.png" alt="" class="img-block"/></a></div>
            <div><img src="static/images/ico/pay-img.png" alt=""/></div>
        </div>
    </div>
</div>

<div class="after-footer">
    <div class="width">
        2014г. © TeenyWeeny.
    </div>
</div>

<div class="layer" id="layer-help">
	<div class="layer-inner w240">
		<h3>Нужна помощь</h3>
		<div class="help-list-item">
			<img src="static/images/ico/h1.png" alt="" class="help-list-ico"/>
			<div class="help-list-txt">
				<a href="#layer-call" class="fancybox">Заказать<br/>обратный звонок</a>
			</div>
		</div>
		<div class="help-list-item">
			<img src="static/images/ico/h2.png" alt="" class="help-list-ico"/>
			<div class="help-list-txt">
				<a href="#layer-status" class="fancybox">Где мой заказ?</a>
				<div class="no-bold">Узнать статус заказа</div>
			</div>
		</div>
		<div class="help-list-item">
			<img src="static/images/ico/h3.png" alt="" class="help-list-ico"/>
			<div class="help-list-txt">
				<a href="">Хотите вернуть покупку?</a>
				<div class="no-bold">Инструкция по возврату</div>
			</div>
		</div>
		<div class="help-list-item">
			<img src="static/images/ico/h4.png" alt="" class="help-list-ico"/>
			<div class="help-list-txt">
				<a href="">Онлайн-консультант</a>
				<div class="no-bold">Чат с менеджером</div>
			</div>
		</div>
		<div class="help-list-item">
			<img src="static/images/ico/h5.png" alt="" class="help-list-ico"/>
			<div class="help-list-txt">
				<a href="">Письмо директору</a>
				<div class="no-bold">Пожелания и жалобы</div>
			</div>
		</div>
	</div>
</div>

<div class="layer" id="layer-call">
	<div class="layer-inner w240">
		<h3>Обратный звонок</h3>
		<div class="layer-note">Укажите телефон, на который<br/>нужно перезвонить.</div>
		<form>
			<div class="label"><label for="f1">Телефон*:</label></div>
			<input type="tel" class="def-input phone-mask" placeholder="+7" id="f1"/>
			<div class="label"><label for="f2">Имя*:</label></div>
			<input type="text" class="def-input" placeholder="" id="f2"/>
			<div class="sub-cont"><input type="submit" class="btn btn_block" value="Заказать звонок"/></div>
		</form>
	</div>
</div>

<div class="layer" id="layer-status">
	<div class="layer-inner w240">
		<h3>Статус заказа</h3>
		<form>
			<div class="layer-note3">Укажите номер заказа (6 цифр)</div>
			<input type="text" class="def-input" placeholder="123456"/>
			<div class="mb36">
				<input type="submit" class="btn btn_block" value="Отправить"/>
			</div>

			<div class="layer-note">
			Если вы не помните номер заказа,
			укажите номер телефона или e-mail,
			которые вы использовали при оформлении заказа. Ответ придет на телефон или e-mail.
			</div>
			<input type="text" class="def-input" placeholder="Телефон или e-mail"/>
			<div class="mb36"><input type="submit" class="btn btn_block" value="Отправить"/></div>

			<div class="layer-note2">
				Или позвоните по телефону: 
				<div class="h3 mb0">+7(495)111-11-11</div>
			</div>
		</form>
	</div>
	<div class="layer-btm w240">			
		<div class="mb25">Если вы зарегистрированы на сайте,
		вы можете отслеживать статус
		в Личном кабинете в разделе                 
		Мои заказы
		</div>
		<div><a href="" class="btn btn_block">Войти в аккаунт</a></div>
	</div>
</div>

<!-- jquery -->
<script src="static/js/jquery-1.10.1.min.js"></script>
<script src="static/js/select2.min.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="static/js/script.js"></script>
</body>
</html>