<!doctype html>
<html lang="ru">
<!--[if IE 8 ]><html class="ie8" lang="ru"><![endif]-->
<head>
    <meta charset="utf-8">

    <title>ТиниВини</title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <!-- css -->
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="static/css/select2.css"/>
    <link rel="stylesheet" href="static/css/jquery.fancybox.css"/>
    <link rel="stylesheet" href="static/css/jquery.bxslider.css"/>
    <link rel="stylesheet" href="static/css/jquery-ui-1.10.4.custom.css"/>
    <link rel="stylesheet" href="static/css/rateit.css"/>

    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {
            filter: none;
        }
    </style>
    <![endif]-->
</head>
<body>
<div class="service-top">
    <div class="width float-cont">
        <div class="fleft popup-cont">
            <a href="#" class="city popup-btn" data-yoffset="43"><span class="city-icon"></span>Мой город: <span class="underline">Москва</span></a>
            <div class="popup-layer popup_colored popup_city">
                <div class="popup-inner">
                    <div class="float-cont">
                        <form class="search-block">
                            <input type="text" class="search-input dark" placeholder="Введите название города" />
                            <input type="submit" class="search-sub" value=""/>
                        </form>
                    </div>
                    <div class="cities">
                        <div class="cities_col">
                            <div class="cities_section">
                                <p class="semibold">Выберите регион</p>
                                <p><a href="#">г. Москва</a></p>
                                <p><a href="#">г. Санкт-Петербург</a></p>
                            </div>
                            <div class="cities_section">
                                <p class="semibold">А</p>
                                <p><a href="#">Архангельская область</a></p>
                                <p><a href="#">Астраханская область</a></p>
                            </div>
                            <div class="cities_section">
                                <p class="semibold">Б</p>
                                <p><a href="#">Белгородская область</a></p>
                                <p><a href="#">Брянская область</a></p>
                            </div>
                            <div class="cities_section mb0">
                                <p class="semibold">В</p>
                                <p><a href="#">Владимирская область</a></p>
                                <p><a href="#">Волгоградская область</a></p>
                                <p><a href="#">Воронежская область</a></p>
                            </div>
                        </div><!--
                        --><div class="cities_col">
                            <div class="cities_section">
                                <p class="semibold">И</p>
                                <p><a href="#">Ивановская область</a></p>
                            </div>
                            <div class="cities_section">
                                <p class="semibold">К</p>
                                <p><a href="#">Калужская область</a></p>
                                <p><a href="#">Костромская область</a></p>
                                <p><a href="#">Краснодарский край</a></p>
                                <p><a href="#">Курская область</a></p>
                            </div>
                            <div class="cities_section mb0">
                                <p class="semibold">Л</p>
                                <p><a href="#">Ленинградская область</a></p>
                                <p><a href="#">Липецкая область</a></p>
                            </div>
                        </div><!--
                        --><div class="cities_col">
                            <div class="cities_section">
                                <p class="semibold">О</p>
                                <p><a href="#">Орловская область</a></p>
                            </div>
                            <div class="cities_section">
                                <p class="semibold">Р</p>
                                <p><a href="#">Республика Адыгея</a></p>
                                <p><a href="#">Республика Карелия</a></p>
                                <p><a href="#">Ростовская область</a></p>
                            </div>
                            <div class="cities_section mb0">
                                <p class="semibold">С</p>
                                <p><a href="#">Саратовская область</a></p>
                                <p><a href="#">Ставропольский край</a></p>
                            </div>
                        </div><!--
                        --><div class="cities_col">
                            <div class="cities_section">
                                <p class="semibold">Т</p>
                                <p><a href="#">Тверская область</a></p>
                                <p><a href="#">Тульская область</a></p>
                            </div>
                            <div class="cities_section">
                                <p class="semibold">Ч</p>
                                <p><a href="#">Чеченская Республика</a></p>
                            </div>
                            <div class="cities_section mb0">
                                <p class="semibold">Я</p>
                                <p><a href="#">Ярославская область</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popup-close"></div>
            </div>
        </div>
        <div class="fleft">
            <span class="delivery-icon"></span>Бесплатная доставка от 999
        </div>
        <div class="fleft">
            <span class="time-icon"></span>Без выходных с 9:00 до 22:00
        </div>
        <div class="fright">
            <a href="#layer-help" class="underline fancybox"><span class="help-icon"></span>Нужна помощь</a>
        </div>
    </div>
</div>
<div class="header">
    <div class="width">
        <div class="float-cont">
            <a href="index.html" class="logo"></a>
            <div class="fright">
                <form class="search-block">
                    <input type="text" class="search-input" placeholder="Найти в каталоге" />
                    <input type="submit" class="search-sub" value=""/>
                    <div class="hint">Например, <a href="">Royal Canin Urban Life</a></div>
                </form>
                <div class="shop-block">
                    <div class="cab-link"><a href="#layer-login" class="fancybox">Личный кабинет</a></div>
                    <div class="shop-cart float-cont">
                        <div class="fleft">
                            <img src="static/images/ico/orange-cart.png" alt="" class="shop-cart-img"/>
                            <div class="price-cont">
                                <div class="price">13 890 Р</div>
                                <div class="fs11">В корзину</div>
                            </div>
                        </div>
                        <a href="" class="btn"><span class="btn-inner">Оформить</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="float-cont">
            <ul class="service-menu">
                <li class="first"><a href="">Доставка</a></li>
                <li><a href="">Оплата</a></li>
                <li><a href="">Возврат</a></li>
                <li><a href="">Безопасность</a></li>
                <li><a href="">Контакты</a></li>
                <li class="last"><a href="">О нас</a></li>
            </ul>
            <div class="contact-block">
                <div class="ph">+7 (495) 111-11-11</div>
                <a href="#layer-call" class="fancybox underline">Заказать обратный звонок</a>
            </div>
        </div>
    </div>
</div>

<div class="menu">
    <div class="width float-cont">
        <div class="menu-item">
            <a href="" class="menu-link">
                <span class="menu-ico menu1"></span><span class="menu-txt">Собаки</span>
                <span class="sh-fix"></span>
            </a>
            <div class="submenu">
                <table>
                    <tr>
                        <td>
                            <ul class="submenu-list">
                                <li><a href="">Корма</a></li>
                                <li><a href="">Здоровье</a></li>
                                <li><a href="">Гигиена и уборка</a></li>
                                <li><a href="">Уход</a></li>
                                <li><a href="">Лежаки, домики</a></li>
                                <li><a href="">Миски</a></li>
                            </ul>
                        </td>
                        <td>
                            <ul class="submenu-list">
                                <li><a href="">Ошейники, поводки</a></li>
                                <li><a href="">Игрушки</a></li>
                                <li><a href="">Одежда, обувь, аксессуары</a></li>
                                <li><a href="">Транспортировка</a></li>
                                <li><a href="">Ступеньки</a></li>
                            </ul>
                        </td>
                        <td class="submenu-spec">
                            <h5>товар недели</h5>
                            <a href="" class="submenu-spec-img"><img src="static/images/upload/c1.jpg" alt=""/></a>
                            <a href="" class="submenu-spec-link">Royal Canin сухой корм для щенков</a>
                            <div class="submenu-spec-pr">300 руб</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="menu-item">
            <a href="" class="menu-link"><span class="menu-ico menu2"></span><span class="menu-txt">Кошки</span><span class="sh-fix"></a>
        </div>
        <div class="menu-item">
            <a href="" class="menu-link"><span class="menu-ico menu3"></span><span class="menu-txt">Грызуны</span><span class="sh-fix"></a>
        </div>
        <div class="menu-item">
            <a href="" class="menu-link"><span class="menu-ico menu4"></span><span class="menu-txt">Рыбки</span><span class="sh-fix"></a>
        </div>
        <div class="menu-item">
            <a href="" class="menu-link"><span class="menu-ico menu5"></span><span class="menu-txt">Птицы</span><span class="sh-fix"></a>
        </div>
        <div class="menu-item">
            <a href="" class="menu-link"><span class="menu-ico menu6"></span><span class="menu-txt">Рептилии</span><span class="sh-fix"></a>
        </div>
        <div class="menu-item">
            <a href="" class="menu-link"><span class="menu-ico menu7"></span><span class="menu-txt">Для хозяев</span><span class="sh-fix"></a>
        </div>
        <div class="fright">
            <div class="menu-item no-submenu"><a href="" class="menu-link underline">Топ-20</a></div>
            <div class="menu-item last no-submenu"><a href="" class="menu-link underline">Sale</a></div>
        </div>
    </div>
</div>