<div class="layer" id="layer-addfav">
    <div class="layer_inner w240">
        <h3>Выберите список</h3>
        <form>
            <div class="new-list-cont">
                <input type="text" class="def-input" placeholder="Создать новый"/>
                <input type="submit" class="btn" value="Добавить"/>
            </div>
            <div class="fav-list">
                <div class="fav-list-item selected">
                    Основной список
                    <div class="fav-list-item-count">14 товаров</div>
                </div>
                <div class="fav-list-item">
                    Для кошек
                    <div class="fav-list-item-count">3 товара</div>
                </div>
                <div class="fav-list-item">
                    На потом
                    <div class="fav-list-item-count">7 товаров</div>
                </div>
            </div>
            <div class="sub-cont"><input type="submit" class="btn btn_block" value="Сохранить"/></div>
        </form>
    </div>
</div>

<div class="layer" id="layer-editfav">
    <div class="layer_inner w240">
        <h3>Мои списки</h3>
        <form>
            <div class="label"><label for="f199">Название списка:</label></div>
            <input type="text" class="def-input mb7" id="f199" value="Основной список"/>
            <div class="sub-cont"><input type="submit" class="btn btn_block" value="Сохранить"/></div>
        </form>
    </div>
</div>

<div class="layer" id="layer-deletefav">
    <div class="layer_inner w240">
        <h3>Удалить список?</h3>
        <button class="btn btn_block">Удалить</button>
    </div>
</div>