<div class="layer" id="layer-click">
    <div class="layer_inner w240">
        <h3>Купить в 1 клик</h3>
        <div class="layer_note">Менедер свяжется с вами, чтобы оформить заказ по телефону.</div>
        <form>
            <div class="label"><label for="f100">Телефон*:</label></div>
            <input type="tel" class="def-input phone-mask" placeholder="+7 (111) 111-11-11" id="f100"/>
            <div class="label"><label for="f200">Имя*:</label></div>
            <input type="text" class="def-input" placeholder="" id="f200"/>
            <div class="sub-cont"><input type="submit" class="btn btn_block" value="Ожидаю звонок"/></div>
        </form>
    </div>
</div>