<div class="layer" id="layer-call">
    <div class="layer-inner w240">
        <h3>Обратный звонок</h3>
        <div class="layer-note">Укажите телефон, на который<br/>нужно перезвонить.</div>
        <form>
            <div class="label"><label for="f1">Телефон*:</label></div>
            <input type="tel" class="def-input phone-mask" placeholder="+7 (111) 111-11-11" id="f1"/>
            <div class="label"><label for="f2">Имя*:</label></div>
            <input type="text" class="def-input" placeholder="" id="f2"/>
            <div class="sub-cont"><input type="submit" class="btn btn_block" value="Заказать звонок"/></div>
        </form>
    </div>
</div>