<div class="layer" id="layer-chart">
    <div class="layer_inner w440">
        <h3>Товар добавлен в корзину!</h3>
        <div class="mess-block semibold">Сейчас в корзине 1 товар на сумму 500 руб.</div>
        <div class="layer_buttons">
            <div class="form_group fleft mb0">
                <a href="#" class="btn btn_grey mb10">Перейти в корзину</a>
                <p>чтобы изменить количество <br/>или ввести промо-код</p>
            </div>
            <div class="form_group fright mb0">
                <a href="#" class="btn btn_block mb10">Оформить заказ</a>
                <p>условия доставки и оплаты <br/>будут прежние, но вы <br/>можете их поменять</p>
            </div>
            <div class="layer_or">или</div>
        </div>
    </div>
</div>