<div class="layer" id="layer-help">
    <div class="layer-inner w240">
        <h3>Нужна помощь</h3>
        <div class="help-list-item">
            <img src="static/images/ico/h1.png" alt="" class="help-list-ico"/>
            <div class="help-list-txt">
                <a href="#layer-call" class="fancybox">Заказать<br/>обратный звонок</a>
            </div>
        </div>
        <div class="help-list-item">
            <img src="static/images/ico/h2.png" alt="" class="help-list-ico"/>
            <div class="help-list-txt">
                <a href="#layer-status" class="fancybox">Где мой заказ?</a>
                <div class="no-bold">Узнать статус заказа</div>
            </div>
        </div>
        <div class="help-list-item">
            <img src="static/images/ico/h3.png" alt="" class="help-list-ico"/>
            <div class="help-list-txt">
                <a href="">Хотите вернуть покупку?</a>
                <div class="no-bold">Инструкция по возврату</div>
            </div>
        </div>
        <div class="help-list-item">
            <img src="static/images/ico/h4.png" alt="" class="help-list-ico"/>
            <div class="help-list-txt">
                <a href="">Онлайн-консультант</a>
                <div class="no-bold">Чат с менеджером</div>
            </div>
        </div>
        <div class="help-list-item">
            <img src="static/images/ico/h5.png" alt="" class="help-list-ico"/>
            <div class="help-list-txt">
                <a href="">Письмо директору</a>
                <div class="no-bold">Пожелания и жалобы</div>
            </div>
        </div>
    </div>
</div>