<div class="layer" id="layer-message">
    <div class="layer-inner w440">
        <h3>Вы успешно зарегистрированы!</h3>
        <div class="mess-block">
            <p>На вашу электронную почту vladimir@mail.ru отправлено письмо,<br/>чтобы вы подтвердили этот адрес.<br/>
            Мы благодарны вам за регистрацию, и дарим вам промо-код
            на первую покупку! Промо-код лежит в вашем <a href="" class="blue">Личном кабинете</a>.<br/>
            Как им пользоваться, описано в <a href="" class="blue">Помощи</a>.</p>
            <p>
            Чтобы оформить заказ, нужно будет заполнить дополнительную информацию (номер телефона для связи и адрес доставки).</p>
            <p>
            Вы можете сделать это в любое время в <a href="" class="blue">Личном кабинете</a> 
            или непосредственно на этапе оформления заказа.</p>
        </div>
        <div class="float-cont">
            <a href="#" class="btn w180 fancy-close fleft mr20">Понятно</a>
            <a href="#" class="btn btn_grey ib">Посмотреть Личный кабинет</a>
        </div>
        
    </div>
</div>

<div class="layer" id="layer-reg">
    <div class="layer-inner w240 sm-pad">
        <h3>Регистрация</h3>
        <form>
            <div class="label"><label for="f130">E-mail:</label></div>
            <input type="text" class="def-input" id="f130"/>
            <div class="label"><label for="password">Придумайте пароль:</label></div>
            <input type="password" id="password1" class="def-input s-password" data-password="reg" />
            <label for="show_pass1" class="form_checkbox mb11">
                <input type="checkbox" id="show_pass1" class="s-show-password" data-password="reg" /><i></i>Показать пароль, чтобы проверить правильность ввода
            </label>
            
            <div class="sub-cont mb25">
                <!-- <input type="submit" class="btn btn_block" value="Зарегистрироваться"/> -->
                <a href="#layer-message" class="fancybox btn btn_block">Зарегистрироваться</a>
            </div>
            <div class="fs11 lh13 mb10">Нажимая на кнопку «Зарегистрироваться», вы согласны с <a href="">«Условиями продажи»</a>.</div>
        </form>
    </div>
    <div class="layer-btm w280">
        <div class="mb16">
            <span class="reg-note1">У вас уже есть аккаунт?</span>
            <a href="#layer-login" class="blue fancybox">Войти</a>
        </div>
        <div class="text-center soc-login">
            <div class="fs11">Войти как пользователь:</div>
            <a href="" class="soc-ico1"><img src="static/images/ico/orange-vk.png"/></a>
            <a href="" class="soc-ico1"><img src="static/images/ico/orange-fb.png"/></a>
            <a href="" class="soc-ico1"><img src="static/images/ico/orange-g+.png"/></a>
        </div>
    </div>
</div>

<div class="layer" id="layer-login">
    <div class="layer-top w280">
        Чтобы работать со списком избранных товаров, войдите в аккаунт или зарегистрируйтесь
    </div>
    <div class="layer-inner w240 sm-pad">
        <h3>Вход в аккаунт</h3>
        <form>
            <div class="label"><label for="f110">E-mail / мобильный телефон:</label></div>
            <input type="text" class="def-input" id="f110"/>
            <div class="label"><label for="password">Пароль:</label></div>
            <input type="password" id="password" class="def-input mb9 s-password" data-password="login"/>
            <label for="show_pass" class="form_checkbox mb5">
                <input type="checkbox" id="show_pass" class="s-show-password" data-password="login"/><i></i>Показать пароль
            </label>
            
            <label for="rem" class="form_checkbox mb7">
                <input type="checkbox" id="rem"/><i></i>Запомнить меня
            </label>
            
            <div class="sub-cont mb10"><input type="submit" class="btn btn_block" value="Войти"/></div>
            <div><a href="#layer-forgetpass" class="fancybox fs11">Забыли пароль?</a></div>
        </form>
    </div>
    <div class="layer-btm w280">
        <div class="float-cont mb16">
            <div class="fleft">У вас нет аккаунта?</div>
            <a href="#layer-reg" class="fright blue fancybox">Зарегистрироваться</a>
        </div>
        <div class="text-center soc-login">
            <div class="fs11">Войти как пользователь:</div>
            <a href="" class="soc-ico1"><img src="static/images/ico/orange-vk.png"/></a>
            <a href="" class="soc-ico1"><img src="static/images/ico/orange-fb.png"/></a>
            <a href="" class="soc-ico1"><img src="static/images/ico/orange-g+.png"/></a>
        </div>
    </div>
</div>