<div class="tab-box_top p20">
    <h2 class="mb20">Мои рассылки и уведомления</h2>
    <p class="sh_lead mb25">Здесь вы можете настроить рассылку писем на e-mail на интересующие вас темы. <br/>Если у вас появятся вопросы по работе с рассылкой, посмотрите раздел <a href="#" class="blue">Вопросы по рассылке</a>.</p>
    <form action="#" method="post">
        <div class="form_group">
            <label for="email2" class="form_label">Введите название списка:</label>
            <input type="text" id="email2" class="form_text" />
        </div>
        <div class="form_group">
            <label for="phone2" class="form_label">Мобильный телефон:</label>
            <input type="text" id="phone2" class="form_text" /></div>
        <div class="form_group mb0">
            <input type="submit" class="btn btn_block" value="Сохранить" />
        </div>
    </form>
</div>
<div class="sh p20">
    <h2 class="v1">Рассылки и уведомления на e-mail:</h2>
    <form action="#" method="post" class="form">
        <div class="form_group form_group_full">
            <div class="form_inline form_group_wide">
                <label for="new-products" class="form_checkbox"><input type="checkbox" id="new-products"/><i></i>Поступления новых товаров для</label>
            </div>
            <div class="form_inline form_group_thin">
                <select class="select2">
                    <option selected>Всех</option>
                    <option>Не всех</option>
                </select>
            </div>
            <div class="form_inline form_group_xx-medium">
                <select class="select2">
                    <option>Каждый день</option>
                    <option selected>1 раз в неделю</option>
                    <option>1 раз в месяц</option>
                    <option>Никогда</option>
                </select>
            </div>
            <a href="#" class="blue">Посмотреть пример</a>
        </div>
        <div class="form_group form_group_full">
            <div class="form_inline form_group_wide">
                <label for="sale" class="form_checkbox"><input type="checkbox" id="sale"/><i></i>Акции и распродажи на товары для</label>
            </div>
            <div class="form_inline form_group_thin">
                <select class="select2">
                    <option selected>Всех</option>
                    <option>Не всех</option>
                </select>
            </div>
            <div class="form_inline form_group_xx-medium">
                <select class="select2">
                    <option selected>Каждый день</option>
                    <option>1 раз в неделю</option>
                    <option>1 раз в месяц</option>
                    <option>Никогда</option>
                </select>
            </div>
            <a href="#" class="blue">Посмотреть пример</a>
        </div>
        <div class="form_group form_group_full">
            <label for="info-order1" class="form_checkbox"><input type="checkbox" id="info-order1"/><i></i>Информация о статусе заказа</label>
        </div>
        <div class="form_group mb0">
            <input type="submit" class="btn btn_block" value="Сохранить" />
        </div>
    </form>
</div>
<div class="sh p20 p40">
    <h2 class="mb10">Уведомления на сайте:</h2>
    <form action="#" method="post">
        <p class="form_hint notice">Уведомления расположены в верхней части экрана и отображаются в виде значка <img src="static/images/ico/orange-notice.png" alt="" /></p>
        <div class="mb10">
            <label for="info-order2" class="form_checkbox"><input type="checkbox" id="info-order2" checked /><i></i>Информация о статусе заказа</label>
        </div>
        <div class="mb10">
            <label for="review" class="form_checkbox"><input type="checkbox" id="review" checked /><i></i>Уведомление о том, что ваш отзыв размещен / есть комментарии к отзыву</label>
        </div>
        <div class="mb25">
            <label for="new-promo" class="form_checkbox"><input type="checkbox" id="new-promo" checked /><i></i>Уведомление о новых промо-кодах</label>
        </div>
        <div class="form_group mb0">
            <input type="submit" class="btn btn_block" value="Сохранить" />
        </div>
    </form>
</div>
