<div class="tab-box_top p0">
    <div class="p20">
        <h2>Изменение заказа №12345</h2>
    </div>
    <div class="chart_panel chart_title">
        <div class="chart_title_product chart_title_product_wide">Товар</div><!--
        --><div class="chart_title_number chart_title_number_wide">Количество</div><!--
        --><div class="chart_title_price chart_title_price_wide">Цена</div>
    </div>
    <div class="plr20 chart">
        <table>
            <tr class="chart_row">
                <td><span class="chart_del"></span></td>
                <td class="chart_product chart_product_wide">
                    <a href="#" class="fleft">
                        <img src="static/images/upload/c2.jpg" class="chart_img" alt="" />
                    </a>
                    <div class="chart_info chart_info_wide">
                        <a href="#" class="chart_link">Royal Canin</a>
                        <p class="mb10">Adult Neutered Small Dog, корм собак мелких пород</p>
                        <div class="big-select">
                            <select class="select2-complex">
                                <option selected data-volume="2,5 кг">725 Р</option>
                                <option data-volume="1 кг">320 Р</option>
                                <option data-volume="0,5 кг">150 Р</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td class="chart_number chart_number_wide">
                    <span class="count-dec"></span><input type="text" class="card-count-input" value="1"/><span class="count-inc"></span>
                </td>
                <td class="chart_price chart_price_wide">
                    <span class="chart_total">5250 Р</span>
                    <span>(2625 Р x 2)</span>
                </td>
            </tr>
            <tr class="chart_row">
                <td><span class="chart_del"></span></td>
                <td class="chart_product chart_product_wide">
                    <a href="#" class="fleft">
                        <img src="static/images/upload/c3.jpg" class="chart_img" alt="" />
                    </a>
                    <div class="chart_info chart_info_wide">
                        <a href="#" class="chart_link">Толстовка «Dog Star»</a>
                        <div class="chart_params">
                            <div class="mb10">
                                <span class="chart-label">Размер:</span><!--
                                --><span class="chart-select_wide big-select">
                                    <select class="select2">
                                        <option>12</option>
                                        <option selected>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>16</option>
                                    </select>
                                </span>
                            </div>
                            <div>
                                <span class="chart-label">Цвет:</span><!--
                                --><span class="chart-select_wide big-select">
                                    <select class="select2-color">
                                        <option data-volume="red">Красный</option>
                                        <option data-volume="green">Зеленый</option>
                                        <option data-volume="yellow">Желтый</option>
                                        <option data-volume="black">Черный</option>
                                    </select>
                                </span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="chart_number chart_number_wide">
                    <span class="count-dec"></span><input type="text" class="card-count-input" value="1"/><span class="count-inc"></span>
                </td>
                <td class="chart_price chart_price_wide">
                    <span class="chart_total">2100 Р</span>
                    <span>(1050 Р x 2)</span>
                </td>
            </tr>
        </table>
        <div class="chart_row ptb20">
            <span class="chart_desc chart_desc_wide">Если у вас есть промо-код или купон
                <span class="tip-wrap tip-init">
                    (?)
                    <div class="tip tip_atop">Небольшое описание промо-кода и <a href="#" class="blue">ссылка</a> на страницу с подробным описанием понятия «Промо-код»</div>
                </span>
                , укажите его здесь:</span><!--
            --><span class="chart_input"><input type="text" class="text-box s-change" data-change="promo" /></span><!--
            --><span class="chart_button"><a href="#" class="btn btn_grey" data-change="promo">Пересчитать</a></span>
        </div>
        <div class="ptb20">
            <div class="form_group form_inline mb0">
                <a href="#" class="btn btn_block">Применить</a>
            </div>
            <a href="#" class="chart_plus">Добавить товары из корзины</a>
            <div class="chart_orders fright">Стоимость товаров: 1380 Р</div>
        </div>
    </div>
</div>