<div class="tab-box_top p0">
    <div class="p20">
        <h2>Изменение заказа №12345</h2>
    </div>
    <div class="chart_panel chart_title">
        <div class="chart_title_product chart_title_product_wide">Товар</div><!--
            --><div class="chart_title_number chart_title_number_wide">Количество</div><!--
            --><div class="chart_title_price chart_title_price_wide">Цена</div>
    </div>
    <div class="plr20 chart">
        <table>
            <tr class="row s-price">
                <td><span class="chart_del"></span></td>
                <td class="chart_product chart_product_wide">
                    <a href="#" class="fleft">
                        <img src="static/images/upload/c2.jpg" class="chart_img" alt="" />
                    </a>
                    <div class="chart_info chart_info_wide">
                        <a href="#" class="chart_link">Royal Canin</a>
                        <p class="mb10">Adult Neutered Small Dog, корм собак мелких пород</p>
                        <div class="big-select">
                            <select class="select2-complex s-price-select">
                                <option selected data-volume="2,5 кг">500 Р</option>
                                <option data-volume="1 кг">300 Р</option>
                                <option data-volume="0,5 кг">150 Р</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td class="chart_number chart_number_wide">
                    <span class="count-dec s-price-dec"></span><input type="text" class="card-count-input s-price-input" value="2" maxlength="3" /><span class="count-inc s-price-inc"></span>
                </td>
                <td class="chart_price chart_price_wide">
                    <span class="chart_total"><span class="s-price-total">1000</span> Р</span>
                    <span>(<span class="s-price-one">500</span> Р x <span class="s-price-num">2</span>)</span>
                </td>
            </tr>
            <tr class="row s-price">
                <td><span class="chart_del"></span></td>
                <td class="chart_product chart_product_wide">
                    <a href="#" class="fleft">
                        <img src="static/images/upload/c3.jpg" class="chart_img" alt="" />
                    </a>
                    <div class="chart_info chart_info_wide">
                        <a href="#" class="chart_link">Толстовка «Dog Star»</a>
                        <div class="chart_params">
                            <div class="mb10">
                                <span class="chart-label">Размер:</span><!--
                                    --><span class="chart-select_wide big-select">
                                        <select class="select2">
                                            <option>12</option>
                                            <option selected>13</option>
                                            <option>14</option>
                                            <option>15</option>
                                            <option>16</option>
                                        </select>
                                    </span>
                            </div>
                            <div>
                                <span class="chart-label">Цвет:</span><!--
                                    --><span class="chart-select_wide big-select">
                                        <select class="select2-color">
                                            <option data-volume="red">Красный</option>
                                            <option data-volume="green">Зеленый</option>
                                            <option data-volume="yellow">Желтый</option>
                                            <option data-volume="black">Черный</option>
                                        </select>
                                    </span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="chart_number chart_number_wide">
                    <span class="count-dec s-price-dec"></span><input type="text" class="card-count-input s-price-input" value="3" maxlength="3" /><span class="count-inc s-price-inc"></span>
                </td>
                <td class="chart_price chart_price_wide">
                    <span class="chart_total"><span class="s-price-total">3000</span> Р</span>
                    <span>(<span class="s-price-one">1000</span> Р x <span class="s-price-num">3</span>)</span>
                </td>
            </tr>
        </table>
        <div class="row ptb20">
                <span class="chart_desc chart_desc_wide">Если у вас есть промо-код или купон
                    <span class="tip-wrap tip-init">
                        (?)
                        <div class="tip tip_atop tip_atop_b">Небольшое описание промо-кода и <a href="#" class="blue">ссылка</a> на страницу с подробным описанием понятия «Промо-код»</div>
                    </span>
                    , укажите его здесь:</span><!--
                --><span class="chart_input"><input type="text" class="text-box s-change" data-change="promo" /></span><!--
                --><span class="chart_button"><a href="#" class="btn btn_grey" data-change="promo">Пересчитать</a></span>
        </div>
        <div class="ptb20">
            <div class="form_group form_inline mr20 mb0">
                <a href="#" class="btn btn_block">Применить</a>
            </div>
            <a href="#" class="chart_add">Добавить товары из корзины</a>
            <div class="chart_orders fright">Стоимость товаров: <span class="s-price-final">4000</span> Р</div>
        </div>
    </div>
</div>
<div class="sh p20 mb40">
    <h2 class="mb20">Детали доставки</h2>
    <div class="row mb20">
        <p class="semibold mb15">Изменить способ доставки:</p>
        <form action="#" method="post">
            <div class="mb10">
                <label for="delivery-self" class="form_radio"><input type="radio" name="delivery-type" id="delivery-self" checked/><i></i>Самовывоз</label>
            </div>
            <div class="mb10">
                <label for="delivery-man" class="form_radio"><input type="radio" name="delivery-type" id="delivery-man" /><i></i>Курьером</label>
            </div>
            <div class="form_group mb20">
                <input type="submit" class="btn btn_block" value="Изменить способ" />
            </div>
        </form>
    </div>
    <div class="row mb20">
        <p class="semibold mb15">Изменить адрес доставки:</p>
        <form action="#" method="post">
            <label for="delivery2" class="form_radio mb10">
                <input type="radio" name="delivery-address" id="delivery2" class="s-delivery-address" checked/>
                <i></i>
                <span>Основной адрес</span>
                <span class=" s-delivery-address-str">(г. <span class="s-city">Москва</span>, <span class="s-street">Химкинский бульвар</span>, д. <span class="s-house">5</span>, кв.<span class="s-office">12</span>)</span>
                <span class="form_icon edit s-delivery-address-edit"></span>
            </label>
            <label for="delivery3" class="form_radio mb10">
                <input type="radio" name="delivery-address" id="delivery3" class="s-delivery-address" />
                <i></i>
                <span>Дача</span>
                <span class=" s-delivery-address-str">(г. <span class="s-city">Реутов</span>, ул. <span class="s-street">Туристическая</span>, <span class="s-office">15</span>)</span>
                <span class="form_icon edit s-delivery-address-edit"></span>
            </label>
            <label for="delivery4" class="form_radio mb20"><input type="radio" name="delivery-address" id="delivery4" class="s-delivery-address" data-new="true" /><i></i>Новый адрес</label>
            <div class="hidden s-delivery-address-form">
                <div class="form_group">
                    <div class="autocomplete-cont">
                        <label for="city2" class="form_label">Город:</label>
                        <input type="text" id="city2" class="form_text autocomplete-input s-city" value="М"/>
                        <div class="autocomplete">
                            <div class="autocomplete-line">Москва</div>
                            <div class="autocomplete-line">Мурманск</div>
                        </div>
                    </div>
                </div>
                <div class="form_group_full">
                    <div class="form_inline form_group">
                        <label for="street2" class="form_label">Улица:</label>
                        <input type="text" id="street2" class="form_text s-street" />
                    </div>
                    <div class="form_inline form_group_thin">
                        <label for="house2" class="form_label">Дом:</label>
                        <input type="text" id="house2" class="form_text s-house" />
                    </div>
                    <div class="form_inline form_group_thin">
                        <label for="corp2" class="form_label">Строение/корпус:</label>
                        <input type="text" id="corp2" class="form_text s-corp" />
                    </div>
                    <div class="form_inline form_group_thin">
                        <label for="office2" class="form_label">Квартира/офис:</label>
                        <input type="text" id="office2" class="form_text s-office" />
                    </div>
                </div>
            </div>
            <div class="form_group mb20">
                <input type="submit" class="btn btn_block" value="Изменить адрес" />
            </div>
        </form>
    </div>
    <div>
        <p class="semibold mb15">Изменить дату и время доставки:</p>
        <form action="#" method="post" class="form">
            <div class="form_group_full">
                <div class="form_inline form_inline_middle form_group">
                    <label for="date" class="form_label">Дата:</label>
                    <input type="text" id="date" class="form_text date s-date" value="04/10/2015" data-dependent="date" disabled/>
                </div>
                <label for="soon" class="form_checkbox"><input type="checkbox" id="soon" class="s-depend" data-depend="date" checked /><i></i>Как можно раньше</label>
            </div>
            <div class="form_group">
                <label class="form_label">Время:</label>
                <select class="select2">
                    <option selected>утро (с 9:00 до 12:00)</option>
                    <option>день (с 12:00 до 16:00)</option>
                    <option>вечер (с 16:00 до 20:00)</option>
                </select>
            </div>
            <div class="form_group mb0">
                <input type="submit" class="btn btn_block" value="Изменить дату и время" />
            </div>
        </form>
    </div>
</div>