<div class="tab-box_top float-cont p0 mb40" data-hide="edit-order">
    <div class="p20">
        <h2>Мои заказы</h2>
    </div>
    <table class="orders">
        <tr class="orders_head">
            <th class="orders_number">Номер заказа</th>
            <th class="orders_cost">Сумма заказа</th>
            <th class="orders_date">Дата создания</th>
            <th class="orders_status">Статус</th>
            <th class="orders_action">Что сделать</th>
        </tr>
        <tr>
            <td>12864</td>
            <td>
                <div class="orders_img tip-wrap">
                    <img src="static/images/upload/c3.jpg" class="tip-init" alt="" />
                    <div class="tip tip_atop tip_atop_b">
                        <a href="#"><img src="static/images/upload/c1.jpg" alt="" /></a>
                        <a href="#"><img src="static/images/upload/c2.jpg" alt="" /></a>
                        <a href="#"><img src="static/images/upload/c3.jpg" alt="" /></a>
                    </div>
                </div>
                <a href="#" class="orders_link blue">2 товара на сумму 1080 руб (+80 бонусов)</a>
            </td>
            <td>
                <div class="def-color">32.10.2014</div>
            </td>
            <td>
                <div class="orders_state blue">Не оплачен / не подтвержден</div>
            </td>
            <td>
                <a href="#" class="orders_action_link edit s-toggle" data-toggle="edit-order">Изменить</a>
            </td>
        </tr>
        <tr>
            <td>12864</td>
            <td>
                <div class="orders_img tip-wrap">
                    <img src="static/images/upload/c3.jpg" class="tip-init" alt="" />
                    <div class="tip tip_atop tip_atop_b">
                        <a href="#"><img src="static/images/upload/c1.jpg" alt="" /></a>
                        <a href="#"><img src="static/images/upload/c2.jpg" alt="" /></a>
                    </div>
                </div>
                <a href="#" class="orders_link blue">2 товара на сумму 1080 руб (+80 бонусов)</a>
            </td>
            <td>
                <div class="def-color">32.10.2014</div>
            </td>
            <td>
                <div class="orders_state orange">Не оплачен / ожидайте доставку</div>
            </td>
            <td>
                <a href="#" class="orders_action_link edit s-toggle" data-toggle="edit-order">Изменить</a>
            </td>
        </tr>
        <tr>
            <td>12864</td>
            <td>
                <div class="orders_img tip-wrap">
                    <img src="static/images/upload/c3.jpg" class="tip-init" alt="" />
                    <div class="tip tip_atop tip_atop_b">
                        <a href="#"><img src="static/images/upload/c2.jpg" alt="" /></a>
                    </div>
                </div>
                <a href="#" class="orders_link blue">2 товара на сумму 1080 руб (+80 бонусов)</a>
            </td>
            <td>
                <div class="def-color">32.10.2014</div>
            </td>
            <td>
                <div class="orders_state green">Доставлен</div>
            </td>
            <td>
                <a href="#" class="orders_action_link repeat">Повторить</a>
            </td>
        </tr>
    </table>
</div>

<div class="hidden" data-show="edit-order">
    //= _orders_edit.html
</div>