<div class="tab-box_top p20">
    <h2 class="mb25">Курьерская служба</h2>
    <div class="delivery_text">
        <p>Условия доставки по Москве здесь.</p>
        <p>Условия по Московской области — ниже на этой странице. По Московской области мы доставляем только курьерской службой.</p>
    </div>
</div>
<div class="sh">
    <div class="p20">
        <p class="semibold mb15">Цена доставки зависит от зоны Московской области и от стоимости заказа.</p>
        <p class="def-color mb5">Выберите город в Московской области, чтобы определить зону доставки и условия доставки:</p>
        <div class="form form_group mb0">
            <select class="select2">
                <option>Балашиха</option>
                <option selected>Реутов</option>
                <option>Люберцы</option>
            </select>
        </div>
    </div>
    <table class="regions">
        <tr class="regions_header">
            <th class="regions_zone">Номер зоны</th>
            <th class="regions_cost">Стоимость доставки</th>
            <th class="regions_free">Бесплатная доставка</th>
            <th class="regions_time">Сроки доставки</th>
            <th class="regions_city">Крупные города в этой зоне</th>
        </tr>
        <tr>
            <td class="zone1">1</td>
            <td>350 руб</td>
            <td>при заказе от 1500 руб</td>
            <td>1-3 дня</td>
            <td>Реутов, Мытищи, Химки</td>
        </tr>
        <tr>
            <td class="zone2">2</td>
            <td>450 руб</td>
            <td>при заказе от 2000 руб</td>
            <td>1-5 дней</td>
            <td>Долгопрудный, Бородино, Красногорск</td>
        </tr>
        <tr>
            <td class="zone3">3</td>
            <td>600 руб</td>
            <td>при заказе от 3000 руб</td>
            <td>1-5 дней</td>
            <td>Железнодорожный, Щелково</td>
        </tr>
    </table>
    <div id="map_regions" class="map"></div>
</div>