<div class="tab-box_top p20">
    <h2 class="mb25">Почта России</h2>
    <div class="delivery_text mb30">
        <p>Во все города России, кроме Москвы и Московской области, мы осуществляем доставку только почтой России.</p>
    </div>
    <form action="#" method="post" class="form">
        <div class="form_group_full">
            <label for="city" class="form_label">Выберите город, чтобы узнать условия доставки почтой России:</label>
            <div class="form_group">
                <select class="select2" id="city">
                    <option>Балашиха</option>
                    <option selected>Рязань</option>
                    <option>Брянск</option>
                    <option>Владимир</option>
                </select>
            </div>
        </div>
        <div class="form_group">
            <label for="weight" class="form_label">Вес покупки:</label>
            <select class="select2" id="weight">
                <option>1 кг</option>
                <option selected>2 кг</option>
                <option>10 кг</option>
            </select>
        </div>
        <div class="form_group mb0">
            <input type="submit" class="btn btn_block" value="Рассчитать доставку" />
        </div>
    </form>
</div>