//= includes/_header.html

<div class="width">
    <div class="float-cont">
        <div class="sidebar fleft">
            <div class="filter-cont sh">
                <ul>
                    <li><a href="#" class="filter-simple_title">Доставка</a></li>
                    <li><a href="#" class="filter-simple_title">Оплата</a></li>
                    <li><a href="#" class="filter-simple_title">Операции с товаром</a></li>
                    <li><a href="#" class="filter-simple_title">Безопасность</a></li>
                    <li><a href="#" class="filter-simple_title">Вопросы и ответы</a></li>
                    <li><a href="#" class="filter-simple_title">Письмо директору</a></li>
                    <li><div class="filter-simple_title current">Наш блог</div></li>
                    <li><a href="#" class="filter-simple_title">Энциклопедия пород</a></li>
                </ul>
            </div>
        </div>
        <div class="content fright">
            <h1 class="mb10">Наш блог</h1>
            <div class="sh mb40">
                <div class="float-cont p20">
                    <form class="search-block full">
                        <input type="text" class="search-input dark" placeholder="Найти в блоге" />
                        <input type="submit" class="search-sub" value=""/>
                    </form>
                </div>
                <div class="float-cont sort">
                    <div class="sort_group fleft">
                        <div class="sort_title">Сортировать по:</div>
                        <a href="" class="sort_btn active sort-down">популярности</a>
                        <a href="" class="sort_btn">дате публикации</a>
                    </div>
                    <div class="sort_group fleft">
                        <div class="sort_title">Раздел:</div>
                        <div class="form form_inline form_group_xx-medium">
                            <select class="select2">
                                <option>Все разделы</option>
                                <option>Кошки</option>
                                <option>Витамины</option>
                                <option>Диетические корма</option>
                            </select>
                        </div>
                    </div>
                    <div class="fright"><div class="sort_count">36 статей</div></div>
                </div>
                <div class="p20">
                    <div class="blog">
                        <div class="blog_item">
                            <a href="" class="blog_img"><img src="static/images/upload/b1.jpg" width="220" alt=""/></a>
                            <div class="blog_date">15 декабря 2015</div>
                            <div class="mb5"><a href="">Выбираем корм для щенка</a></div>
                            <div class="blog_text">Как правильно выбрать корм: в зависимости от породы, возраста и активности вашего щенка.</div>
                        </div><!--
                        --><div class="blog_item">
                            <a href="" class="blog_img"><img src="static/images/upload/b1.jpg" width="220" alt=""/></a>
                            <div class="blog_date">15 декабря 2015</div>
                            <div class="mb5"><a href="">Дрессировка собаки - с какого возраста начать...</a></div>
                            <div class="blog_text">Как правильно выбрать корм</div>
                        </div><!--
                        --><div class="blog_item">
                            <a href="" class="blog_img"><img src="static/images/upload/b1.jpg" width="220" alt=""/></a>
                            <div class="blog_date">15 декабря 2015</div>
                            <div class="mb5"><a href="">Сбалансированное питание для маленьких собак</a></div>
                            <div class="blog_text">Маленькие собаки нуждаются в особом питании. Мы хотим поделиться нашим опытом с вами!</div>
                        </div><!--
                        --><div class="blog_item">
                            <a href="" class="blog_img"><img src="static/images/upload/b1.jpg" width="220" alt=""/></a>
                            <div class="blog_date">15 декабря 2015</div>
                            <div class="mb5"><a href="">Совместная жизнь щенка и котенка</a></div>
                            <div class="blog_text">Этот текст стоит ограничить в админке, либо не ограничивать совсем. Пусть здесь будет текста столько, сколько считает нужным контент-менеджер.</div>
                        </div>
                    </div>
                    <div class="float-cont catalog-btm">
                        <div class="fleft paging">
                            <div class="pag-title">Страницы:</div>
                            <a href="" class="page hidden">Предыдущая</a>
                            <a href="" class="page selected">1</a>
                            <a href="" class="page">2</a>
                            <a href="" class="page">3</a>
                            <a href="" class="page">Следующая</a>
                        </div>
                        <div class="fright"><a href="" class="top-page">Наверх</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

//= includes/_footer.html