//= includes/_header.html

	<div class="width">
		<div class="float-cont breadcrumb-cont">
			<div class="breadcrumb fleft">
				<a href="" class="bread">Главная</a><span class="sep">/</span>
				<a href="" class="bread-current">Royal Canin</a>
			</div>
		</div>
		<div class="float-cont">
			<div class="sidebar fleft">
				<div class="filter-cont sh">
					<div class="catalog-title">Royal Canin</div>
					<div class="filter-block opened default-opened s-filter-block">
						<div class="filter-title special-title s-filter">Собаки:<span class="filter-title-arrow"></span></div>
						<div class="subcontent s-filter-content">
							<ul class="catalog-list">
								<li><a href="filter.html" class="inner-border">Корма<span class="super-txt">(62)</span></a></li>
								<li><a href="filter.html" class="inner-border">Здоровье<span class="super-txt">(18)</span></a></li>
								<li><a href="filter.html" class="inner-border">Гигиена и уборка<span class="super-txt">(7)</span></a></li>
							</ul>
						</div>
					</div>
					<div class="filter-block s-filter-block">
						<div class="filter-title special-title s-filter">Кошки:<span class="filter-title-arrow"></span></div>
						<div class="subcontent s-filter-content">
							<ul class="catalog-list">
								<li><a href="filter.html" class="inner-border">Корма<span class="super-txt">(62)</span></a></li>
								<li><a href="filter.html" class="inner-border">Здоровье<span class="super-txt">(18)</span></a></li>
								<li><a href="filter.html" class="inner-border">Гигиена и уборка<span class="super-txt">(7)</span></a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="filter-cont sh">
					<div class="catalog-title">Похожие бренды</div>
					<ul class="catalog-list mb0">
						<li><a href="brand.html" class="inner-border">Acana</a></li>
						<li><a href="brand.html" class="inner-border">Dr. Clauder`s</a></li>
						<li><a href="brand.html" class="inner-border">Happy Dog</a></li>
						<li><a href="brand.html" class="inner-border">Pedigree</a></li>
						<li><a href="brand.html" class="inner-border">Royal Canin</a></li>
					</ul>
					<div class="brand-more s-filter-block">
						<ul class="catalog-list s-filter-content">
							<li><a href="brand.html" class="inner-border">New brand 1</a></li>
							<li><a href="brand.html" class="inner-border">New brand 2</a></li>
							<li><a href="brand.html" class="inner-border">Happy Dog</a></li>
							<li><a href="brand.html" class="inner-border">Pedigree</a></li>
							<li><a href="brand.html" class="inner-border">Royal Canin</a></li>
							<li><a href="brand.html" class="inner-border">New brand 1</a></li>
							<li><a href="brand.html" class="inner-border">New brand 2</a></li>
							<li><a href="brand.html" class="inner-border">Happy Dog</a></li>
							<li><a href="brand.html" class="inner-border">Pedigree</a></li>
							<li><a href="brand.html" class="inner-border">Royal Canin</a></li>
							<li><a href="brand.html" class="inner-border">New brand 1</a></li>
							<li><a href="brand.html" class="inner-border">New brand 2</a></li>
							<li><a href="brand.html" class="inner-border">Happy Dog</a></li>
							<li><a href="brand.html" class="inner-border">Pedigree</a></li>
							<li><a href="brand.html" class="inner-border">Royal Canin</a></li>
						</ul>
						<div class="brand-btn-cont">
							<a href="" class="btn btn_block s-filter" data-open-text="Показать еще (15)" data-close-text="Свернуть бренды">Показать еще (15)</a>
						</div>
					</div>
				</div>	
			</div>
			<div class="content fright">
				<div class="bn sh"><img src="static/images/upload/bn.png" alt=""/></div>

				<h1 class="v1">Лучшее из Royal Canin</h1>

				<div class="catalog sh show-category mb36">
					<div class="p20 float-cont">
						<div class="line">

							//= includes/_catalog-item.html

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
								</div>
							</div>

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
								</div>
							</div>
						</div>
					</div>	
				</div>

				<h2 class="h1">Все товары бренда Royal Canin</h2>
				
				<div class="catalog sh show-category mb36">
					<div class="search-top ver-inline">
						<div class="ver-inline-title">Показать товары из разделов:</div>
						<div class="tags toggle-tags">
							<div class="tag">Собаки<span class="tag-remove"></span></div>
							<div class="tag">Кошки<span class="tag-remove"></span></div>
							<div class="tag">Грызуны<span class="tag-remove"></span></div>
						</div>
					</div>
					<div class="float-cont sort">
						<div class="fleft">
							<div class="sort_title">Сортировать по:</div>
							<a href="" class="sort_btn active sort-down">цене</a>
							<a href="" class="sort_btn">популярности</a>
							<a href="" class="sort_btn">новизне</a>
						</div>
						<div class="fright"><div class="sort_count">32 товара</div></div>
					</div>

					<div class="p20 float-cont">
						<div class="line">
							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">OZ-Pet</a></div>
								<div class="catalog-item-title"><a href="">Корм универсальный для собак</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="2,5 кг">725 Р</option>
											<option data-volume="1 кг">320 Р</option>
											<option data-volume="0,5 кг">150 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Уход за зубами</a>, <a href="">Лакомство для собак</a></div>
								</div>
							</div>

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
								</div>
							</div>

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
								</div>
							</div>
						</div>

						<div class="line">
							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c3.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
								</div>
							</div>

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
								</div>
							</div>

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
								</div>
							</div>
						</div>

						<div class="line">
							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
								</div>
							</div>

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c3.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
								</div>
							</div>

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
								</div>
							</div>
						</div>

					</div>

					<div class="float-cont catalog-btm">
						<div class="fleft paging">
							<div class="pag-title">Страницы:</div>
							<a href="" class="page hidden">Предыдущая</a>
							<a href="" class="page selected">1</a>
							<a href="" class="page">2</a>
							<a href="" class="page">3</a>
							<a href="" class="page">Следующая</a>
						</div>
						<div class="fright"><a href="" class="top-page s-scroll" data-scroll="top">Наверх</a></div>
					</div>
				</div>

				<div class="sh p20 def-color">
					<h3>Royal Canin - более 20 лет заботится о питомцах!</h3>
					<p>Небольшой сео текст с названиями популярных брендов и товарами.</p>

					<p>Магазин «ТинниВинни» создавался, чтобы ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p> 

					<p>Небольшой сео текст с названиями популярных брендов и товарами.</p>

					<p>Магазин «ТинниВинни» создавался, чтобы ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p> 
				</div>

			</div>
		</div>
	</div>

//= includes/_footer.html

