//= includes/_header.html

	<div class="width">
		<div class="breadcrumb-cont">
			<div class="breadcrumb mb0">
				<a href="" class="bread">Главная</a><span class="sep">/</span>
				<a href="" class="bread">Собаки</a><span class="sep">/</span>
				<a href="" class="bread">Сухой корм</a><span class="sep">/</span>
				<a href="" class="bread-current">Royal Canin Adult Neutered Small Dog</a>
			</div>
		</div>
		<div class="float-cont">
			<div class="sh float-cont">
				<div class="p20">

					//= includes/_card_photo.html

					<div class="card-desc">
						<h1>Royal Canin Maxi Junior Канин для молодых собак крупных пород 4 кг</h1>
						<div class="card-code">Код товара: 12778</div>
						<input type="hidden" class="prod-price-actual" value="540"/>
						<div class="card-rate-cont">
							<div class="card-rate">
								<div class="card-rate-item"></div>
								<div class="card-rate-item"></div>
								<div class="card-rate-item"></div>
								<div class="card-rate-item"></div>
								<div class="card-rate-item unactive"></div>
							</div>
							<div class="rate-txt">18 голосов, 3 отзыва</div>
						</div>
						<div class="card-price-cont">
							<div class="card-price">540 Р</div>
							<div class="marker-no-avaliable">Нет в наличии</div>
						</div>
						<div class="card-short-desc">Корм для щенков с с высоким содержанием животного протеина и малым количеством углеводов.</div>
						<div class="mb36">
							<div class="related-suggest-cont">
								<a href="#layer-remind" class="btn btn-block fancybox">Сообщить о поступлении</a>
								<div class="related-suggest">Мы нашли похожие<br/>товары!</div>
							</div>	
							<div class="related-date">
								Планируемая дата 
								поступления 12.10.2014,
								<span class="import">через 10 дней</span>
							</div>
						</div>
					</div>

					//= includes/_card_service.html

					//= includes/_card_tabs.html

					//= includes/_card_recently_not_avaliable.html

					//= includes/_card_blog.html

				</div>
			</div>
		</div>
	</div>

//= includes/_footer.html

//= includes/_card_layers.html

//= includes/_log_reg_layers.html