//= includes/_header.html

	<div class="width">
		<div class="float-cont breadcrumb-cont">
			<div class="breadcrumb fleft">
				<a href="" class="bread">Главная</a><span class="sep">/</span>
				<a href="" class="bread">Собаки</a><span class="sep">/</span>
				<a href="" class="bread">Сухой корм</a><span class="sep">/</span>
				<a href="" class="bread-current">Royal Canin Adult Neutered Small Dog</a>
			</div>
		</div>
		<div class="float-cont">
			<div class="sh float-cont">
				<div class="p20">
					<div class="card-photo-block">
						<div class="bxslider-photo-border">
							<div class="bxslider-photo">
								<div class="photo-slide"><img src="images/upload/p1.jpg" alt=""/></div>
								<div class="photo-slide"><img src="images/upload/p2.jpg" alt=""/></div>
								<div class="photo-slide"><img src="images/upload/c1.jpg" alt=""/></div>
								<div class="photo-slide"><img src="images/upload/c2.jpg" alt=""/></div>
								<div class="photo-slide"><img src="images/upload/c3.jpg" alt=""/></div>
							</div>
							<div class="bx-arrow-left"></div>
							<div class="bx-arrow-right"></div>
						</div>
						<div class="bxpager-cont">
							<div id="bxpager">
								<a href="" class="bxpager b0" data-slide-index="0">
									<span class="bxpager-inner">
										<img src="images/upload/p1-small.jpg" alt=""/>
									</span>
								</a>
								<a href="" class="bxpager b1" data-slide-index="1">
									<span class="bxpager-inner">
										<img src="images/upload/p2.jpg" alt=""/>
									</span>
								</a>
								<a href="" class="bxpager b2" data-slide-index="2">
									<span class="bxpager-inner">
										<img src="images/upload/c1.jpg" alt=""/>
									</span>
								</a>
								<a href="" class="bxpager b3" data-slide-index="3">
									<span class="bxpager-inner">
										<img src="images/upload/c2.jpg" alt=""/>
									</span>
								</a>
								<a href="" class="bxpager b4" data-slide-index="4">
									<span class="bxpager-inner">
										<img src="images/upload/c3.jpg" alt=""/>
									</span>
								</a>
							</div>
							<div class="bx-arrow-left"></div>
							<div class="bx-arrow-right"></div>
						</div>
					</div>
					<div class="card-desc">
						<h1>Royal Canin Maxi Junior Канин для молодых собак крупных пород 4 кг</h1>
						<div class="card-code">Код товара: 12778</div>
						<div class="card-rate-cont">
							<div class="card-rate">
								<div class="card-rate-item"></div>
								<div class="card-rate-item"></div>
								<div class="card-rate-item"></div>
								<div class="card-rate-item"></div>
								<div class="card-rate-item unactive"></div>
							</div>
							<div class="rate-txt">18 голосов, 2 отзыва</div>
						</div>
						<div class="card-price-cont">
							<div class="card-price">540 Р</div>
							<div class="marker-avaliable">В наличии</div>
						
							<div class="card-price-old">640 Р</div>
						</div>
						<div class="card-short-desc">Корм для щенков с с высоким содержанием животного протеина и малым количеством углеводов.</div>
						<div class="card-count">
							Количество <span class="count-dec"></span><input type="text" class="card-count-input" value="1"/><span class="count-inc"></span>
						</div>
						<div class="card-total">
							Цена: 1080 руб  <span class="total-desc">(540 х 2)</span>
						</div>
						<div class="mb36">
							<a href="" class="btn btn-buy">В корзину</a>
							<a href="" class="semibold">Купить в 1 клик</a>
						</div>
					</div>

					<div class="card-service">
						<div class="card-delivery">
							<a href="" class="c-delivery">Бесплатная доставка по Москве</a>
							<div class="fs11-grey">при заказе от 999 руб!</div>
						</div>
						<a href="" class="card-service-item"><img src="images/ico/fav.png" class="card-service-ico"/><span class="card-service-txt">Сохранить<br/>в избранное</span></a>
						<a href="" class="card-service-item"><img src="images/ico/fav.png" class="card-service-ico"/><span class="card-service-txt">Поделиться</span></a>
						<a href="" class="card-service-item"><img src="images/ico/fav.png" class="card-service-ico"/><span class="card-service-txt">Чат с менеджером</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>

//= includes/_footer.html