//= includes/_header.html

	<div class="width">
		<div class="float-cont breadcrumb-cont">
			<div class="breadcrumb fleft mb0">
				<a href="" class="bread">Главная</a><span class="sep">/</span>
				<a href="" class="bread">Собаки</a><span class="sep">/</span>
				<a href="" class="bread">Сухой корм</a><span class="sep">/</span>
				<a href="" class="bread-current">Royal Canin Adult Neutered Small Dog</a>
			</div>
		</div>
		<div class="float-cont">
			<div class="sh float-cont">
				<div class="p20">

					//= includes/_card_photo.html

					<div class="card-desc">
						<h1>Royal Canin Maxi Junior Канин для молодых собак крупных пород 4 кг</h1>
						<div class="card-code">Код товара: 12778</div>
						<input type="hidden" class="prod-price-actual" value="540"/>
						<div class="card-rate-cont">
							<div class="card-rate">
								<div class="card-rate-item"></div>
								<div class="card-rate-item"></div>
								<div class="card-rate-item"></div>
								<div class="card-rate-item"></div>
								<div class="card-rate-item unactive"></div>
							</div>
							<div class="rate-txt">18 голосов, 3 отзыва</div>
						</div>
						<div class="card-price-cont">
							<div class="card-price">540 Р</div>
							<div class="marker-avaliable">В наличии</div>
						
							<div class="card-price-old">640 Р</div>
						</div>
						<div class="card-short-desc">Корм для щенков с с высоким содержанием животного протеина и малым количеством углеводов.</div>
						<div class="card-count">
							Количество <span class="count-dec"></span><input type="text" class="card-count-input" value="1"/><span class="count-inc"></span>
						</div>
						<div class="card-total">
							Цена: <span class="total-value">1080</span> руб  <span class="total-desc">(540 х <span class="counter-value">2</span>)</span>
						</div>
						<div class="mb36">
							<a href="" class="btn btn-buy">В корзину</a>
							<a href="#layer-click" class="fancybox semibold">Купить в 1 клик</a>
						</div>
					</div>

					//= includes/_card_service.html
					
				</div>
			</div>		

			

			//= includes/_card_tabs.html

			//= includes/_card_recently.html

			//= includes/_card_blog.html

		</div>
	</div>


//= includes/_footer.html