//= includes/_header.html

	<div class="width">
		<div class="float-cont breadcrumb-cont">
			<div class="breadcrumb fleft">
				<a href="" class="bread">Главная</a><span class="sep">/</span>
				<a href="" class="bread-current">Собаки</a>
			</div>
		</div>
		<div class="float-cont">
			<div class="sidebar fleft">
				<div class="breed-cont popup-cont tip-wrap">
					<a href="#" class="popup-btn btn_big btn breed-btn tip-init active" data-yoffset="50">Малая аппенинская гончая</a>
					<div class="tip tip_atop tip_atop_r">Мы отобрали товары специально для этой породы!</div>
					<div class="popup-layer">
						<div class="popup-inner">
							<form>
								Любимая порода
								<div class="tags">
									<div class="tag">Малая аппенинская гончая <span class="tag-remove"></span></div>
								</div>
								<div class="autocomplete-cont">
									<input type="text" class="tag-input autocomplete-input" value="Ма"/>
									<a href="" class="btn autocomplete-submit">Выбрать</a>
									<div class="autocomplete">
										<div class="autocomplete-line">Мальтезе</div>
										<div class="autocomplete-line">Малая аппенинская гончая</div>
										<div class="autocomplete-line">Малинуа</div>
										<div class="autocomplete-line">Малый брабансон</div>
									</div>
								</div>
							</form>
						</div>
						<div class="popup-close"></div>
						<div class="popup-corner"></div>
					</div>
				</div>

				<div class="filter-cont sh">
					<div class="small-section">
						<div class="section-title">
							<span class="section-title-txt">Все для</span>
							<img class="title-ico" alt="" src="static/images/ico/title-dog.png">
							<span class="section-title-txt right">собак</span>
						</div>
					</div>
					<ul class="catalog-list">
						<li><a href="filter.html" class="inner-border">Корма</a></li>
						<li><a href="filter.html" class="inner-border">Здоровье</a></li>
						<li><a href="filter.html" class="inner-border">Гигиена и уборка</a></li>
						<li><a href="filter.html" class="inner-border">Уход</a></li>
						<li><a href="filter.html" class="inner-border">Лежаки, домики</a></li>
						<li><a href="filter.html" class="inner-border">Ошейники, поводки</a></li>
						<li><a href="filter.html" class="inner-border">Одежда, обувь, аксессуары</a></li>
						<li><a href="filter.html" class="inner-border">Игрушки</a></li>
						<li><a href="filter.html" class="inner-border">Транспортировка</a></li>
						<li><a href="filter.html" class="inner-border">Ступеньки</a></li>
						<li><a href="filter.html" class="inner-border">Миски</a></li>
					</ul>
				</div>
			</div>
			<div class="content fright">
				<h1 class="v3">Все для Малой аппенинской гончей</h1>

				<div class="sh catalog subcatalog show-category">
					<div class="subcatalog-title float-cont">
						<div class="fleft"><h2>Корма для Малой аппенинской гончей</h2></div>
						<div class="fright"><a href="#">Все корма для Малой аппенинской гончей</a></div>
					</div>

					<div class="p20 float-cont">
						<div class="line">
							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">OZ-Pet</a></div>
								<div class="catalog-item-title"><a href="">Корм универсальный для собак</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="2,5 кг">725 Р</option>
											<option data-volume="1 кг">320 Р</option>
											<option data-volume="0,5 кг">150 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Сухие корма</a>, <a href="">Лакомство для собак</a></div>
								</div>
							</div>

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы</a></div>
								</div>
							</div>

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Элитные корма</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="sh catalog subcatalog show-category">
					<div class="subcatalog-title float-cont">
						<div class="fleft"><h2>Здоровье для Малой аппенинской гончей</h2></div>
						<div class="fright"><a href="#">Все товары для здоровья для Малой аппенинской гончей</a></div>
					</div>

					<div class="p20 float-cont">
						<div class="line">
							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">OZ-Pet</a></div>
								<div class="catalog-item-title"><a href="">Корм универсиальный для собак</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="2,5 кг">725 Р</option>
											<option data-volume="1 кг">320 Р</option>
											<option data-volume="0,5 кг">150 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Сухие корма</a>, <a href="">Лакомство для собак</a></div>
								</div>
							</div>

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Консервы</a></div>
								</div>
							</div>

							<div class="catalog-sep"></div>

							<div class="catalog-item">
								<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
									<span class="qv"></span>Быстрый просмотр
								</div>
								<div class="catalog-item-img">
									<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
								</div>
								<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
								<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
								<div class="float-cont">
									<div class="catalog-item-price">
										<div class="fs11">Цена</div>
										<select class="select2-complex">
											<option selected data-volume="3,5 кг">1 200 Р</option>
											<option data-volume="2 кг">920 Р</option>
											<option data-volume="0,5 кг">550 Р</option>
										</select>
									</div>
									<div class="catalog-item-count">
										<div class="fs11">Кол-во</div>
										<input type="text" class="qty" value="1"/>
									</div>
								</div>	
								<div class="btn-cont"><a href="" class="btn">Купить</a></div>
								<div class="catalog-item-category">
									В категории
									<div class="catalog-item-category-link"><a href="">Элитные корма</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="sh p20 def-color">
					<h3>Малая аппенинская гончая</h3>
					<p><strong>Малая аппенинская гончая</strong> или <strong>маремманская гончая</strong>, известна также, как <strong>итальянская аппенинская гончая</strong> (Piccolo lepraiolo dell`Appennino molisano) — охотничья порода собак родом из Италии. Дон Нандо Армани главный любитель этой породы, он много сделал для ее развития и признания. Изначально было много разновидностей этой породы, которые имели отличия в структуре шерсти и размерах. Однако в 1994 году было решено выбрать 3 разновидности и впоследствии объединить их в одну породу. На сегодняшний день эта порода не получила признания международной кинологической федерации и очень редко встречается даже на родине, в Италии.<br/><br/>

					Представители этой породы отлично подходят для <a href="">охоты на зайца</a> и другого мелкого зверя, они очень азартны, выносливы и обладают крепким здоровьем. Этим собакам не страшны никакие капризы погоды. Но несмотря на то, что они легко адаптируются к любым условиям и неприхотливы к пище, для содержания в городской квартире малые аппенинские гончие не приспособлены, им нужны большие физические нагрузки и долгие прогулки. Также очень важно общение с людьми, особенно с хозяином.<br/><br/>

					<img src="static/images/upload/mal.jpg" alt="" style="float: right; margin: 10px 0 20px 30px;"/>

					Внешний вид малой аппенинской гончей больше всего напоминает итальянского сегуджо. Это мощные собаки со средней длинны шеей, глубокой и широкой грудью, а также довольно короткими, но сильными конечностями. Хвост довольно длинный, тонкий.<br/><br/>

					У этих собак не очень большая голова, с широким выпуклым лбом. Морда сужается по направлению к носу, мочка носа — черная. Глаза среднего размера, уши большие, висячие, расположены низко.<br/><br/>

					Эта порода имеет средней длинны шерсть и разводится в двух вариантах: жесткошерстном и гладкошерстном. Окрас рыжевато-бурый, рыжий с глубочайшим черным чепраком.<br/><br/>

					Рост в холке кобелей 42-52 см, сук 40-50 см.<br/><br/>

					Весят малые аппенинские гончие от 13 до 23 кг.
					</p>
				</div>

				<div class="sh p20 def-color">
					<h3 class="mb10">Вам будет полезно</h3>
					<div class="link-small"><a href="" class="underline">Все записи</a></div>

					<div class="float-cont">
						<div class="blog_item_short w300">
							<a href="" class="blog_img blog_img_short"><img src="static/images/upload/b1.jpg" alt=""/></a>
							<div class="blog_date">15 декабря 2015</div>
							<div class="blog_title_short"><a href="">Выбираем корм для щенка</a></div>
							<div class="blog_text">Как правильно выбрать корм: в зависимости от породы, возраста и активности вашего щенка.</div>
						</div>

						<div class="blog_item_short w300">
							<a href="" class="blog_img blog_img_short"><img src="static/images/upload/b1.jpg" alt=""/></a>
							<div class="blog_date">15 декабря 2015</div>
							<div class="blog_title_short"><a href="">Дрессировка собаки - с какого возраста начать...</a></div>
							<div class="blog_text">Как правильно выбрать корм: в зависимости от породы, возраста и активности вашего щенка.</div>
						</div>

					</div>	

				</div>	
			</div>
		</div>
	</div>

//= includes/_footer.html