//= includes/_header.html

<div class="width">
    <div class="float-cont">
        <div class="sidebar fleft">
            <div class="filter-cont sh">
                <ul>
                    <li><a href="#" class="inner-border">О магазине</a></li>
                    <li><a href="#" class="inner-border">Партнерам</a></li>
                    <li class="filter-simple_selected"><div class="inner-border">Контакты</div></li>
                    <li><a href="#" class="inner-border">Правовая информация</a></li>
                    <li><a href="#" class="inner-border">Карта сайта</a></li>
                </ul>
            </div>
        </div>
        <div class="content fright">
            <h1 class="mb10">Контакты</h1>
            <div class="sh ptb20">
                <div class="plr20">
                    <p class="mb25">Два быстрых и простых способа, чтобы связаться с нами - мы рады вам помочь!</p>
                    <div class="contact_item phone mb36">
                        <p class="semibold">Служба поддержки клиентов — позвоните нам!</p>
                        <p class="mb5">Мы работаем с 9:00 до 22:00 ежедневно</p>
                        <p class="h2 mb5">+7 (495) 111-11-11</p>
                        <p class="fs11-grey">специалист нашего call-центра.</p>
                    </div>
                    <div class="contact_item mail mb25">
                        <p class="semibold">Напишите нам</p>
                        <p class="mb10">Мы ответим на ваши вопросы так быстро, как только сможем</p>
                        <a href="#" class="blue dashed">Задать вопрос</a>
                    </div>
                    <div class="mb25">
                        <p class="semibold mb5">Дополнительные вопросы</p>
                        <a href="mailto:info@teenyweeny.ru" class="blue">info@teenyweeny.ru</a>
                    </div>
                </div>
                <div class="filter-block plr20 mb20 s-filter-block">
                    <p class="semibold mb5">Реквизиты</p>
                    <div class="filter-content filter-contacts_content s-filter-content">
                        <p class="mb10">Интернет-магазин Sapato.ru представлен компанией: ООО "ЗАПАТО.РУ"</p>
                        <p class="semibold">ООО «ЗАПАТО.РУ»</p>
                        <p>
                            <span class="semibold">Адрес:</span>
                            <span class="def-color">125252, Россия, г. Москва, Чапаевский пер., д. 14.</span>
                        </p>
                        <p>
                            <span class="semibold">ОГРН</span>
                            <span class="def-color">1107746178539</span>
                        </p>
                        <p>
                            <span class="semibold">ИНН</span>
                            <span class="def-color">7715800174</span>
                        </p>
                        <p>
                            <span class="semibold">КПП</span>
                            <span class="def-color">770301001</span>
                        </p>
                        <p>
                            <span class="semibold">Банк:</span>
                            <span class="def-color">Московский банк Сбербанка России ОАО, г. Москва.</span>
                        </p>
                        <p>
                            <span class="semibold">Расчетный счет в рублях:</span>
                            <span class="def-color">40702810238040024145</span>
                        </p>
                        <p>
                            <span class="semibold">к/с</span>
                            <span class="def-color">30101810400000000225</span>
                        </p>
                        <p>
                            <span class="semibold">БИК</span>
                            <span class="def-color">044525225</span>
                        </p>
                        <p>
                            <span class="semibold">Телефон:</span>
                            <span class="def-color">+7 (495) 643 11 09</span>
                        </p>
                        <p>
                            <span class="semibold">Факс:</span>
                            <span class="def-color">+7 (495) 643 11 08</span>
                        </p>
                    </div>
                    <a href="#" class="filter_link blue dashed s-filter" data-open-text="Посмотреть реквизиты" data-close-text="Скрыть реквизиты">Посмотреть реквизиты</a>
                </div>
                <div class="filter-block mb5 s-filter-block">
                    <p class="semibold plr20 mb5">Как нас найти</p>
                    <div class="filter-content filter-contacts_content s-filter-content">
                        <div class="plr20 mb15">
                            <p class="def-color">г. Москва, метро Курская, ул. Нижняя Сыромятническая, 10, строение 4, офис 5</p>
                            <p><span class="def-color">Офис работает ежедневно</span> <span class="semibold">с 9:00 до 19:00</span>.</p>
                        </div>
                        <div id="map_moscow" class="contects_map"></div>
                    </div>
                    <div class="plr20">
                        <a href="#" class="filter_link blue dashed s-filter" data-open-text="Москва, м. Курская. Схема проезда" data-close-text="Свернуть">Москва, м. Курская. Схема проезда</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

//= includes/_footer.html