//= includes/_header.html

<div class="width">
    <div class="float-cont">
        <div class="sidebar fleft">
            <div class="filter-cont sh">
                <ul>
                    <li>
                        <div class="filter-simple_title current">Доставка</div>
                        <ul class="s-tabs-related" data-tabs="delivery">
                            <li class="filter-simple_option selected">Москва</li>
                            <li class="filter-simple_option">Московская область</li>
                            <li class="filter-simple_option">Россия</li>
                        </ul>
                    </li>
                    <li><a href="#" class="filter-simple_title">Оплата</a></li>
                    <li><a href="#" class="filter-simple_title">Возврат товара</a></li>
                    <li><a href="#" class="filter-simple_title">Обмен товара</a></li>
                    <li><a href="#" class="filter-simple_title">Безопасность</a></li>
                    <li><a href="#" class="filter-simple_title">Вопросы и ответы</a></li>
                    <li><a href="#" class="filter-simple_title">Письмо директору</a></li>
                    <li><a href="#" class="filter-simple_title">Наш блог</a></li>
                    <li><a href="#" class="filter-simple_title">Энциклопедия пород</a></li>
                </ul>
            </div>
        </div>
        <div class="content fright">
            <h1 class="mb10">Доставка</h1>
            <div class="float-cont">
                <ul class="tabs tabs_col3 s-tabs" data-tabs="delivery">
                    <li class="selected">
                        <img src="static/images/ico/tab-delivery1.png" class="tabs_img" alt="" />
                        <p>Москва</p>
                        <span class="sh-fix"></span>
                    </li>
                    <li>
                        <img src="static/images/ico/tab-delivery2.png" class="tabs_img" alt="" />
                        <p>Московская область</p>
                        <span class="sh-fix"></span>
                    </li>
                    <li>
                        <img src="static/images/ico/tab-delivery3.png" class="tabs_img" alt="" />
                        <p>Россия</p>
                        <span class="sh-fix"></span>
                    </li>
                </ul>
            </div>
            <div class="s-tabs-boxes" data-tabs="delivery">
                <div class="tab-box selected">
                    //= includes/_moscow.html
                </div>
                <div class="tab-box">
                    //= includes/_regions.html
                </div>
                <div class="tab-box">
                    //= includes/_russia.html
                </div>
            </div>
        </div>
    </div>
</div>

//= includes/_footer.html