//= includes/_header.html

<div class="width">
    <div class="float-cont">
        <div class="sidebar fleft">
            <div class="filter-cont sh">
                <ul>
                    <li><a href="#" class="filter-simple_title">Доставка</a></li>
                    <li><a href="#" class="filter-simple_title">Оплата</a></li>
                    <li><a href="#" class="filter-simple_title">Операции с товаром</a></li>
                    <li><a href="#" class="filter-simple_title">Безопасность</a></li>
                    <li><a href="#" class="filter-simple_title">Вопросы и ответы</a></li>
                    <li><a href="#" class="filter-simple_title">Письмо директору</a></li>
                    <li><a href="#" class="filter-simple_title">Наш блог</a></li>
                    <li><div class="filter-simple_title current">Энциклопедия пород</div></li>
                </ul>
            </div>
        </div>
        <div class="content fright">
            <h1 class="mb10">Энциклопедия пород</h1>
            <div class="sh p20 mb40">
                <div class="float-cont mb20">
                    <form class="search-block full">
                        <input type="text" class="search-input dark" placeholder="Найти в блоге" />
                        <input type="submit" class="search-sub" value=""/>
                    </form>
                </div>
                <div class="text_grey mb30">
                    <p class="mb20">Мы собрали информацию для популярных пород домашних животных:</p>
                    <p class="pl20">— рекомендации по уходу</p>
                    <p class="pl20">— специальные корма и добавки</p>
                    <p class="pl20">— решение проблем здоровья</p>
                </div>
                <form action="#" method="post" class="form">
                    <div class="form_group form_group_wide">
                        <label for="section" class="form_label">Раздел:</label>
                        <select id="section" class="select2">
                            <option>Собаки</option>
                            <option selected>Кошки</option>
                        </select>
                    </div>
                    <div class="form_group form_group_wide">
                        <label for="reason" class="form_label">Подраздел:</label>
                        <select id="reason" class="select2">
                            <option>Мальтезе</option>
                            <option selected>Овчарки</option>
                        </select>
                    </div>
                    <div class="form_group mb0">
                        <input type="submit" class="btn btn_block" value="Найти" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

//= includes/_footer.html