//= includes/_header.html

<div class="width">
	<div class="float-cont breadcrumb-cont">
		<div class="breadcrumb fleft">
			<a href="" class="bread">Главная</a><span class="sep">/</span>
			<a href="" class="bread">Собаки</a><span class="sep">/</span>
			<a href="" class="bread-current">Корма</a>
		</div>
		<div class="fright small-select">
			<div class="fs11 ib">Смотрите также для собак:</div>
			<select class="select2" style="width: 160px;">
				<option>Миски</option>
				<option>Лечебные добавки</option>
				<option>Витамины</option>
				<option>Диетические корма</option>
			</select>
		</div>
	</div>
	<div class="float-cont">
		<div class="sidebar fleft">
			<div class="breed-cont popup-cont tip-wrap">
				<a href="#" class="popup-btn btn_big btn breed-btn tip-init" data-yoffset="50">Выбрать породу</a>
				<div class="tip tip_atop tip_atop_r">У нас есть специальные товары для некоторых пород. Выберите породу и посмотрите!</div>
				<div class="popup-layer popup_breed">
					<div class="popup-inner">
						<form>
							Любимая порода
							<div class="tags">
								<!-- see catalog_breed.html page for variant of this block -->
							</div>
							<div class="autocomplete-cont">
								<input type="text" class="tag-input autocomplete-input" value="Ма"/>
								<a href="" class="btn autocomplete-submit">Выбрать</a>
								<div class="autocomplete">
									<div class="autocomplete-line">Мальтезе</div>
									<div class="autocomplete-line">Малая аппенинская гончая</div>
									<div class="autocomplete-line">Малинуа</div>
									<div class="autocomplete-line">Малый брабансон</div>
								</div>
							</div>
						</form>
					</div>
					<div class="popup-close"></div>
				</div>
			</div>
			<div class="level-up"><a href="">Каталог для собак</a></div>
			<div class="filter-cont sh">
				<div class="catalog-title">Корма</div>
				<div class="filter-block opened default-opened s-filter-block">
					<div class="filter-title s-filter">Тип корма:<span class="filter-title-arrow"></span></div>
					<ul class="filter-content s-filter-content">
						<li class="filter-option"><div class="inner-border">Сухие корма<span class="super-txt">(159)</span></div></li>
						<li class="filter-option"><div class="inner-border">Консервы<span class="super-txt">(81)</span></div></li>
						<li class="filter-option"><div class="inner-border">Лакомства<span class="super-txt">(34)</span></div></li>
					</ul>
				</div>
				<div class="filter-block opened default-opened s-filter-block">
					<div class="filter-title s-filter">Цена:<span class="filter-title-arrow"></span></div>
					<div class="slider-form filter-content s-filter-content">
						<div class="slider-range-cont">
							<div class="slider-range"></div>
						</div>
						<div class="float-cont">
							<div class="fleft">
								от
								<div><input type="text" class="min"/></div>
							</div>
							<div class="fright">
								до
								<div><input type="text" class="max"/></div>
							</div>
						</div>
					</div>
				</div>
				<div class="filter-block s-filter-block">
					<div class="filter-title s-filter">Возраст:<span class="filter-title-arrow"></span></div>
					<ul class="filter-content s-filter-content">
						<li class="filter-option"><div class="inner-border">Щенок<span class="super-txt">(159)</span></div></li>
						<li class="filter-option"><div class="inner-border">Взрослая собака<span class="super-txt">(81)</span></div></li>
						<li class="filter-option"><div class="inner-border">Старая собака<span class="super-txt">(34)</span></div></li>
					</ul>
				</div>
				<div class="filter-btn">
					<a href="" class="btn btn-med">Показать</a><a href="" class="btn-reset">Сбросить</a>
				</div>
			</div>
		</div>
		<div class="content fright">
			<h1 class="v1">Корма</h1>
			<div class="quick-variant float-cont bx-cont">
				<div class="bxslider">
					<div class="quick-slide-sh">
						<div class="quick-slide">
							<div class="quick-img"><a href=""><img src="static/images/upload/q1.jpg" alt=""/></a></div>
							<div class="quick-name"><a href="">Все</a><span class="super-txt">(437)</span></div>
						</div>
					</div>
					<div class="quick-slide-sh">
						<div class="quick-slide">
							<div class="quick-img"><a href=""><img src="static/images/upload/q1.jpg" alt=""/></a></div>
							<div class="quick-name"><a href="">Для взрослых собак</a><span class="super-txt">(437)</span></div>
						</div>
					</div>
					<div class="quick-slide-sh">
						<div class="quick-slide">
							<div class="quick-img"><a href=""><img src="static/images/upload/q1.jpg" alt=""/></a></div>
							<div class="quick-name"><a href="">Для кастрированных собак</a><span class="super-txt">(437)</span></div>
						</div>
					</div>
					<div class="quick-slide-sh">
						<div class="quick-slide">
							<div class="quick-img"><a href=""><img src="static/images/upload/q1.jpg" alt=""/></a></div>
							<div class="quick-name"><a href="">Корм для шерсти</a><span class="super-txt">(437)</span></div>
						</div>
					</div>
					<div class="quick-slide-sh">
						<div class="quick-slide">
							<div class="quick-img"><a href=""><img src="static/images/upload/q1.jpg" alt=""/></a></div>
							<div class="quick-name"><a href="">123</a><span class="super-txt">(437)</span></div>
						</div>
					</div>
					<div class="quick-slide-sh">
						<div class="quick-slide">
							<div class="quick-img"><a href=""><img src="static/images/upload/q1.jpg" alt=""/></a></div>
							<div class="quick-name"><a href="">4</a><span class="super-txt">(437)</span></div>
						</div>
					</div>
					<div class="quick-slide-sh">
						<div class="quick-slide">
							<div class="quick-img"><a href=""><img src="static/images/upload/q1.jpg" alt=""/></a></div>
							<div class="quick-name"><a href="">5</a><span class="super-txt">(437)</span></div>
						</div>
					</div>
					<div class="quick-slide-sh">
						<div class="quick-slide">
							<div class="quick-img"><a href=""><img src="static/images/upload/q1.jpg" alt=""/></a></div>
							<div class="quick-name"><a href="">6</a><span class="super-txt">(437)</span></div>
						</div>
					</div>
				</div>
				<div class="bx-arrow-left"></div>
				<div class="bx-arrow-right"></div>
			</div>
			<div class="catalog sh">
				<div class="float-cont sort">
					<div class="fleft">
						<div class="sort_title">Сортировать по:</div>
						<a href="" class="sort_btn active sort-down">цене</a>
						<a href="" class="sort_btn">популярности</a>
						<a href="" class="sort_btn">новизне</a>
					</div>
					<div class="fright"><div class="sort_count">32 товара</div></div>
				</div>

				<div class="p20 float-cont">
					<div class="line">
						<div class="catalog-item">
							<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
								<span class="qv"></span>Быстрый просмотр
							</div>
							<div class="catalog-item-img">
								<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
							</div>
							<div class="catalog-item-brand"><a href="">OZ-Pet</a></div>
							<div class="catalog-item-title"><a href="">Корм универсальный для собак</a></div>
							<div class="float-cont">
								<div class="catalog-item-price">
									<div class="fs11">Цена</div>
									<select class="select2-complex">
										<option selected data-volume="2,5 кг">725 Р</option>
										<option data-volume="1 кг">320 Р</option>
										<option data-volume="0,5 кг">150 Р</option>
									</select>
								</div>
								<div class="catalog-item-count">
									<div class="fs11">Кол-во</div>
									<input type="text" class="qty" value="1"/>
								</div>
							</div>
							<div class="btn-cont"><a href="" class="btn">Купить</a></div>
							<div class="catalog-item-category">
								В категории
								<div class="catalog-item-category-link"><a href="">Уход за зубами</a>, <a href="">Лакомство для собак</a></div>
							</div>
						</div>

						<div class="catalog-sep"></div>

						<div class="catalog-item">
							<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
								<span class="qv"></span>Быстрый просмотр
							</div>
							<div class="catalog-item-img">
								<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
							</div>
							<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
							<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
							<div class="float-cont">
								<div class="catalog-item-price">
									<div class="fs11">Цена</div>
									<select class="select2-complex">
										<option selected data-volume="3,5 кг">1 200 Р</option>
										<option data-volume="2 кг">920 Р</option>
										<option data-volume="0,5 кг">550 Р</option>
									</select>
								</div>
								<div class="catalog-item-count">
									<div class="fs11">Кол-во</div>
									<input type="text" class="qty" value="1"/>
								</div>
							</div>
							<div class="btn-cont"><a href="" class="btn">Купить</a></div>
							<div class="catalog-item-category">
								В категории
								<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
							</div>
						</div>

						<div class="catalog-sep"></div>

						<div class="catalog-item">
							<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
								<span class="qv"></span>Быстрый просмотр
							</div>
							<div class="catalog-item-img">
								<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
							</div>
							<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
							<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
							<div class="float-cont">
								<div class="catalog-item-price">
									<div class="fs11">Цена</div>
									<select class="select2-complex">
										<option selected data-volume="3,5 кг">1 200 Р</option>
										<option data-volume="2 кг">920 Р</option>
										<option data-volume="0,5 кг">550 Р</option>
									</select>
								</div>
								<div class="catalog-item-count">
									<div class="fs11">Кол-во</div>
									<input type="text" class="qty" value="1"/>
								</div>
							</div>
							<div class="btn-cont"><a href="" class="btn">Купить</a></div>
							<div class="catalog-item-category">
								В категории
								<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
							</div>
						</div>
					</div>

					<div class="line">
						<div class="catalog-item">
							<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
								<span class="qv"></span>Быстрый просмотр
							</div>
							<div class="catalog-item-img">
								<a href=""><img src="static/images/upload/c3.jpg" alt=""/></a>
							</div>
							<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
							<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
							<div class="float-cont">
								<div class="catalog-item-price">
									<div class="fs11">Цена</div>
									<select class="select2-complex">
										<option selected data-volume="3,5 кг">1 200 Р</option>
										<option data-volume="2 кг">920 Р</option>
										<option data-volume="0,5 кг">550 Р</option>
									</select>
								</div>
								<div class="catalog-item-count">
									<div class="fs11">Кол-во</div>
									<input type="text" class="qty" value="1"/>
								</div>
							</div>
							<div class="btn-cont"><a href="" class="btn">Купить</a></div>
							<div class="catalog-item-category">
								В категории
								<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
							</div>
						</div>

						<div class="catalog-sep"></div>

						<div class="catalog-item">
							<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
								<span class="qv"></span>Быстрый просмотр
							</div>
							<div class="catalog-item-img">
								<a href=""><img src="static/images/upload/c1.jpg" alt=""/></a>
							</div>
							<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
							<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
							<div class="float-cont">
								<div class="catalog-item-price">
									<div class="fs11">Цена</div>
									<select class="select2-complex">
										<option selected data-volume="3,5 кг">1 200 Р</option>
										<option data-volume="2 кг">920 Р</option>
										<option data-volume="0,5 кг">550 Р</option>
									</select>
								</div>
								<div class="catalog-item-count">
									<div class="fs11">Кол-во</div>
									<input type="text" class="qty" value="1"/>
								</div>
							</div>
							<div class="btn-cont"><a href="" class="btn">Купить</a></div>
							<div class="catalog-item-category">
								В категории
								<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
							</div>
						</div>

						<div class="catalog-sep"></div>

						<div class="catalog-item">
							<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
								<span class="qv"></span>Быстрый просмотр
							</div>
							<div class="catalog-item-img">
								<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
							</div>
							<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
							<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
							<div class="float-cont">
								<div class="catalog-item-price">
									<div class="fs11">Цена</div>
									<select class="select2-complex">
										<option selected data-volume="3,5 кг">1 200 Р</option>
										<option data-volume="2 кг">920 Р</option>
										<option data-volume="0,5 кг">550 Р</option>
									</select>
								</div>
								<div class="catalog-item-count">
									<div class="fs11">Кол-во</div>
									<input type="text" class="qty" value="1"/>
								</div>
							</div>
							<div class="btn-cont"><a href="" class="btn">Купить</a></div>
							<div class="catalog-item-category">
								В категории
								<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
							</div>
						</div>
					</div>

					<div class="line">
						<div class="catalog-item">
							<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
								<span class="qv"></span>Быстрый просмотр
							</div>
							<div class="catalog-item-img">
								<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
							</div>
							<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
							<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
							<div class="float-cont">
								<div class="catalog-item-price">
									<div class="fs11">Цена</div>
									<select class="select2-complex">
										<option selected data-volume="3,5 кг">1 200 Р</option>
										<option data-volume="2 кг">920 Р</option>
										<option data-volume="0,5 кг">550 Р</option>
									</select>
								</div>
								<div class="catalog-item-count">
									<div class="fs11">Кол-во</div>
									<input type="text" class="qty" value="1"/>
								</div>
							</div>
							<div class="btn-cont"><a href="" class="btn">Купить</a></div>
							<div class="catalog-item-category">
								В категории
								<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
							</div>
						</div>

						<div class="catalog-sep"></div>

						<div class="catalog-item">
							<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
								<span class="qv"></span>Быстрый просмотр
							</div>
							<div class="catalog-item-img">
								<a href=""><img src="static/images/upload/c3.jpg" alt=""/></a>
							</div>
							<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
							<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
							<div class="float-cont">
								<div class="catalog-item-price">
									<div class="fs11">Цена</div>
									<select class="select2-complex">
										<option selected data-volume="3,5 кг">1 200 Р</option>
										<option data-volume="2 кг">920 Р</option>
										<option data-volume="0,5 кг">550 Р</option>
									</select>
								</div>
								<div class="catalog-item-count">
									<div class="fs11">Кол-во</div>
									<input type="text" class="qty" value="1"/>
								</div>
							</div>
							<div class="btn-cont"><a href="" class="btn">Купить</a></div>
							<div class="catalog-item-category">
								В категории
								<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
							</div>
						</div>

						<div class="catalog-sep"></div>

						<div class="catalog-item">
							<div class="quick-view-btn fancybox" data-fancybox-href="#layer-quickview">
								<span class="qv"></span>Быстрый просмотр
							</div>
							<div class="catalog-item-img">
								<a href=""><img src="static/images/upload/c2.jpg" alt=""/></a>
							</div>
							<div class="catalog-item-brand"><a href="">Royal Canin</a></div>
							<div class="catalog-item-title"><a href="">Urban Life Junior Wet, корм влажный для щенков...</a></div>
							<div class="float-cont">
								<div class="catalog-item-price">
									<div class="fs11">Цена</div>
									<select class="select2-complex">
										<option selected data-volume="3,5 кг">1 200 Р</option>
										<option data-volume="2 кг">920 Р</option>
										<option data-volume="0,5 кг">550 Р</option>
									</select>
								</div>
								<div class="catalog-item-count">
									<div class="fs11">Кол-во</div>
									<input type="text" class="qty" value="1"/>
								</div>
							</div>
							<div class="btn-cont"><a href="" class="btn">Купить</a></div>
							<div class="catalog-item-category">
								В категории
								<div class="catalog-item-category-link"><a href="">Консервы для щенков</a></div>
							</div>
						</div>
					</div>

				</div>

				<div class="float-cont catalog-btm">
					<div class="fleft paging">
						<div class="pag-title">Страницы:</div>
						<a href="" class="page hidden">Предыдущая</a>
						<a href="" class="page selected">1</a>
						<a href="" class="page">2</a>
						<a href="" class="page">3</a>
						<a href="" class="page">Следующая</a>
					</div>
					<div class="fright"><a href="" class="top-page s-scroll" data-scroll="top">Наверх</a></div>
				</div>

			</div>
			<div class="sh p20 def-color">
				<h3>Корма</h3>
				<p>Небольшой сео текст с названиями популярных брендов и товарами.</p>

				<p>Магазин «ТинниВинни» создавался, чтобы ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

				<p>Небольшой сео текст с названиями популярных брендов и товарами.</p>

				<p>Магазин «ТинниВинни» создавался, чтобы ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
			</div>
		</div>
	</div>
</div>

//= includes/_footer.html