//= includes/_header.html

<div class="width">
	<h1>Личный кабинет</h1>
	<div class="tabs-cont">
		<div class="float-cont">
			<ul class="tabs tabs_wide">
				<li class="first selected">
					<img src="static/images/ico/acc1.png" class="tabs_img" alt="" />
					<p>Мой аккаунт</p>
					<span class="sh-fix"></span></li>
				<li>
					<img src="static/images/ico/acc2.png" class="tabs_img" alt="" />
					<p>Мои заказы</p>
					<span class="sh-fix"></span></li>
				<li>
					<img src="static/images/ico/acc3.png" class="tabs_img" alt="" />
					<p>Избранное</p>
					<span class="sh-fix"></span></li>
				<li>
					<img src="static/images/ico/acc4.png" class="tabs_img" alt="" />
					<p>Рассылки</p>
					<span class="sh-fix"></span>
				</li>
				<li class="last">
					<img src="static/images/ico/acc5.png" class="tabs_img" alt="" />
					<p>Бонусы, промо&#8209;коды</p>
					<span class="sh-fix"></span>
				</li>
			</ul>
		</div>
		<div class="tab-box selected">
			//= includes/_accaunt.html
		</div>
		<div class="tab-box">контент2...</div>
		<div class="tab-box">контент2...</div>
	</div>
</div>

//= includes/_footer.html