//= includes/_header.html

<div class="width">
    <h1 class="v1">Оформление заказа</h1>
    <div class="float-cont">
        <div class="sidebar_medium fleft mr20">
            <div class="sh p20">
                <h2 class="mb20">Контакты</h2>
                <div class="ordering_text">
                    <p class="semibold">Владимир!</p>
                    <p>Ваши контактные данные не изменились?</p>
                </div>
                <div class="form_group">
                    <label for="phone" class="form_label">
                        Мобильный телефон:
                        <span class="form_icon question tip-wrap tip-init">
                            <div class="tip tip_atop tip_atop_r">Телефон нужен чтобы менеджер связался с вами и подтвердил заказ</div>
                        </span>
                    </label>
                    <input type="text" id="phone" class="form_text phone-mask" value="+7 (965) 111-11-11" />
                </div>
                <div class="form_group mb0">
                    <label for="email" class="form_label">
                        E-mail:
                        <span class="form_icon question tip-wrap tip-init">
                            <div class="tip tip_atop tip_atop_r">Телефон нужен чтобы менеджер связался с вами и подтвердил заказ</div>
                        </span>
                    </label>
                    <input type="text" id="email" class="form_text" value="design@delme.ru" />
                </div>
            </div>
        </div>
        <div class="content_thin fleft">
            <div class="sh p20">
                <div class="float-cont">
                    <div class="form form_group_medium fright mb20 ">
                        <select class="select2">
                            <option>Брянск</option>
                            <option selected>Москва</option>
                            <option>Воронеж</option>
                        </select>
                    </div>
                    <h2 class="v2">Доставка в г.</h2>
                </div>
                <div class="form_substrate s-delivery-type">
                    <label for="delivery-self" class="form_radio">
                        <input type="radio" name="delivery-type" id="delivery-self" />
                        <i></i>
                        <p class="semibold">Самовывоз</p>
                        <p>Бесплатно, можно забрать — послезавтра.</p>
                        <p>Москва, метро Курская</p>
                        <a href="#" class="blue">Схема проезда</a>
                    </label>
                </div>
                <div class="form_substrate current corner mb0 s-delivery-type" data-form="true">
                    <label for="delivery-man" class="form_radio">
                        <input type="radio" name="delivery-type" id="delivery-man" checked />
                        <i></i>
                        <p class="semibold">Курьером</p>
                        <p>Бесплатно (при заказе от 999 руб).</p>
                        <p>В течение 1-3 дней</p>
                        <a href="#" class="blue">Условия доставки</a>
                    </label>
                </div>
                <div class="ordering_address s-delivery-type-form">
                    <label for="delivery2" class="form_radio mb20 s-delivery-address-block">
                        <input type="radio" name="delivery-address" id="delivery2" class="s-delivery-address" checked/>
                        <i></i>
                        <span class="semibold">Основной адрес</span>
                        <span class="def-color s-delivery-address-str">(<span class="s-street">Химкинский бульвар</span>, д. <span class="s-house">5</span>, корп. <span class="s-corp">4</span>, кв.<span class="s-office">12</span>)</span>
                        <span class="form_icon edit s-delivery-address-edit"></span>
                    </label>
                    <label for="delivery3" class="form_radio mb20 s-delivery-address-block">
                        <input type="radio" name="delivery-address" id="delivery3" class="s-delivery-address" />
                        <i></i>
                        <span class="semibold">Дача</span>
                        <span class="def-color s-delivery-address-str">(ул. <span class="s-street">Туристическая</span>, <span class="s-house">15</span>)</span>
                        <span class="form_icon edit s-delivery-address-edit"></span>
                    </label>
                    <label for="delivery4" class="form_radio mb25 s-delivery-address-block">
                        <input type="radio" name="delivery-address" id="delivery4" class="s-delivery-address" data-new="true" />
                        <i></i>
                        <span class="semibold">Новый адрес</span>
                    </label>
                    <form action="#" method="post" class="hidden s-delivery-address-form">
                        <div class="form_group_full">
                            <div class="form_inline form_group">
                                <label for="street" class="form_label">Улица:</label>
                                <input type="text" id="street" class="form_text s-street" />
                            </div>
                            <div class="form_group_x-thin fright">
                                <label for="house" class="form_label">Дом:</label>
                                <input type="text" id="house" class="form_text s-house" />
                            </div>
                        </div>
                        <div class="form_group form_group_full">
                            <div class="form_inline form_group_x-medium">
                                <label for="corp" class="form_label">Строение/корпус:</label>
                                <input type="text" id="corp" class="form_text s-corp" />
                            </div>
                            <div class="form_group_x-medium fright">
                                <label for="office" class="form_label">Квартира/офис:</label>
                                <input type="text" id="office" class="form_text s-office" />
                            </div>
                        </div>
                        <div class="form_group form_group_full">
                            <input type="submit" class="btn btn_block" value="Сохранить" />
                        </div>
                    </form>
                    <p class="semibold mb15">Дата и время доставки:</p>
                    <div class="form form_inline_middle form_group_full">
                        <div class="form_inline form_inline_middle form_group form_group_x-medium">
                            <label for="date" class="form_label">Дата:</label>
                            <input type="text" id="date" class="form_text date s-date" value="04/10/2015" data-dependent="date" disabled/>
                        </div>
                    <label for="soon" class="form_checkbox"><input type="checkbox" id="soon" class="s-depend" data-depend="date" checked /><i></i>Как можно раньше</label>
                    </div>
                    <div class="form form_group mb0">
                        <label for="time" class="form_label">Время:</label>
                        <select id="time" class="select2">
                            <option selected>утро (с 9:00 до 12:00)</option>
                            <option>день (с 12:00 до 16:00)</option>
                            <option>вечер (с 16:00 до 20:00)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar_wide fright">
            <div class="sh p20">
                <h2 class="mb25">Оплата</h2>
                <div class="form_substrate">
                    <label for="payment-cash1" class="form_radio">
                        <input type="radio" name="payment" id="payment-cash1"/>
                        <i></i>
                        <p class="semibold">При получении товара</p>
                        <p>наличными курьеру</p>
                    </label>
                </div>
                <div class="form_substrate current">
                    <label for="payment-card" class="form_radio">
                        <input type="radio" name="payment" id="payment-card" checked/>
                        <i></i>
                        <span class="semibold">Онлайн-оплата картой</span>
                        <img src="static/images/ico/cards.png" alt="" />
                    </label>
                </div>
                <div class="form_substrate mb0">
                    <label for="payment-cash2" class="form_radio">
                        <input type="radio" name="payment" id="payment-cash2"/>
                        <i></i>
                        <p class="semibold">Безналичный расчет</p>
                        <p>для юридических лиц</p>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="sh p20">
        <h2 class="v3">Заказ</h2>
        <div class="ordering_table">
            <div class="row p20">
                <div class="orders_img_large">
                    <a href="#"><img src="static/images/upload/c3.jpg" alt="" /></a>
                </div>
                <div class="orders_link">
                    <a href="#">Royal Canin Adult Neutered Small Dog, сухой <br/>корм для собак мелких пород, 800 г</a>
                    <p class="semibold">2 шт., 1080 руб</p>
                </div>
            </div>
            <div class="p20">
                <div class="orders_img_large">
                    <a href="#"><img src="static/images/upload/c2.jpg" alt="" /></a>
                </div>
                <div class="orders_link">
                    <a href="#">Royal Canin Adult Neutered Small Dog, сухой <br/>корм для собак мелких пород, 800 г</a>
                    <p class="semibold">2 шт., 1080 руб</p>
                </div>
            </div>
        </div><!--
        --><div class="ordering_info">
            <div class="mb20">
                <p><span class="sm-grey">Стоимость товаров:</span> <span class="semibold">1380 руб</span></p>
                <p><span class="sm-grey">Стоимость с учетом всех скидок:</span> <span class="semibold">560 руб</span></p>
                <p><span class="sm-grey">Стоимость доставки:</span> <span class="semibold">0 руб</span></p>
            </div>
            <div class="helveticabold fs21 mb36">Итого 1 560 руб</div>
            <div class="form_inline form_group_medium mr20">
                <a href="#" class="btn btn_block">Подтвердить заказ</a>
            </div>
            <a href="#" class="ordering_edit">Изменить заказ</a>
        </div>
    </div>
</div>

//= includes/_footer.html