//= includes/_header.html

<div class="width">
    <div class="float-cont">
        <div class="sidebar fleft">
            <div class="filter-cont sh">
                <ul>
                    <li><a href="#" class="filter-simple_title">Доставка</a></li>
                    <li>
                        <div class="filter-simple_title current">Оплата</div>
                        <ul class="s-tabs-related" data-tabs="payment">
                            <li class="filter-simple_option">Оплата наличными</li>
                            <li class="filter-simple_option selected">Онлайн-оплата картой</li>
                            <li class="filter-simple_option">Безналичный расчет</li>
                        </ul>
                    </li>
                    <li><a href="#" class="filter-simple_title">Операции с товаром</a></li>
                    <li><a href="#" class="filter-simple_title">Безопасность</a></li>
                    <li><a href="#" class="filter-simple_title">Вопросы и ответы</a></li>
                    <li><a href="#" class="filter-simple_title">Письмо директору</a></li>
                    <li><a href="#" class="filter-simple_title">Наш блог</a></li>
                    <li><a href="#" class="filter-simple_title">Энциклопедия пород</a></li>
                </ul>
            </div>
        </div>
        <div class="content fright">
            <h1 class="mb10">Оплата</h1>
            <div class="float-cont">
                <ul class="tabs tabs_cols tabs_col3 s-tabs" data-tabs="payment">
                    <li>
                        <img src="static/images/ico/tab-payment1.png" class="tabs_img" alt="" />
                        <p>Оплата наличными</p>
                        <span class="sh-fix"></span>
                    </li>
                    <li class="selected">
                        <img src="static/images/ico/tab-payment2.png" class="tabs_img" alt="" />
                        <p>Онлайн-оплата картой</p>
                        <span class="sh-fix"></span>
                    </li>
                    <li>
                        <img src="static/images/ico/tab-payment3.png" class="tabs_img" alt="" />
                        <p>Безналичный расчет</p>
                        <span class="sh-fix"></span>
                    </li>
                </ul>
            </div>
            <div class="s-tabs-boxes" data-tabs="payment">
                <div class="tab-box">
                    <div class="tab-box_top p20">
                        <h2 class="mb25">Оплата наличными</h2>
                    </div>
                </div>
                <div class="tab-box selected">
                    <div class="tab-box_top p20">
                        <h2 class="mb25">Онлайн-оплата картой</h2>
                        <div class="tab-box_text">
                            <p class="mb20"><span class="semibold black">1.</span> На этапе оформления заказа заполните все необходимые поля и выберите способ оплаты «Пластиковая карта». Нажмите кнопку «Оформить заказ».</p>
                            <p><span class="semibold black">2.</span> Вы будете переведены на безопасную страницу оплаты, где Вас попросят ввести платёжные данные, такие как</p>
                            <div class="mb20">
                                <p class="pl20">— номер банковской карты</p>
                                <p class="pl20">— срок действия карты</p>
                                <p class="pl20">— имя пользователя карты</p>
                                <p class="pl20">— CVC2/CVV2/CID код</p>
                            </div>
                            <p class="mb5"><span class="semibold black">3.</span> Если все данные введены правильно, мы в скором времени узнаем об оплате, и с Вами свяжется специалист нашего call-центра.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-box">
                    <div class="tab-box_top p20">
                        <h2 class="mb25">Безналичный расчет</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

//= includes/_footer.html