//= includes/_header.html

<div class="width">
    <div class="breadcrumb">
        <a href="" class="bread">Главная</a><span class="sep">/</span>
        <a href="" class="bread-current">Корзина</a>
    </div>
    <h1>Корзина покупок</h1>
    <div class="float-cont">
        <div class="sidebar fright">
            <div class="sh">
                <div class="chart_aside">
                    <div class="chart_aside_info">
                        <p class="text">Вы можете получить <br/>за эту покупку</p>
                        <p class="number">220 бонусов</p>
                        <p>1 бонус = 1 рубль</p>
                    </div>
                    <div class="chart_aside_auth">Чтобы получить бонусы <a href="#layer-login" class="blue fancybox">войдите в аккаунт</a> или <a href="#layer-reg" class="blue fancybox">зарегистрируйтесь</a>.</div>
                    <div class="chart_aside_bonus">
                        <p class="text">Бонусы можно накапливать или расплачиваться ими.</p>
                        <a href="#" class="blue">Подробнее о бонусах</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content fleft">
            <div class="sh mb25">
                <div class="sh-panel sh-panel_top">
                    <div class="chart_title">
                        <div class="chart_title_product">Товар</div><!--
                        --><div class="chart_title_number">Количество</div><!--
                        --><div class="chart_title_price">Цена</div>
                    </div>
                </div>
                <div class="plr20">
                    <table>
                        <tr class="row s-price">
                            <td><span class="chart_del"></span></td>
                            <td class="chart_product">
                                <a href="#" class="fleft">
                                    <img src="static/images/upload/c2.jpg" class="chart_img" alt="" />
                                </a>
                                <div class="chart_info">
                                    <a href="#" class="chart_link">Royal Canin</a>
                                    <p class="mb10">Adult Neutered Small Dog, корм собак мелких пород</p>
                                    <div class="big-select">
                                        <select class="select2-complex s-price-select">
                                            <option selected data-volume="2,5 кг">1000 Р</option>
                                            <option data-volume="1 кг">500 Р</option>
                                            <option data-volume="0,5 кг">100 Р</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td class="chart_number">
                                <span class="count-dec s-price-dec"></span><input type="text" class="card-count-input s-price-input" value="1" maxlength="3" /><span class="count-inc s-price-inc"></span>
                            </td>
                            <td class="chart_price">
                                <span class="chart_total"><span class="s-price-total">1000</span> Р</span>
                                <span>(<span class="s-price-one">1000</span> Р x <span class="s-price-num">1</span>)</span>
                            </td>
                        </tr>
                        <tr class="row s-price">
                            <td><span class="chart_del"></span></td>
                            <td class="chart_product">
                                <a href="#" class="fleft">
                                    <img src="static/images/upload/c3.jpg" class="chart_img" alt="" />
                                </a>
                                <div class="chart_info">
                                    <a href="#" class="chart_link">Толстовка «Dog Star»</a>
                                    <div class="chart_params">
                                        <div class="mb10">
                                            <span class="chart-label">Размер:</span><!--
                                            --><span class="chart-select big-select">
                                                <select class="select2">
                                                    <option>12</option>
                                                    <option selected>13</option>
                                                    <option>14</option>
                                                    <option>15</option>
                                                    <option>16</option>
                                                </select>
                                            </span>
                                        </div>
                                        <div>
                                            <span class="chart-label">Цвет:</span><!--
                                            --><span class="chart-select big-select">
                                                <select class="select2-color">
                                                    <option data-volume="red">Красный</option>
                                                    <option data-volume="green">Зеленый</option>
                                                    <option data-volume="yellow">Желтый</option>
                                                    <option data-volume="black">Черный</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="chart_number">
                                <span class="count-dec s-price-dec"></span><input type="text" class="card-count-input s-price-input" value="2" maxlength="3" /><span class="count-inc s-price-inc"></span>
                            </td>
                            <td class="chart_price">
                                <span class="chart_total"><span class="s-price-total">1000</span> Р</span>
                                <span>(<span class="s-price-one">500</span> Р x <span class="s-price-num">2</span>)</span>
                            </td>
                        </tr>
                    </table>
                    <div class="row ptb20">
                        <span class="chart_desc">Если у вас есть промо-код или купон
                            <span class="tip-wrap tip-init">
                                (?)
                                <div class="tip tip_atop tip_atop_b">Небольшое описание промо-кода и <a href="#" class="blue">ссылка</a> на страницу с подробным описанием понятия «Промо-код»</div>
                            </span>
                            , укажите его здесь:</span><!--
                        --><span class="chart_input"><input type="text" class="text-box s-change" data-change="promo"/></span><!--
                        --><span class="chart_button"><a href="#" class="btn btn_grey" data-change="promo">Пересчитать</a></span>
                    </div>
                    <div class="row ptb20">
                        <span class="chart_desc">
                            <b>У вас есть <span class="s-price-bonus-max">1013</span> бонусов</b>
                            <span>Если вы хотите использовать их для оплаты, укажите количество бонусов</span>
                        </span><!--
                        --><span class="chart_input"><input type="text" class="text-box s-change s-price-bonus-input" data-change="bonus" /></span><!--
                        --><span class="chart_button"><a href="#" class="btn btn_grey s-price-bonus-button" data-change="bonus">Пересчитать</a></span>
                    </div>
                    <div class="row chart_cost">Стоимость товаров: <span class="s-price-total-sum">2000</span> Р</div>
                    <div class="row chart_promo">Скидка по промо-коду: <span class="s-price-promo">200</span> P</div>
                    <div class="row chart_bonus">Скидка через бонусы: <span class="s-price-bonus">0</span> P</div>
                    <div class="row chart_final">Стоимость с учетом всех скидок: <span class="s-price-final">1800</span> Р</div>
                    <div class="chart_action">
                        <span class="chart_checkout">
                            <a href="#" class="btn btn_block">Оформить заказ</a>
                            <a href="#" class="btn_default btn_cut-top btn_behind">Купить в один клик</a>
                        </span>
                        <span class="chart_lefel-up">
                            <span class="level-up"><a href="#">Продолжить покупки</a></span>
                        </span>
                    </div>
                </div>

                <div class="sh-panel sh-panel_bottom">
                    <div class="chart_bottom">
                        <a href="#">Распечатать страницу</a>
                        <a href="#">Послать список покупок на e-mail</a>
                        <a href="#">Скопировать покупки  в список избранного</a>
                        <a href="#">Мои избранные товары</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="h1 v1">Не забудьте купить:</h2>
    <div class="sh p20 mb40">
        <div class="catalog show-category float-cont">
            <div class="line">
                //= includes/_catalog-item.html
                <div class="catalog-sep"></div>
                //= includes/_catalog-item.html
                <div class="catalog-sep"></div>
                //= includes/_catalog-item.html
                <div class="catalog-sep"></div>
                //= includes/_catalog-item.html
            </div>
        </div>
    </div>
</div>

//= includes/_footer.html