/* brands */
.alphabet {}
.alphabet_letter {
  display: inline-block;
  padding: 0 5px;
  font: normal 16px/50px 'helveticaneuecyrbold';
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }
}

.brands{}
.brands_section {
  border-bottom: 1px solid $color-grey-light;
}
.brands_section:last-child {
  border-bottom: 0;
}
.brands_section-name {
  width: 70px;
  font: 34px/100px 'helveticaneuecyrbold';
  text-transform: uppercase;
}
.brands_column {
  display: inline-block;
  vertical-align: top;
}
.brands_list {
  width: 200px;
  margin-right: 7px;
  padding-top: 17px;
}
.brands_link {
  line-height: 22px;
  text-decoration: none;
}