.bxslider-photo-border {
  border: 1px solid $color-bxslider-grey;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}
.bxpager {
  display: block;
}
.bxpager-inner {
  border: 1px solid $color-bxslider-grey;
  border-radius: 5px;
  width: 68px;
  text-align: center;
  line-height: 68px;
  height: 68px;
  background: $color-white;
  display: block;
}
.bxpager.active .bxpager-inner {
  border-color: $color-orange;
}
.bxpager-inner img {
  display: inline-block !important;
  vertical-align: middle;
  max-width: 65px;
  max-height: 65px;
}
.bxpager-cont {
  background: $color-bxslider-grey;
  padding: 10px 0;
  margin-bottom: 30px;
  position: relative;
  border-radius: 3px;
}
.photo-slide {
  text-align: center;
  height: 330px;
  line-height: 330px;
}
.photo-slide img {
  display: inline-block !important;
  vertical-align: middle;
}
.card-photo-block .bx-arrow-left {
  border-radius: 0 5px 5px 0;
}
.card-photo-block .bx-arrow-right {
  border-radius: 5px 0 0 5px;
}