/* bxslider */
.bxslider-photo-border {
  border: 1px solid $color-bxslider-grey;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  height: 330px;
  overflow: hidden;
}
.bxpager {
  display: block;
}
.bxpager-inner {
  border: 1px solid $color-bxslider-grey;
  border-radius: 5px;
  width: 68px;
  text-align: center;
  line-height: 68px;
  height: 68px;
  background: $color-white;
  display: block;
}
.bxpager.active .bxpager-inner {
  border-color: $color-orange;
}
.bxpager-inner img {
  display: inline-block !important;
  vertical-align: middle;
  max-width: 65px;
  max-height: 65px;
}
.bxpager-cont {
  background: $color-bxslider-grey;
  padding: 10px 0;
  margin-bottom: 30px;
  position: relative;
  border-radius: 3px;
  height: 70px;
  overflow: hidden;
}
.photo-slide {
  text-align: center;
  height: 330px;
  line-height: 330px;
}
.photo-slide img {
  display: inline-block !important;
  vertical-align: middle;
}
.card-photo-block .bx-arrow-left {
  border-radius: 0 5px 5px 0;
}
.card-photo-block .bx-arrow-right {
  border-radius: 5px 0 0 5px;
}
.bxgallery-cont {
  position: relative;
  padding: 0 20px;
  height: 254px;
  background: $color-white;
  overflow: hidden;
}
.bxgallery-cont .catalog-item {
  text-align: center;
  padding-bottom: 18px;
}
.bxgallery-cont .catalog-sep {
  height: 220px;
}
.bxgallery-cont .bx-wrapper img {
  display: inline-block;
}
.bxgallery-cont .bx-arrow-left,
.bxgallery-cont .bx-arrow-right {
  top: 39%;
  visibility: hidden;
  z-index: 1 !important;
}
.bxgallery-cont .bx-arrow-left {
  border-radius: 0 5px 5px 0;
}
.bxgallery-cont .bx-arrow-right {
  border-radius: 5px 0 0 5px;
}
.bxgallery-counter {
  visibility: hidden;
}
.bxslider-photo {
  z-index: 1;
}
.zoomWindow {
  border: 1px solid $color-bxslider-grey !important;
  margin-top: -2px;
  border-radius: 5px;
  margin-left: 1px;
}
.zoomContainer {
  z-index: 100 !important;
}