.card-photo-block {
  float: left;
  width: 380px;
  margin-right: 20px;
  min-height: 1px;
}
.card-desc {
  float: left;
  width: 378px;
  border-right: 1px solid $color-grey-light;
}
.card-service {
  float: right;
  width: 110px;
}
.card-desc h1 {
  font-family: 'helveticaneuecyrroman';
  text-transform: none;
  margin-bottom: 13px;
}
.card-code {
  color: $color-text-grey;
  font-size: 11px;
  line-height: 1em;
  margin-bottom: 14px;
}
.card-rate-cont {
  margin-bottom: 17px;
}
.card-rate {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.card-rate-item {
  float: left;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background: url(../images/ico/rate1.png);
}
.card-rate-item.unactive {
  background-position: left bottom;
}
.rate-txt {
  font-size: 11px;
  display: inline-block;
  vertical-align: middle;
}
.card-price {
  font-family: 'opensansbold';
  font-size: 34px;
  line-height: 1em;
  display: inline-block;
  margin-right: 13px;
  margin-bottom: 5px;
  vertical-align: middle;
}
.marker-avaliable {
  display: inline-block;
  background: url(../images/ico/aval.png) no-repeat;
  padding-left: 26px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}
.card-price-old {
  color: $color-text-grey;
  font-size: 13px;
  font-family: 'opensanssemibold';
  text-decoration: line-through;
}
.card-price-cont {
  margin-bottom: 15px;
}
.card-short-desc {
  color: $color-text-grey;
  line-height: 1.5em;
  margin-bottom: 25px;
}
.count-inc,
.count-dec {
  display: inline-block;
  width: 20px;
  height: 23px;
  vertical-align: top;
  margin-top: 4px;
  cursor: pointer;
}
.count-inc {
  background: url(../images/ico/inc.png) no-repeat;
}
.count-dec {
  background: url(../images/ico/dec.png) no-repeat;
}
.card-count-input {
  width: 28px;
  height: 29px;
  line-height: 29px;
  background: $color-bg-grey;
  border-radius: 5px;
  border: 1px solid $color-grey;
  padding: 0 10px;
}
.card-count {
  margin-bottom: 20px;
}
.card-total {
  font-size: 21px;
  font-family: 'opensansbold';
  line-height: 1em;
  margin-bottom: 16px;
}
.total-desc {
  color: $color-text-grey;
}
.btn-buy {
  padding: 0 55px;
  margin-right: 20px;
  vertical-align: middle;
}

.card-service-item {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 1.1em;
}
.card-service-ico {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.card-service-txt {
  display: inline-block;
  vertical-align: middle;
  max-width: 70px;
  text-decoration: underline;
}
.card-service-item:hover .card-service-txt {
  text-decoration: none;
}
.c-delivery {
  background: url(../images/ico/delivery1.png) no-repeat;
  padding-left: 40px;
  min-height: 30px;
  display: inline-block;
  margin-bottom: 5px;
}

.card-delivery {
  margin-bottom: 40px;
}
.card-delivery .fs11-grey {
  display: inline-block;
  padding-left: 40px;
}