/* card */
.layer-note {
	line-height: 1.5em;
}
.layer-note2 {
	text-align: center;
	color: $color-black;
	line-height: 1.5em;
}
.layer-note3 {
	margin-bottom: 5px;
	color: $color-black;
}
.layer-btm1 {
	background: #f5f5f5;
	padding: 13px 40px 35px;
	line-height: 1.5em;
	border-radius: 0 0 4px 4px;
}
.card-photo-block {
	float: left;
	width: 380px;
	margin-right: 20px;
	min-height: 1px;
}
.card-desc {
	float: left;
	width: 378px;
	border-right: 1px solid $color-grey-light;
}
.card-service {
	float: right;
	width: 110px;
}
.card-desc h1 {
	font-family: 'helveticaneuecyrroman';
	text-transform: none;
	margin-bottom: 13px;
}
.card-code {
	color: $color-text-grey;
	font-size: 11px;
	line-height: 1em;
	margin-bottom: 17px;
}
.card-rate-cont {
	margin-bottom: 14px;
}
.card-rate {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;	
}
.card-rate-item {
	float: left;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	background: url(../images/ico/rate1.png);
}
.card-rate-item.unactive {
	background-position: left bottom;
}
.rate-txt {
	font-size: 11px;
	display: inline-block;
	vertical-align: middle;
}
.card-price {
	font-family: 'opensansbold';
	font-size: 34px;
	line-height: 1em;
	display: inline-block;
	margin-right: 13px;
	margin-bottom: 5px;
	vertical-align: middle;
}
.marker-avaliable,
.marker-no-avaliable {
	display: inline-block;
	background: url(../images/ico/aval.png) no-repeat;
	padding-left: 26px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
}
.marker-no-avaliable {
	background-image: url(../images/ico/no-av.png);
}
.card-price-old {
	color: $color-text-grey;
	font-size: 13px;
	font-family: 'opensanssemibold';
	text-decoration: line-through;
}
.card-price-cont {
	margin-bottom: 10px;
}
.card-short-desc {
	color: $color-text-grey;
	line-height: 1.5em;
	margin-bottom: 25px;
}
.count-inc,
.count-dec {
	display: inline-block;
	width: 20px;
	height: 23px;
	vertical-align: top;
	margin-top: 4px;
	cursor: pointer;
}
.count-inc {
	background: url(../images/ico/inc.png) no-repeat;
}
.count-dec {
	background: url(../images/ico/dec.png) no-repeat;
}
.card-count-input {
	width: 28px;
	height: 29px;
	line-height: 29px;
	background: $color-bg-grey;
	border-radius: 5px;
	border: 1px solid $color-border-grey-light;
	padding: 0 10px;
}
.card-count {
	margin-bottom: 20px;
}
.card-total {
	font-size: 21px;
	font-family: 'opensansbold';
	line-height: 1em;
	margin-bottom: 16px;
}
.total-desc {
	color: $color-text-grey;
}
.btn-buy {
	padding: 0 55px;
	margin-right: 20px;
	vertical-align: middle;
}
.card-service-item {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 11px;
	line-height: 1.1em;
}
.card-service-ico {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.card-service-txt {
	display: inline-block;
	vertical-align: middle;
	max-width: 70px;
	text-decoration: underline;
}
.card-service-item:hover .card-service-txt {
	text-decoration: none;
}
.c-delivery {
	background: url(../images/ico/orange-delivery.png) no-repeat;
	padding-left: 40px;
	min-height: 30px;
	display: inline-block;
	margin-bottom: 5px;
}
.card-delivery {
	margin-bottom: 40px;
}
.card-delivery .fs11-grey {
	display: inline-block;
	padding-left: 40px;
}

h4.ver2 {
	text-transform: none;
	font-size: 14px;
	font-family: 'opensanssemibold';
}
.tab-box.big-pad {
	line-height: 1.6em;
	padding-top: 30px;
}
.semibold .link-ico {
	margin-right: 10px;
}
.import {
	color: $color-black;
	font-family: 'opensanssemibold';
}
.select2-search input {
	margin: 5px 0 !important;
}
.review-item.review-admin {
	padding-left: 30px;
	border-top: 1px solid $color-grey-light;
	padding-top: 14px;
	margin-top: 13px;
}
.review-block {
	border-bottom: 1px solid $color-grey-light;
	margin-bottom: 20px;
	padding-bottom: 14px;
}
.vis-block.review-block {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.review-link-cont {
	padding-top: 20px;
}
.review-extend {
	border-top: 1px solid $color-grey-light;
	margin-top: 20px;
	padding-top: 14px;
}
.review-title {
	font-size: 14px;
	font-family: 'opensanssemibold';
	margin-bottom: 8px;
}
.review-author {
	color: $color-text-grey;
	font-size: 11px;
	line-height: 1em;
	margin-bottom: 13px;
}
.review-txt {
	margin-bottom: 17px;
}
.show-more {
	font-size: 11px;
}
.review-use {
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
	opacity: 0.5;
	cursor: default;
}
.review-use:hover {
	opacity: 1;
}
ul.tabs li.selected .sh-fix {
	height: 6px;
}
.review-use-link {
	display: inline-block;
	vertical-align: middle;
}
.review-rate .card-rate {
	margin-right: 20px;
}
textarea.def {
	background: $color-bg-grey;
    border: 1px solid $color-border-grey-light;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "opensanssemibold";
    height: 90px;
    margin-bottom: 18px;
    padding: 7px 10px;
    width: 100%;
    resize: none;
    overflow: auto;
    line-height: 1.5em;
}
input.w200 {
	width: 200px;
}
input.fs11 {
	font-size: 11px;
	font-family: 'helveticaneuecyrroman';
}
textarea.fs11 {
	font-size: 11px;
	font-family: 'helveticaneuecyrroman';
}
.layer-btm {
	border-radius: 0 0 4px 4px;
}
input.qty {
	width: 22px;
	padding: 0 8px;
	height: 28px;
	line-height: 28px;
	border: 1px solid $color-border-grey;
	border-radius: 5px;
}
.review-extend {
	display: none;
}
.review-login {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}
.btn.review-submit {
	vertical-align: middle;
	padding-left: 45px;
	padding-right: 45px;
}
.recom {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	opacity: 0.5;
  	cursor: pointer;
}
.recom_yes {
	background: url(../images/ico/black-recom.png) no-repeat;
	margin-right: 10px;
	margin-left: 5px;
}
.recom_no {
	background: url(../images/ico/black-no-recom.png);
}
.recom:hover, .recom.active {
	opacity: 1;
}
.btn.btn-small {
	height: 28px;
	line-height: 28px;
}
.add-rate {
	margin-bottom: 15px;
}
.add-rate .btn {
	vertical-align: middle;
	margin-left: 5px;
}
.add-rate .rateit {
	vertical-align: top;
	margin-top: 4px;
}
.rate-txt.v1 {
	vertical-align: middle;
	margin-top: 2px;
}
h3.mb16 {
	margin-bottom: 16px;
}
ul.tabs li {
	font-family: 'opensanssemibold';
}
.req-marker {
	color: #eb0000;
	font-size: 15px;
}
.card-service-item {
	position: relative;
}
.card-service-tip {
	position: absolute;
	width: 110px;
	font-size: 11px;
	line-height: 1.2em;
	top: -10px;
	left: -100px;
	background: $color-orange;
	border-radius: 5px;
	display: none;
	padding: 7px 10px;
	z-index: 100;
	color: $color-black;
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.card-service-item:hover .card-service-tip {
	display: block;
}
.round-bg {
	margin-top: 3px;
	display: inline-block;
}
.card-service-tip:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 191, 63, 0);
	border-left-color: $color-orange;
	border-width: 5px;
	margin-top: -5px;
}
.card-total {
	display: none;
}
.related-suggest {
	border-radius: 0 0 5px 5px;
	border: 1px solid $color-bxslider-grey;
	border-top: none;
	padding: 13px 0 7px;
	text-align: center;
	margin-top: -3px;
	text-decoration: underline;
	cursor: pointer;
	font-family: 'opensanssemibold';
	display: block;
}
.related-suggest:hover {
	text-decoration: none;
}
.related-suggest-cont,
.linkcard-cont {
	width: 200px;
	display: inline-block;
	vertical-align: top;
	margin-right: 12px;
}
.linkcard-cont .btn-buy {
	margin-right: 0;
}
.linkcard-cont {
	width: 170px;
	margin-bottom: 10px;
}
.related-suggest-cont .btn_block,
.linkcard-cont .btn_block.btn-buy {
	width: auto;
	padding-left: 0;
	padding-right: 0;
	display: block;
}
.related-date {
	width: 150px;
	display: inline-block;
	vertical-align: top;
	color: $color-text-grey;
	padding-top: 3px;
}
.linkcard-cont .related-suggest {
	padding-bottom: 10px;
}

.card-complex-cont {
	overflow: hidden;
	margin-bottom: 10px;
}
.card-complex-item {
	float: left;
	margin-right: 30px;
	border-radius: 5px;
	border: 1px solid $color-bxslider-grey;
	overflow: hidden;
	width: 98px;
	cursor: pointer;
	margin-bottom: 10px;
}
.card-complex-item.no-aval {
	cursor: default;
}
.card-complex-item:hover .card-complex-bg {
	background: $color-bxslider-grey;
	filter: none;
}
.card-complex-item.no-aval:hover .card-complex-bg {
	background: #f5f5f5;
	filter: none;
}
.card-complex-item:last-child {
	margin-right: 0;
}
.card-complex-item .marker-avaliable,
.card-complex-item .marker-no-avaliable {
	font-size: 11px;
	margin-left: 9px;
	margin-right: 5px;
	margin-bottom: 9px;
}
.card-complex-item .marker-no-avaliable {
	line-height: 1em;
}
.card-complex-bg {
	text-align: center;
	padding: 8px 0 18px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	margin-bottom: 11px;
	background: #f5f5f5;
	filter: none;
	border-radius: 5px;
}
.card-complex-item.selected .card-complex-bg {
	background: #ffdc57; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGM1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmMzNDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffdc57 0%, #ffc349 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc57), color-stop(100%,#ffc349)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffdc57 0%,#ffc349 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc57', endColorstr='#ffc349',GradientType=0 ); /* IE6-8 */
}
.card-complex-value {
	color: $color-text-grey;
	font-size: 11px;
	margin-bottom: 5px;
}
.card-complex-price {
	font-family: 'opensansbold';
	font-size: 21px;
	line-height: 1em;
}
.card-complex-item.no-aval .card-complex-value,
.card-complex-item.no-aval .card-complex-price {
	color: #ababab;
}
.card-complex-note {
	padding-top: 5px;
	margin-bottom: 12px;
}


.sizes,
.colors {
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}
.size-item,
.color-item {
	float: left;
	margin-right: 10px;
	border-radius: 5px;
	border: 1px solid $color-border-grey-light;
	height: 28px;
	line-height: 28px;
	text-align: center;
	padding: 0 5px;
	min-width: 18px;
	cursor: pointer;
	background: $color-bg-grey;
	font-size: 16px;
}
.size-item:hover {
	background: $color-bxslider-grey;
}
.size-item.selected {
	border-color: #ffcc4b;
	background: #ffdc57; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGM1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmMzNDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffdc57 0%, #ffc349 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc57), color-stop(100%,#ffc349)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffdc57 0%,#ffc349 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc57', endColorstr='#ffc349',GradientType=0 ); /* IE6-8 */
}
.sizes-link {
	line-height: 1.2em;
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
}
.color-item {
	height: 38px;
	width: 38px;
	padding: 0;
}
.color-item:hover {
	opacity: 0.7;
}
.color-item.selected {
	border: 3px solid $color-black;
	height: 34px;
	width: 34px;
}
.sizes-note {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 52px;
}
.sizes-cont {
	padding-top: 8px;
	margin-bottom: 16px;
}
.w600 {
	width: 600px;
}
.layer-top {
	background: $color-bg-grey;
	font-size: 11px;
	line-height: 1.4em;
	border-radius: 4px 4px 0 0;
	padding: 20px 0 15px 40px;
}
.layer-btm {
	background: $color-bg-grey;
	line-height: 1.2em;
	border-radius: 0 0 4px 4px;
	padding: 20px 20px 16px;
	color: $color-black;
}
.soc-login {
	border-top: 1px solid $color-border-grey-light;
	padding-top: 7px;
	color: $color-text-grey;
}
.soc-login .fs11 {
	margin-bottom: 7px;
}
.soc-ico1 {
	margin-right: 5px;
}
.soc-ico1:last-child {
	margin-right: 0;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.layer-inner.sm-pad {
	padding-bottom: 10px;
	padding-top: 25px;
}
.def-input.mb9 {
	margin-bottom: 9px;
}
input.btn {
	cursor: pointer;
}
.reg-note1 {
	padding-left: 20px;
	margin-right: 35px;
}
.mess-block {
	line-height: 1.5em;
	padding-top: 15px;
}
.mess-block p {
	margin-bottom: 23px;
}
.w180 {
	width: 180px;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}
.btn.btn_grey.ib {
	display: inline-block;
	width: auto;
	height: 40px;
	line-height: 40px;
}
.new-list-cont {
	position: relative;
	margin-bottom: 30px;
}
.new-list-cont input.def-input {
	height: 40px;
	line-height: 40px;
	padding-right: 94px;
}
.new-list-cont .btn {
	position: absolute;
	right: 3px;
	top: 3px;
	height: 34px;
	line-height: normal;
	padding-left: 13px;
	padding-right: 13px;
	font-size: 11px;
}
.fav-list {
	border-radius: 5px;
	overflow: hidden;
	background: $color-bg-grey;
	border: 1px solid $color-border-grey-light;
	color: $color-black;
	margin-bottom: 10px;
}
.fav-list-item {
	padding: 5px 40px 9px 10px;
	border-top: 1px solid $color-border-grey-light;
	margin-top: -1px;
	font-family: 'opensanssemibold';
	cursor: pointer;
}
.fav-list-item-count {
	font-family: 'helveticaneuecyrroman';
	font-size: 11px;
	margin-top: 1px;
}
.fav-list-item:hover {
	background: url(../images/ico/check.png) no-repeat 213px center $color-bxslider-grey;
}
.fav-list-item.selected {
	background: url(../images/ico/check.png) no-repeat 213px center;
}
.qv-layer .card-desc {
	border-right: none;
}
.qv-layer .card-service-tip {
	z-index: 1000;
}
.qv-layer .card-count {
	margin-bottom: 15px;
}
.qv-layer .card-complex-item {
	margin-right: 10px;
}
.qv-layer .card-complex-item:last-child {
	margin-right: 0;
}
.sub-cont input.btn_block {
  width: 100%;
}
input.def-input.mb7 {
  margin-bottom: 7px;
}
.t30 {
  top:30px;
}