body {
  min-width: 980px;
}
.width {
  width: 940px;
  margin: auto;
  padding: 0 20px;
}
.sidebar {
  width: 220px;
}
.sidebar_wide {
  width: 300px;
}
.sidebar_medium {
  width: 240px;
}
.content {
  width: 700px;
}
.content_thin {
  width: 360px;
}