.btn {
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  height: 38px;
  line-height: 38px;
  border: 1px solid #fdb723;
  border-radius: 5px;
  padding: 0 18px;
  color: $color-black;
  font-size: 13px;
  font-family: 'opensanssemibold';
  cursor: pointer;
  box-shadow: 0 -3px 3px #fed466 inset;
  background: #ffdc57; /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGM1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmMzNDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ffdc57 0%, #ffc349 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc57), color-stop(100%,#ffc349)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffdc57 0%,#ffc349 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffdc57 0%,#ffc349 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc57', endColorstr='#ffc349',GradientType=0 ); /* IE6-8 */
}
a.btn {
  text-decoration: none;
  color: $color-black;
}
input.btn {
  line-height: normal;
}
.btn:hover {
  text-decoration: none;
  background: #ffec56; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZWM1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmQ5M2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #ffec56 0%, #ffd93f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffec56), color-stop(100%,#ffd93f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffec56 0%,#ffd93f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffec56 0%,#ffd93f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffec56 0%,#ffd93f 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffec56 0%,#ffd93f 100%); /* W3C */
}
.btn_wide {
  padding: 0 50px;
}
.btn_big {
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  font-family: 'helveticaneuecyrbold';
  text-align: center;
}
.btn_small {
  height: 28px;
  line-height: 28px;
  font-size: 11px;
}
.btn_block {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.btn_grey,
.btn_grey:hover {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  @include gradient-vertical($color-gradient-grey-light, $color-gradient-grey);
  box-shadow: none;
  text-align: center;
  cursor: pointer;
}
.btn_default {
  display: inline-block;
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid$color-border-grey;
  border-radius: 5px;
  font-family: 'opensanssemibold';
  line-height: 38px;
  text-align: center;
}
.btn_cut-top {
  border-top: 0;
  border-radius: 0 0 5px 5px;
}
.btn_behind {
  height: 44px;
  margin-top: -4px;
  padding-top: 2px;
  line-height: 40px;
}

.text-box {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 0 6px;
  border: 1px solid $color-border-grey;
  border-radius: 5px;
  background-color: $color-white;
  line-height: 38px;

  &:focus {
    border-color: #a4a4a4;
  }
}

.form {}
.form_group {
  width: 200px;
  margin-bottom: 18px;
}
.form_group_full {
  width: 100%;
}
.form_group_wide {
  min-width: 240px;
}
.form_group_medium {
  width: 170px;
}
.form_group_x-medium {
  width: 150px;
}
.form_group_xx-medium {
  width: 130px;
}
.form_group_thin {
  width: 110px;
}
.form_group_x-thin {
  width: 100px;
}
.form_inline {
  display: inline-block;
  margin-right: 10px;
}
.form_label {
  display: block;
  margin-bottom: 6px;
}
.form_text {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 1px solid $color-border-grey;
  border-radius: 5px;
  background-color: $color-bg-grey;
  line-height: 30px;

  &:focus {
    border-color: #a4a4a4;
  }
  &:-ms-input-placeholder,
  &::-moz-placeholder,
  &::-webkit-input-placeholder {
    font-style: italic;
  }
}
.form_file {
  position: relative;

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    opacity: 0;
    cursor: pointer;
  }
}
.form_radio {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  line-height: 21px;

  i {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 0;
    @include size(14px);
    background: url(../images/ico/radio.png) 0 0 no-repeat;
  }

  input[type="radio"] {
    display: none;

    &:checked + i {
      background-position: 0 100%;
    }
  }
}
.form_checkbox {
  display: inline-block;
  position: relative;
  padding: 3px 0 0 23px;

  i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    @include size(18px,17px);
    background: url(../images/ico/checkbox.png) 0 0 no-repeat;
  }

  input[type="checkbox"] {
    display: none;

    &:checked + i {
      background-position: 0 100%;
    }
  }
}
.form_icon {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;

  &.question {
    @include size(12px);
    background: url(../images/ico/blue-question.png) 0 0 no-repeat;
  }
}
.form_hint {
  margin-bottom: 5px;
  line-height: 30px;
  color: $color-text-grey;

  img {
    display: inline-block;
    vertical-align: top;
  }
}
.form_substrate {
  margin-bottom: 20px;
  padding: 15px 10px;
  background-color: $color-bg-grey;
  border: 1px solid #ccc;
  border-radius: 5px;

  &.current {
    position: relative;
    border-color: $color-orange;
  }
  &.corner {
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 35px;
    }
    &:before {
      border: 6px solid transparent;
      border-top-color: $color-orange;
    }
    &:after{
      margin-left: 2px;
      border: 4px solid transparent;
      border-top-color: $color-bg-grey;
    }
  }
}
