.tip-wrap {
  position: relative;
}
.tip-init {
  cursor: pointer;
}
.tip {
  visibility: hidden;
  z-index: 1;

  &:before {
    content: '';
    @include size(0);
    position: absolute;
    border: 6px solid transparent;
  }
}
.tip_atop {
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 3px 7px 1px rgba(0,0,0,0.3);
  background: $color-white;
  white-space: nowrap;
}
.tip_atop_r {
  top: 50%;
  left: 100%;
  margin-left: 10px;
  padding: 0 15px;
  line-height: 40px;

  &:before {
    top: 50%;
    right: 100%;
    margin-top: -6px;
    border-right: 10px solid $color-white;
  }
}
.tip_atop_b {
  top: 100%;
  left: 50%;
  margin-top: 10px;
  padding: 15px;

  &:before {
    top: -15px;
    left: 50%;
    margin-left: -5px;
    border-bottom: 10px solid #000;
  }
}
.tip_inside {
  position: absolute;
  left: 100%;
  bottom: 0;
  width: 640px;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background: $color-bg-grey;
  line-height: 21px;
  color: $color-text-grey;

  &:before {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-right: 10px solid $color-bg-grey;
  }
}
.tip_top {
  top: 0;
  bottom: auto;
}

.alert {
  position: relative;
  padding: 25px;
  border-radius: 5px;
  background-color: #fdf2ec;
  line-height: 21px;
  text-align: center;

  .close {
    content: '';
    @include size(16px);
    position: absolute;
    top: 12px;
    right: 12px;
    background: url(../images/ico/close-red.png);
    cursor: pointer;
  }
}