/* layers */
.layer {
  display: none;
}
.layer_inner {
  padding: 35px 40px 40px;
}
.layer_inner.sm-pad {
  padding-bottom: 10px;
  padding-top: 25px;
}
.layer h3 {
  color: $color-black;
  margin-bottom: 16px;
  line-height: 1.2em;
}
.help-list-item {
  padding-top: 10px;
  margin-bottom: 18px;
}
.help-list-item:last-child {
  margin-bottom: 6px;
}
.help-list-ico {
  float: left;
  margin-right: 16px;
}
.help-list-txt {
  overflow: hidden;
  padding-top: 7px;
  font-family: 'opensanssemibold';
}
.no-bold {
  font-size: 12px;
  color: #5b5b5b;
  font-family: 'helveticaneuecyrroman';
  margin-top: 2px;
}
.label {
  color: $color-text-grey;
  font-size: 11px;
  margin-bottom: 5px;
}
input.def-input {
  background: $color-bg-grey;
  border: 1px solid $color-grey;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 18px;
  font-size: 12px;
  font-family: 'opensanssemibold';
}
.layer_note {
  line-height: 1.5em;
  color: $color-black;
  margin-bottom: 12px;
}
.sub-cont {
  padding-top: 10px;
}
.layer_note2 {
  text-align: center;
  color: $color-black;
  line-height: 1.5em;
}
.layer_note3 {
  margin-bottom: 5px;
  color: $color-black;
}
.layer_top {
  background: $color-bg-grey;
  font-size: 11px;
  line-height: 1.4em;
  border-radius: 4px 4px 0 0;
  padding: 20px 0 15px 40px;
}
.layer_btm {
  background: $color-bg-grey;
  line-height: 1.2em;
  border-radius: 0 0 4px 4px;
  padding: 20px 20px 16px;
  color: $color-black;
}
.layer_btm1 {
  background: #f5f5f5;
  padding: 13px 40px 35px;
  line-height: 1.5em;
  border-radius: 0 0 4px 4px;
}
.layer_buttons {
  padding-top: 46px;
  font-size: 11px;
  line-height: 16px;
  color: $color-text-grey;
  text-align: center;
  overflow: hidden;
}
.layer_or {
  line-height: 38px;
}