/* popups */
.popup-cont {
  position: relative;
}
.popup-layer {
  position: absolute;
  box-shadow: 0 5px 7px 1px rgba(0,0,0,0.25);
  background: $color-white;
  border-radius: 5px;
  z-index: 1000;
  display: none;

  &:before {
    content: '';
    position: absolute;
    top: -18px;
    border: 9px solid transparent;
  }
}
.popup-inner {
  padding: 20px;
}
.popup-close {
  width: 14px;
  height: 15px;
  background: url(../images/ico/close-blue.png) no-repeat;
  cursor: pointer;
  right: 13px;
  top: 13px;
  position: absolute;
}
.popup-close:hover {
  background-position: left bottom;
}

.popup_breed {
  width: 400px;
  left: 0;

  &:before {
    left: 20px;
    border-bottom-color: $color-white;
  }
}
.popup_colored {
  border-top: 3px solid $color-link-blue;

  &:before {
    top: -21px;
    border-bottom-color: $color-link-blue;
  }
}
.popup_city {
  width: 940px;
  z-index: 8001;

  &:before {
    left: 100px;
  }
}
.popup_notice {
  width: 290px;

  &:before {
    right: 33px;
  }
  .popup-inner {
    padding: 15px 20px;
    line-height: 21px;
  }
}
.popup_person {
  width: 130px;
  right: 0;

  &:before {
    right: 23px;
  }
  .popup-inner {
    padding: 10px 20px 13px;
    line-height: 25px;
  }
}