.select2-drop,
.select2-chosen {
  .pr {
    width: 64px;
    font-size: 14px;
    line-height: 28px;
    font-family: 'opensansbold';
    display: block;
    float: left;
  }
  .val {
    display: block;
    float: right;
  }
  .color {
    display: inline-block;
    vertical-align: middle;
    @include size(20px);
    margin-right: 6px;
    border-radius: 2px;

    &.red {
      background-color: #e5150b;
    }
    &.green {
      background-color: green;
    }
    &.yellow {
      background-color: yellow;
    }
    &.black {
      background-color: black;
    }
  }
}

.select2-chosen {
  overflow: hidden;
}
select.select2,
select.select2-complex {
  height: 28px;
  line-height: 28px;
}
.catalog-item-price {
  select, .select2 {
    width: 135px !important;
  }
}
.catalog-item-count {
  select, .select2 {
    width: 40px !important;
  }
}
.ib {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.small-select .select2-container .select2-choice{
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}
.big-select .select2-container {
  width: 100%!important;

  .select2-drop,
  .select2-chosen {
    .pr {
      height: 38px;
      line-height: 38px;
      font-size: 21px;
    }
  }
  .select2-choice {
    height: 38px;
    line-height: 38px;
  }
}

.date-select .select2-container .select2-choice .select2-arrow b {
  background-image: url(../images/ico/date.png);
}

.form_group .select2-container {
  width: 100%!important;

  .select2-choice {
    background-color: $color-bg-grey;
  }
}