.sort {
  padding: 10px 20px;
  background-color: $color-bg-grey;
}
.sort {
  color: $color-black;
}
a.sort-btn {
  border: 1px solid $color-grey;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  border-radius: 5px;
  float: left;
  margin-right: 8px;
  text-decoration: none;
}
.sort-btn:hover {
  background-color: $color-grey;
  text-decoration: none;
  color: $color-black;
}
.sort-btn.active {
  background-color: $color-blue;
  color: $color-white;
  border-color: $color-blue;
}
.sort-btn.active.sort-up {
  background: url(../images/ico/ar-up.png) no-repeat 10px center $color-blue;
  padding-left: 27px;
}
.sort-btn.active.sort-down {
  background: url(../images/ico/ar-down.png) no-repeat 10px center $color-blue;
  padding-left: 27px;
}
.sort-title {
  float: left;
  margin-right: 9px;
  line-height: 28px;
}
.sort-count {
  line-height: 28px;
}