/* sorts */
.sort {
  padding: 10px 20px;
  background-color: $color-bg-grey;
  color: $color-black;
}
.sort_group {
  margin-right: 12px;
}
a.sort_btn {
  border: 1px solid $color-grey;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  border-radius: 5px;
  float: left;
  margin-right: 8px;
  text-decoration: none;
}
.sort_btn:hover {
  background-color: $color-grey;
  text-decoration: none;
  color: $color-black;
}
.sort_btn.active {
  background-color: $color-blue;
  color: $color-white;
  border-color: $color-blue;
}
.sort_btn.active.sort-up {
  background: url(../images/ico/ar-up.png) no-repeat 10px center $color-blue;
  padding-left: 27px;
}
.sort_btn.active.sort-down {
  background: url(../images/ico/ar-down.png) no-repeat 10px center $color-blue;
  padding-left: 27px;
}
.sort_title {
  float: left;
  margin-right: 9px;
  line-height: 28px;
}
.sort_count {
  line-height: 28px;
}