/* tables */
table {
  width: 100%;
}
table.cols5 {
  margin-bottom: 20px;
}
table.cols5 td {
  width: 20%;
}
table.eq-cols td {
  width: 47.5%;
  padding-right: 2%;
  border-top: 1px solid $color-grey-light;
  padding-top: 20px;
}
table.eq-cols td.left-td {
  width: 44%;
  padding-right: 6%;
}